openapi: 3.0.0
servers:
  - url: https://sandbox.przelewy24.pl
    description: Sandbox server (uses test data)
  - url: https://secure.przelewy24.pl
    description: Production server (uses live data)
info:
  x-logo:
    url: "getfile/p24-logo_mini.png"
    altText: LogoP24
  contact:
    name: Przelewy24 Support
    url: https://www.przelewy24.pl/support
  title: Przelewy24 REST API Documentation
  description: >

  version: 1.0.16
x-tagGroups:
  - name: Integration
    tags:
      - Payment system
      - Authentication
      - Set up and test your accounts
      - API guidelines
      - Use cases
      - Definitions
      - Graphic materials
  - name: Transaction service
    tags:
      - Transaction service API
      - Notification
      - Calculating Sign
  - name: Additional services
    tags:
      - Additional API functionality
      - RefundNotification
      - Payment Methods Use Cases 
  - name: Card payment
    tags:
      - Card API
      - Card Notification
  - name: BLIK
    tags:
      - BLIK Use Cases
      - BLIK API
      - BLIK Additional
      - Alias Update Notification
  - name: Reports
    tags:
      - Report API      
  - name: How to integrate installments?
    tags:
      - Buttons and banners
      - Widget
      - Simulator  
paths:
   /api/v1/transaction/register:
    post:
      tags:
        - Transaction service API
      summary: Transaction registration
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/TransactionRequestBody1"
        description: Before sending the transaction request, transaction data must be saved
          in the merchant’s local database. In particular, the session ID and
          the transaction amount should be stored. <br><br><hr>
          <h3>Redirection to transaction panel</h3>
          URL address:https://secure.przelewy24.pl/trnRequest/{TOKEN}<br><br>
          where {TOKEN} was obtained upon transaction registration.<br>
          <hr><br>

          On transaction success the URL address transferred in  <a href="#tag/Transaction-service-API/paths/~1api~1v1~1transaction~1register/post"><b>"urlStatus"</b></a> parameter is used to send notification irrespective of whether the customer has been redirected to  <a href="#tag/Transaction-service-API/paths/~1api~1v1~1transaction~1register/post"><b>"urlReturn"</b></a> or not. The notification is sent only for correct payments. The system does not send information on invalid or failed payments. The notification is sent in the JSON format.<br><br>
          <a href="#tag/Notification"><font color = "red"><b>Show Transaction result JSON</b></font></a>

        required: true
      responses:
        "200":
          description: successful operation
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TransactionRegistrationResponse"
        "400":
          description: bad request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/InvalidInputData"
        "401":
          description: not authorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UnauthorizedResponse"
      security:
        - basicAuth: []
   /api/v1/transaction/verify:
    put:
      tags:
        - Transaction service API
      summary: Transaction verification
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/TransactionVerificationBody"
        description: After receiving notification, the merchant’s system should perform an
          additional action to confirm the payment and authenticate the
          notification. It is necessary to use transaction/verify method.<br><br>
          **Important!** Transaction will be confirmed only after verification process. In case the customer performs transaction and merchant does not verify performed transaction, amount will not be transferred to the merchant and settled. It will stay at the customer’s disposal as an advance payment.
      responses:
        "200":
          description: successful operation
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TransactionVerificationResponse"
        "400":
          description: bad request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/InvalidInputData"
        "401":
          description: not authorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UnauthorizedResponse"
      security:
        - basicAuth: []


   /api/v1/testAccess:
    get:
      tags:
        - Additional API functionality
      summary: Test Access
      description: Test connection. REST uses  <a href="#section/Authentication"><b>"basicAuth"</b></a> authorisation standard, where login and password are, respectively, account ID in P24 and the API key obtained from the “My data” section (“API and configuration data” subsection).
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TransactionTestAccess200"
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/InvalidInputData"
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UnauthorizedResponse"
      security:
        - basicAuth: []
   /api/v1/payment/methods/{lang}?amount=150&currency=PLN:
    get:
      tags:
        - Additional API functionality
      summary: Payment Methods
      description: Method returns a list of payment methods.
      parameters:
        - name: lang
          in: path
          description: "A language code. One of these: pl , en"
          required: true
          schema:
            type: string
            enum:
              - pl
              - en
        - in: query
          name: amount
          schema:
            type: integer
          description: Value of the amount.<br>It gives the possibility of clarifying whether a given form of payment is available for a specific amount.
          required: false
        - in: query
          name: currency
          schema:
            type: string
            default: PLN
          description: Currency compatible with ISO, e.g. PLN
          required: false
      responses:
        "200":
          description: List of payment methods
          content:
            application/json:
              schema:
                properties:
                  data:
                    type: array
                    description: List of methods
                    items:
                      $ref: "#/components/schemas/PaymentMethodsResponseMethod"
                  agreements:
                    type: array
                    description: List of agreements
                  responseCode:
                    type: string
                    default: ""
                type: object
        "403":
          description: Not authorized.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UnauthorizedResponse"
        "404":
          description: Payment methods not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BasicResponse"
      security:
        - basicAuth: []
   /api/v1/transaction/refund:
    post:
      tags:
        - Additional API functionality
      summary: Refund transaction
      description: Create refund for one or more transactions.
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TransactionRefundJsonRequestBody'
        description: 'Parameter ''refunds'' may contain multiple refunds.'
        required: true
      responses:
        "201":
          description: 'Created. Parameter ''data'' contains all refunds.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TransactionRefund201'
        "400":
          description: 'Invalid input data'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InvalidInputDataRefund'
        "401":
          description: 'Not authorized'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedResponse'
        "409":
          description: 'Conflict'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TransactionRefund409'
        "500":
          description: 'Unknown error'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Refund500Response'
      security:
        - basicAuth: []
   /api/v1/transaction/registerOffline:
    post:
      description: This method allows you to register offline payments. To use the method, you must first register standard payment transaction with <a href="#tag/Transaction-service-API/paths/~1api~1v1~1transaction~1register/post"><b>register transaction</b></a> method.<br><br>Additionally, you can control which bank use for payment by using the method parameter.
      tags:
        - Additional API functionality
      summary: Register offline transaction
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/TransactionRegisterOfflineRequest"
          application/x-www-form-urlencoded:
            schema:
              $ref: "#/components/schemas/TransactionRegisterOfflineRequest"
        description: Input parameters.
        required: true
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TransactionRegistrationOffline200"
        "400":
          description: Invalid input data
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/InvalidInputData"
        "401":
          description: Not authorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UnauthorizedResponse"
        "409":
          description: Conflict
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TransactionRegistrationOffline409"
        "500":
          description: Undefined error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorCodeResponse"
      security:
        - basicAuth: []
   /api/v1/transaction/register/splitpayment:
    post:
      description: Split Payments are charged using previously registered token in a process analogous to  <a href="#tag/Transaction-service-API/paths/~1api~1v1~1transaction~1register/post"><b>transaction/register</b></a>. When registering the token, you must add the <b>splitPaymentDetails</b> object characteristic for this form of transaction execution.
      tags:
        - Additional API functionality
      summary: Split Payment
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/TranstactionSplitPayment"
        description: Array
      responses:
        "200":
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TransactionRegistrationResponse"
        "400":
          description: Bad request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/InvalidInputData"
        "401":
          description: Not authorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UnauthorizedResponse"
      security:
        - basicAuth: []
   '/api/v1/refund/by/orderId/{orderId}':
    get:
      tags:
        - Additional API functionality
      summary: Refund by OrderID
      description: Get refund details for given Order Id
      consumes:
        - application/json
        - application/x-www-form-urlencoded
      parameters:
        -
          name: orderId
          in: path
          description: 'existing refund Order Id'
          required: true
          type: integer
          format: int64
      responses:
        "200":
          description: 'Request has been processed successful. Parameter ''data'' contains refund info.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TransactionRefundsInfoResponse'
        "401":
          description: 'Not authorized'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedResponse'
        "404":
          description: 'Refund with given Order Id not found'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TransactionNotFoundResponse'
        "500":
          description: 'Undefined error'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorCodeResponse'
      security:
        - basicAuth: []
   '/api/v1/transaction/by/sessionId/{sessionId}':
    get:
      tags:
        - Additional API functionality
      summary: Get transaction by sessionID
      description: Method returns transaction information by sessionId
      consumes:
        - application/json
        - application/x-www-form-urlencoded
      parameters:
        -
          name: sessionId
          in: path
          description: 'Transaction ID assigned by Merchant'
          required: true
          type: string
      responses:
        "200":
          description: 'OK'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TransactionBySessionIdSuccessResponse'
        "400":
          description: 'Invalid input data'
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/InvalidInputData"
        "401":
          description: 'Incorrect authentication'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedResponse'
        "404":
          description: 'Transaction not exist'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TransactionNotFoundResponse'
      security:
        - basicAuth: []



   /api/v1/paymentMethod/blik/chargeByCode:
    post:
      tags:
        - BLIK API
      summary: 'BLIK charge by code'
      description: Allows to charge blik transaction with T6 code. Returns unique transaction Id.
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/RecurringParams"
      responses:
        "201":
          description: Created
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BlikChargeByCodeResponse"
        "400":
          description: Invalid input data
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/InvalidInputData"
        "401":
          description: not authorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UnauthorizedResponse"
        "500":
          description: Undefined error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorCodeResponse"
      security:
        - basicAuth: []
   /api/v1/paymentMethod/blik/chargeByAlias:
    post:
      tags:
        - BLIK API
      summary: BLIK charge by Alias
      description: ChargeByAlias is a one click payment method. It allows to charge customer using a previously obtained alias (**getAliasesByEmail**). Alias obtained must be provided in <a href="#tag/Transaction-service-API/paths/~1api~1v1~1transaction~1register/post"><b>methodRefId</b></a> parameter during transaction registration
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/BlikOneClick"
      responses:
        "201":
          description: Created
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BlikChargeByCodeResponse"
        "400":
          description: Bad request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/InvalidInputData"
        "401":
          description: Not authorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UnauthorizedResponse"
        "409":
          description: AlternativeKeys
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ChargeByAlias409"
        "500":
          description: Undefined error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorCodeResponse"
      security:
        - basicAuth: []
   /api/v1/paymentMethod/blik/getAliasesByEmail/{email}:
    get:
      tags:
        - BLIK API
      summary: Getting Aliases ByEmail
      description: In order to receive an alias for subsequent payments, call the
                    <b>"getAliasesByEmail" </b>method.<br><br>
                    The method returns a list of aliases (along with the type and status) created for a given email address
                    in the scope of a given merchant.<br><br>
      parameters:
        - name: email
          in: path
          description: For aliases registered by email address
          required: true
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Transaction200Blik"
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/InvalidInputData"
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UnauthorizedResponse"
        "404":
          description: 'Alias not found'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TransactionNotFoundResponse'
      security:
        - basicAuth: []
   /api/v1/paymentMethod/blik/getAliasesByEmail/{email}/custom:
    get:
      tags:
        - BLIK API
      summary: Getting Aliases ByEmail (Custom)
      description: In order to receive an alias for subsequent payments, call the
                    <b>"getAliasesByEmail" </b>method.<br><br>
                    The method returns a list of aliases (along with the type and status) created for a given email address
                    in the scope of a given merchant.
      parameters:
        - name: email
          in: path
          description: For Aliases registered with values <b><i><b>"aliasValue"</b></b></i> and <b><i><b>"aliasLabel"</b></b></i>
          required: true
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Transaction200Blik"
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/InvalidInputData"
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UnauthorizedResponse"
        "404":
          description: 'Alias not found'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TransactionNotFoundResponse'
      security:
        - basicAuth: []



   "/api/v1/card/info/{orderId}":
    get:
      tags:
        - Card API
      summary: Card info
      parameters:
        - name: orderId
          in: path
          description: An unique order ID.
          required: true
          schema:
            type: integer
            format: int64
      description: The method generates information about specific payment card based on previous payment. Including reference number to charge card without CVV authorisation.
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/cardinfores"
        "400":
          description: Wrong input data
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorCodeResponse"
        "403":
          description: Not authorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UnauthorizedResponse"
        "404":
          description: Transaction not exists
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorCodeResponse"
      security:
        - basicAuth: []
   /api/v1/card/chargeWith3ds:
    post:
      tags:
        - Card API
      summary: Charge card with 3DS
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CardChargeRequestBody"
      description: The method allows to charge a card based on the reference number.
      responses:
        "200":
          description: The charge card command has been accepted - notification will be
            send on success.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ChargeCard3dsSuccessResponse"
        "201":
          description: The card payment requires 3DS redirection
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ChargeCard3dsSuccessResponse"
        "400":
          description: Invalid input data
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/InvalidInputData"
        "401":
          description: Not authorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UnauthorizedResponse"
      security:
        - basicAuth: []
   /api/v1/card/charge:
    post:
      tags:
        - Card API
      summary: Charge card
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CardChargeRequestBody"
      description:  The method allows to charge a card based on the reference number.
      responses:
        "200":
          description: The charge card command has been accepted - notification will be
            send on success.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ChargeCardSuccessResponse"
        "400":
          description: Invalid input data
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/InvalidInputData"
        "401":
          description: Not authorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UnauthorizedResponse"
      security:
        - basicAuth: []
   /api/v1/card/pay:
    post:
      tags:
        - Card API
      summary: Card Payment
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CardRegisterRequestBody"
      description: Method is used for charging customer's card. Method directly sends card details. To use the method, the merchant must have PCI DSS certificate.
      responses:
        "200":
          description: The card payment has been succesed.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CardPaySuccessResponse"
        "201":
          description: The card payment requires 3DS redirection.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CardPayThreeDSecureResponse"
        "400":
          description: Invalid input data
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/InvalidInputData"
        "401":
          description: Not authorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UnauthorizedResponse"
        "409":
          description: Conflict
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CardPayResponse409"
      security:
        - basicAuth: []
   /api/v1/report/history:
    get:
      tags:
        - Report API
      summary: History transaction
      description: '<div id="note" style="padding: 7px;">To enable this functionality, please contact integration department via <a href="https://www.przelewy24.pl/en/help-center/integration-support"><b>contact form</b></a></div><br/>This method gives you back information about: batches, transactions and refunds, in questioned period of time.<br/><h2>Pagination</h2>To call next page you need to call <b>report/history</b> with <b>token</b> as a query parameter, e.g.:<table border="0 px"><tr><th bgcolor="#0f6ab4"><font color="white"><b>GET</b></font></th><th bgcolor="E7F0F7"><a href="	https://secure.przelewy24.pl/api/v1/report/history/{token}">	https://secure.przelewy24.pl/api/v1/report/history/{token}</a></th></tr></table>'
      parameters:
        - name: dateFrom
          in: path
          description: Date in format YYYYMMDD
          required: true
          schema:
            type: string
        - name: dateTo
          in: path
          description: Date in format YYYYMMDD. Max period length is 31 days
          required: true
          schema:
            type: string
        - name: type
          in: path
          description: 'Type of objects to load. Omit this parameter, if you want to load everything. Acceptable values: batch, transaction, refund.'
          required: false
          schema:
            type: string
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HistoryResponse200Body"
        "400":
          description: Bad request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HistoryError400Body"
        "401":
          description: Not authorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GeneralErrorResponse"
        "500":
          description: Undefined error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GeneralErrorResponse"
      security:
        - basicAuth: []        
   /api/v1/report/batch/details:
    get:
      tags:
        - Report API
      summary: Batch information
      description: '<div id="note" style="padding: 7px;">To enable this functionality, please contact integration department via <a href="https://www.przelewy24.pl/en/help-center/integration-support"><b>contact form</b></a></div><br/> Method returns all transactions and refunds paid in requested batch.<br/><h2>Pagination</h2>To call next page you need to call <b>report/batch/details</b> with token in payload e.g.:<table border="0 px"><tr><th bgcolor="#0f6ab4"><font color="white"><b>GET</b></font></th><th bgcolor="E7F0F7"><a href="	https://secure.przelewy24.pl/api/v1/report/batch/details/{token}">	https://secure.przelewy24.pl/api/v1/report/batch/details/{token}</a></th></tr></table>'
      parameters:
        - name: batch
          in: path
          description: Unique ID of batch (withdrawal)
          required: true
          schema:
            type: integer
        - name: token
          in: path
          description: Token needed to request next page
          required: false
          schema:
            type: string
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BatchDetails200ResponseBody'
        "400":
          description: Bad request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BatchDetailsError400Body"
        "401":
          description: Not authorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GeneralErrorResponse"
        "500":
          description: Undefined error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GeneralErrorResponse"
      security:
        - basicAuth: []

   /bundle/payWithGoogle/{TOKEN}:
    get:
      tags:
        - GPay API
      summary: Token transfer
      consumes:
        - application/json
        - application/x-www-form-urlencoded
      parameters:
        -
          name: TOKEN
          in: path
          description: Token obtained from Przelewy24.
      description:
        Upon token obtaining from P24, JavaScript script should be called.<br><br>

        On completion of the transaction, a relevant response (callback) is called.

        In case 3D-Secure is required, customer will be redirected to bank’s website. After authorisation customer will be redirected to URL provided in <a href="#tag/Transaction-service-API/paths/~1api~1v1~1transaction~1register/post"><b>"urlReturn"</b></a> parameter.
      x-codeSamples:
          - lang: HTML
            source: |
              <head>
                <meta charset="UTF-8">
                <meta name="viewport"
                      content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
                <meta http-equiv="X-UA-Compatible" content="ie=edge">
                <title>PayWithGoogle</title>
                <script src="https://secure.przelewy24.pl/bundle/payWithGoogle/{{TOKEN}}"></script>
              </head>
              <body>
              <script>
                document.addEventListener("DOMContentLoaded", function () {
                    Przelewy24PayWithGoogle.config({
                        errorCallback: function () {
                            alert("error");
                        },
                        exceptionCallback: function () {
                            alert("exception");
                        },
                        requestFailedCallback: function () {
                            alert('requestFailed');
                        },
                        completePaymentCallback: function () {
                            alert("success");
                        }
                    });
                    Przelewy24PayWithGoogle.charge();
                });
              </script>
              </body>

   /bundle/applepay/{TOKEN}:
    get:
      tags:
        - APay API
      summary: Token transfer
      servers:
      - url: https://secure.przelewy24.pl
        description: Production server (uses live data)
      consumes:
        - application/json
        - application/x-www-form-urlencoded
      parameters:
        -
          name: TOKEN
          in: path
          description: Token obtained from Przelewy24.
      description:
        Upon token obtaining from P24, JavaScript script should be called<br><br>

        On completion of the transaction, a relevant response (callback) is called.



      x-codeSamples:
          - lang: HTML
            source: |
                <head>
                    <meta charset="UTF-8">
                    <meta name="viewport"
                          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
                    <meta http-equiv="X-UA-Compatible" content="ie=edge">
                    <title>Apple Pay</title>
                    <script src="https://secure.przelewy24.pl/bundle/applepay/{{TOKEN}}"></script>
                </head>
                <body>
                <script>
                    document.addEventListener("DOMContentLoaded", function () {
                      Przelewy24ApplePay.config({
                        errorCallback: function () {
                            alert("error");
                        },
                        exceptionCallback: function () {
                            alert("exception");
                        },
                        requestFailedCallback: function () {
                            alert('requestFailed');
                        },
                        completePaymentCallback: function () {
                            alert("success");
                        }
                      });
                    Przelewy24ApplePay.charge();
                    });
                  </script>
                  </body>




####components######
components:
  securitySchemes:
   basicAuth:
      description: This is the default authentication method. User and secretId are available in P24 panel:<br/>- "User" it's the same value as posId,<br/>- secretId it's the samevalue as key for reports (API key).
      type: http
      scheme: basic
  schemas:
    TransactionVerificationResponse:
      properties:
        data:
          properties:
            status:
              type: string
              default: success
          type: object
        responseCode:
          type: number
          default: 0
    TransactionVerificationBody:
      properties:
        merchantId:
          description: Merchant ID
          type: integer
        posId:
          description: Shop identification number (defaults to merchant ID)
          type: integer
        sessionId:
          description: Unique identifier from merchant's system
          type: string
          maxLength: 100
        amount:
          description: Transaction amount which format is presented as amount in lowest currency unit, e.g. 1.23 PLN = 123
          type: integer
        currency:
          description: Currency
          type: string
          maxLength: 3
          default: "PLN"
        orderId:
          description: Id of an order assigned by P24
          type: integer
          format: int64
        sign:
          description: Checksum of parameters:<br>
            {<font color = "brown">"sessionId":</font>"str",<font color = "brown">"orderId":</font>int,<font color = "brown">"amount":</font>int,<font color = "brown">"currency":</font>"str",<font color = "brown">"crc":</font>"str"}
            <br><br>calculated with the use of sha384<br><br> <b><font color = "#DB2053">IMPORTANT!:</font></b><br>  in case json_encode function is used, the following attributes should be added
            <br> "JSON_UNESCAPED_UNICODE | JSON_UNESCAPED_SLASHES"
          type: string
      required:
        - posId
        - sessionId
        - amount
        - currency
        - orderId
        - sign
        - merchantId
    AvailabilityHoursResponse:
      properties:
        mondayToFriday:
          type: string
        saturday:
          type: string
        sunday:
          type: string
    TransactionRequestBody1:
      type: object
      properties:
        merchantId:
          name: merchantId
          in: formData
          description: Merchant identification number
          type: integer
        posId:
          name: posId
          in: formData
          description: Shop identification number (defaults to merchant ID)
          type: integer
        sessionId:
          name: sessionId
          in: formData
          description: Unique identifier from merchant's system
          type: string
          maxLength: 100
        amount:
          name: amount
          in: formData
          description: Transaction amount expressed in lowest currency unit, e.g. 1.23 PLN = 123
          type: integer
        currency:
          name: currency
          in: formData
          description: Currency compatible with ISO, e.g. PLN
          type: string
          maxLength: 3
          default: PLN
        description:
          name: description
          in: formData
          description: Transaction description
          type: string
          maxLength: 1024
        email:
          name: email
          in: formData
          description: Customer's e-mail
          type: string
          maxLength: 50
        client:
          name: client
          in: formData
          description: Customer's first name and surname
          type: string
          maxLength: 40
        address:
          name: address
          in: formData
          description: Customer's address
          type: string
          maxLength: 80
        zip:
          name: zip
          in: formData
          description: Customer's postal code
          type: string
          maxLength: 10
        city:
          name: city
          in: formData
          description: Customer's city
          type: string
          maxLength: 50
        country:
          name: country
          in: formData
          description: Country codes compatible with  ISO, e.g. PL, DE, etc.
          type: string
          maxLength: 2
          default: PL
        phone:
          name: phone
          in: formData
          description: "Customer's telephone in the following format:  481321132123"
          type: string
          maxLength: 12
        language:
          name: language
          in: formData
          description: "One of following language codes according to ISO 639-1: bg, cs, de,
            en, es, fr, hr, hu, it, nl, pl, pt, se, sk, ro"
          type: string
          maxLength: 2
          default: pl
        method:
          name: method
          in: formData
          description: Payment method ID. List of payment methods provided in the panel or
            available through API
          type: integer
        urlReturn:
          name: urlReturn
          in: formData
          description: URL address to which customer will be redirected when transaction is
            complete
          type: string
          maxLength: 250
        urlStatus:
          name: urlStatus
          in: formData
          description: URL address to which transaction status will be send
          type: string
          maxLength: 250
        timeLimit:
          name: timeLimit
          in: formData
          description: Time limit for transaction process, 0 - no limit, max. 99 (in
            minutes)
          type: integer
        channel:
          name: channel
          description: "
                      1 - card + ApplePay + GooglePay,
                      2 - transfer,
                      4 - traditional transfer,
                      8 -
                                  N/A,
                      16 - all 24/7 – makes available all payment methods,
                      32 -
                                  use pre-payment,
                      64 – only pay-by-link methods,
                      128 –
                                  instalment payment forms,
                      256 – wallets, 
                      4096 - card,
                      8192 - blik,
                      16384 - all methods except blik

                      <p>To activate the
                                  specific channels, their values should be summed
                                  up.

                      <p>Example:

                      transfer and traditional transfer:
                                  channel=6"
          type: integer
          enum:
            - 1
            - 2
            - 4
            - 8
            - 16
            - 32
            - 64
            - 128
            - 256
            - 4096
            - 8192
            - 16384
        waitForResult:
          type: boolean
          description: Parameter determines wheter a user should wait for result of the transaction in the transaction service and be redirected back to the shop upon receiving confirmation or be redirected back to the shop immediately after payment. <a href="#section/Use-cases"><b>Read more</b></a>
        regulationAccept:
          type: boolean
          description: 'Acceptance of Przelewy24 regulations: <br/>false – display consent on p24 website (default),<br/>true – consent granted, do not display.<br/>In case the „true” parameter is sent, the consent – worded as follows – must be displayed on the Partner’s website: „I hereby state that I have read the [regulations](https://www.przelewy24.pl/regulamin) and [information obligation](https://www.przelewy24.pl/obowiazekinformacyjny) of ”Przelewy24”. <br/>Under words <i>regulations</i> and <i>information obligation</i> there must be hyperlinks redirecting to websites with these documents. The checkbox must not be ticked by default.'
          default: false
        shipping:
          name: shipping
          in: formData
          description: Delivery cost
          type: integer
        transferLabel:
          name: transferLabel
          in: formData
          description: Description forwarded to transfer's description  (not in every payment methods). A parameter can contain values only ​​in a range [a-z A-Z 0-9 ęółśążźćńĘÓŁŚĄŻŹĆŃ . /\ :- ]
          type: string
          maxLength: 20
        mobileLib:
          name: mobileLib
          description: The parameter is necessary while using SDK libraries. The value passed in <b>mobileLib</b> parameter is always 1 and value passed in <b>sdkVersion</b> determines which version of library should be used.
          type: integer
          enum:
            - 1
        sdkVersion:
          name: sdkVersion
          in: formData
          description: Version of mobile library. Determines if transaction is mobile.
          type: string
          maxLength: 10
        sign:
          name: sign
          in: formData
          type: string
          maxLength: 100
          description: <br>Checksum of parameters:<br>
            {<font color = "brown">"sessionId":</font>"str",<font color = "brown">"merchantId":</font>int,<font color = "brown">"amount":</font>int,<font color = "brown">"currency":</font>"str",<font color = "brown">"crc":</font>"str"}
            <br><br>calculated with the use of sha384<br><br> <b><font color = "#DB2053">IMPORTANT!:</font></b><br>  in case json_encode function is used, the following attributes should be added <br> "JSON_UNESCAPED_UNICODE | JSON_UNESCAPED_SLASHES"
        encoding:
          name: encoding
          in: formData
          description: "Coding system for characters sent: ISO-8859-2, UTF-8, Windows-1250"
          type: string
          maxLength: 15
        methodRefId:
          name: methodRefId
          in: formData
          description: Special parameter for some payment flows e.g. BLIK and Card
            one-click.
          type: string
          maxLength: 250
        cart:
          description: cart
          items:
            $ref: "#/components/schemas/CartParameters"
        additional:
          type: object
          description: Set of additional information about the transaction or the payer
          allOf:
            - $ref: "#/components/schemas/AdditionalProperties"             
      required:
        - merchantId
        - posId
        - sessionId
        - amount
        - currency
        - description
        - email
        - country
        - language
        - urlReturn
        - ttl
        - sign
    AdditionalProperties:
      properties:
         shipping:
              type: object
              description: Additional shipping information
              properties:
                type:
                  type: integer
                  description: Type of shipment:<br> 0 - courier<br>1 - delivery point<br>2 - parcel locker<br> 3 - package in a shop
                  enum:
                    - 0
                    - 1
                    - 2
                    - 3
                address:
                  type: string
                  description: 'Shipment address: street and number'
                zip:
                  type: string
                  description: Shipment zip code
                city:
                  type: string
                  description: Shipment city
                country:
                  type: string
                  description: Shipment country
              required:
               - type
               - address
               - zip
               - city
               - country
         PSU:
          type: object
          description: >
                Payment Service User<br>
                <b><font color = "#DB2053">IMPORTANT!:</font></b><br>
                Object required when using methods <b><a href="#tag/BLIK-API/paths/~1api~1v1~1paymentMethod~1blik~1chargeByCode/post">blikChargeByCode</a></b> or <b><a href="#tag/BLIK-API/paths/~1api~1v1~1paymentMethod~1blik~1chargeByAlias/post">blikChargeByAlias</a></b>.
          properties:
            IP:
              type: string
              description: IPv4 or IPv6
            userAgent:
              type: string   
              maxLength: 255
              description: userAgent is a string identifying the browser and operating system.
    TransactionRegistrationResponse:
      properties:
        data:
          properties:
            token:
              type: string
          type: object
        responseCode:
          type: number
          default: 0

    Transaction200Blik:
      properties:
        data:
          description: Array of objects related to the BLIK alias
          items:
            $ref: "#/components/schemas/BlikAlias200"
        responseCode:
          type: integer
          default: 0

    BlikAlias200:
      properties:
        value: 
          type: string
          description: alias value
        type:
          type: string
          description: alias type
        status:
          type: string
          description: alias status
        expirationDate:
          type: string
          description: alias expiration date

    InvalidInputData:
      properties:
        error:
          type: string
          default: Invalid input data
          example: Invalid input data
        code:
          type: number
          default: 400
          example: 400
    UnauthorizedResponse:
      properties:
        error:
          type: string
          default: Incorrect authentication
          example: Incorrect authentication
        code:
          type: number
          default: 401
          example: 401
    TransactionTestAccess200:
      properties:
        data:
          type: boolean
          default: true
        error:
          type: string
    PaymentMethodsResponse:
      properties:
        name:
          type: string
          description: Name of payment method
        id:
          type: integer
          description: Payment method ID
        status:
          type: boolean
          description: Specifies whether a given method is active
        imgUrl:
          type: string
          description: Link do grafiki
        mobileImgUrl:
          type: string
          description: Link do grafiki mobilnej
        mobile:
          type: boolean
          description: Czy forma płatności jest dostępna mobilnie
        availabilityHours:
          $ref: "#/components/schemas/AvailabilityHoursResponse"
    BasicResponse:
      properties:
        data:
          type: array
          default: Payment methods not found
          items:
            type: string
            default: Payment methods not found
        responseCode:
          default: 404
          type: number
    TransactionRefundJsonRequestBody:
      properties:
        requestId:
          type: string
          description: Individual request ID
          maxLength: 45
        refunds:
          type: array
          items:
            $ref: "#/components/schemas/RefundRequestArrayDataBasic"
        refundsUuid:
          type: string
          description: Individual ID for a correct refund request in the merchant’s system
          maxLength: 35
        urlStatus:
          type: string
          description: Notification address for the refund batch transferred
      required:
        - requestId
        - refunds
        - refundsUuid
    RefundRequestArrayDataBasic:
      properties:
        orderId:
          type: integer
          format: int64
          description: Transaction order ID from Przelewy24
        sessionId:
          type: string
          description: Transaction session ID from the Partner’s system
        amount:
          type: integer
          description: Amount of refund
        description:
          type: string
          description: Refund description visible in transfer details
          maxLength: 35
      type: object
      required:
        - orderId
        - sessionId
        - amount
    TransactionRefund201:
       properties:
        data:
          type: array
          items:
            $ref: "#/components/schemas/TransactionRefund201Item"
        responseCode:
          type: number
          example: 0
    TransactionRefund201Item:
     properties:
        orderId:
          type: integer
          format: int64
          description: Transaction order ID from Przelewy24
        sessionId:
          type: string
          description: Transaction session ID from the Partner’s system
        amount:
          type: integer
          description: Amount of refund
        description:
          type: string
          description: Transaction description
        status:
          type: boolean
          example: true
          description: Was refund attempt successful?
        message:
          type: string
          example: success
          description: Text description of successful refund
    InvalidInputDataRefund:
      properties:
        error:
          type: string
          example: Request already exists
          description: Error message. Possbile values:<br/><br/>"Invalid input parameters" - in case incorrect parameters or their values,<br/><br/> "Request already exists" - in case the refund was already created,<br/><br/> "Concurrent call" - in case the  refund is multiplied.
        code:
          type: number
          default: 400
          example: 400
    TransactionRefund409:
     properties:
        error:
          type: array
          items:
            $ref: "#/components/schemas/TransactionRefund409Item"
        code:
          type: integer
          example: 409
    TransactionRefund409Item:
      properties:
        orderId:
          type: integer
          format: int64
          description: Transaction order ID from Przelewy24
        sessionId:
          type: string
          description: Transaction session ID from the Partner’s system
        amount:
          type: integer
          description: Amount of refund
        description:
          type: string
          description: Refund description
        status:
          type: boolean
          example: false
          description: Was refund attempt successful?
        message:
          type: string
          example: The amount of refund exceeds available amount for the transaction
          description: Error message. Possible values:<br/><br/>"Transaction not found" - in case the transaction is not found, <br/><br/>"Transaction in wrong status - cannot refund" - in case the transaction is in wrong status, therefore the refundis not possible, <br/><br/>"Insufficient funds available" - in case there are not enough funds to execute the refund, <br/><br/>"The amount of refund exceeds available amount for the transaction" - in case the amount of the refund request exceeds available amount for the transaction
    Refund500Response:
      properties:
        error:
          type: string
          example: Unknown error
          description: Error message
        code:
          type: integer
          example: 500
          default: 500
    TransactionRegisterOfflineRequest:
      properties:
        token:
          type: string
    TransactionRegistrationOffline200:
      properties:
        data:
          properties:
            orderId:
              type: integer
              format: int64
              description: Unique transaction ID assigned by P24
            sessionId:
              type: string
              description: Unique ID assigned by the merchant’s system
            amount:
              type: integer
              description: Transaction amount
            statement:
              type: string
              description: Full payment title
            iban:
              type: string
              description: Number of account for payment
            ibanOwner:
              type: string
              description: Name of payment recipient
            ibanOwnerAddress:
              type: string
              description: Address of payment recipient
          type: object
        responseCode:
          type: number
          example: 0
    TransactionRegistrationOffline409:
      properties:
        error:
          type: string
          default: Unable to create offline transaction
          example: Unable to create offline transaction
        code:
          type: number
          example: 409
    ErrorCodeResponse:
      properties:
        error:
          type: string
          example: Undefined error
          default: Undefined error
        code:
          type: integer
          example: 500
          default: 500
      type: object
    TranstactionSplitPayment:
      required:
        - merchantId
        - posId
        - sessionId
        - amount
        - currency
        - description
        - email
        - country
        - language
        - urlReturn
        - sign
        - splitPaymentDetails
        - description
      properties:
        merchantId:
          name: merchantId
          in: formData
          description: Merchant identification number
          type: integer
        posId:
          name: posId
          in: formData
          description: Shop identification number (defaults to merchant ID)
          type: integer
        sessionId:
          name: sessionId
          in: formData
          description: Unique identifier from merchant's system
          type: string
          maxLength: 100
        amount:
          name: amount
          in: formData
          description: Transaction amount expressed in lowest currency unit, e.g. 1.23 PLN = 123
          type: integer
        currency:
          name: currency
          in: formData
          description: Currency compatible with ISO, e.g. PLN
          type: string
          maxLength: 3
          default: PLN
        description:
          name: description
          in: formData
          description: Transaction description
          type: string
          maxLength: 1024
        email:
          name: email
          in: formData
          description: Customer's e-mail
          type: string
          maxLength: 50
        client:
          name: client
          in: formData
          description: Customer's first name and surname
          type: string
          maxLength: 40
        address:
          name: address
          in: formData
          description: Customer's address
          type: string
          maxLength: 80
        zip:
          name: zip
          in: formData
          description: Customer's postal code
          type: string
          maxLength: 10
        city:
          name: city
          in: formData
          description: Customer's city
          type: string
          maxLength: 50
        country:
          name: country
          in: formData
          description: Country codes compatible with  ISO, e.g. PL, DE, etc.
          type: string
          maxLength: 2
          default: PL
        phone:
          name: phone
          in: formData
          description: "Customer's telephone in the following format:  481321132123"
          type: string
          maxLength: 12
        language:
          name: language
          in: formData
          description: "One of following language codes according to ISO 639-1: bg, cs, de,
            en, es, fr, hr, hu, it, nl, pl, pt, se, sk, ro"
          type: string
          default: pl
          maxLength: 2
        method:
          name: method
          in: formData
          description: Payment method ID. List of payment methods provided in the panel or
            available through API
          type: integer
        urlReturn:
          name: urlReturn
          in: formData
          description: URL address to which customer will be redirected when transaction is
            complete
          type: string
          maxLength: 250
        urlStatus:
          name: urlStatus
          in: formData
          description: URL address to which transaction status will be send
          type: string
          maxLength: 250
        timeLimit:
          name: timeLimit
          in: formData
          description: Time limit for transaction process, 0 - no limit, max. 99 (in
            minutes)
          type: integer
        channel:
          name: channel
          in: formData
          description: "
                      1 - card + ApplePay + GooglePay,
                      2 - transfer,
                      4 - traditional transfer,
                      8 -
                                  N/A,
                      16 - all 24/7 – makes available all payment methods,
                      32 -
                                  use pre-payment,
                      64 – only pay-by-link methods,
                      128 –
                                  instalment payment forms,
                      256 – wallets, 
                      4096 - card,
                      8192 - blik,
                      16384 - all methods except blik

                      <p>To activate the
                                  specific channels, their values should be summed
                                  up.

                      <p>Example:

                      transfer and traditional transfer:
                        channel=6"
          type: integer
          enum:
            - "1"
            - "2"
            - "4"
            - "8"
            - "16"
            - "32"
            - "64"
            - "128"
            - "256"
            - "4096"
            - "8192"
            - "16384"
        shipping:
          name: shipping
          in: formData
          description: Delivery cost
          type: integer
        transferLabel:
          name: transferLabel
          in: formData
          description: Description forwarded to transfer's description  (not in every payment methods). A parameter can contain values only ​​in a range [a-z A-Z 0-9 ęółśążźćńĘÓŁŚĄŻŹĆŃ . /\ :- ]
          type: string
          maxLength: 20
        sdkVersion:
          name: sdkVersion
          in: formData
          description: Version of mobile library. Determines if transaction is mobile.
          type: string
          maxLength: 10
        sign:
          name: sign
          in: formData
          type: string
          maxLength: 100
          description: <br>Checksum of parameters:<br>
            {<font color = "brown">"sessionId":</font>"string",<font color = "brown">"merchantId":</font>int,<font color = "brown">"amount":</font>int,<font color = "brown">"currency":</font>"string",<font color = "brown">"crc":</font>"string"}
            <br><br>calculated with the use of sha384<br><br> <b><font color = "#DB2053">IMPORTANT!:</font></b><br>  in case json_encode function is used, the following attributes should be added <br> "JSON_UNESCAPED_UNICODE | JSON_UNESCAPED_SLASHES"
        encoding:
          name: encoding
          in: formData
          description: "Coding system for characters sent: ISO-8859-2, UTF-8, Windows-1250"
          type: string
          maxLength: 15
        cart:
          description: cart
          items:
            $ref: "#/components/schemas/CartParameters"
        methodRefId:
          name: methodRefId
          in: formData
          description: Special parameter for some payment flows e.g. BLIK and Card
            one-click.
          type: string
          maxLength: 250
        splitPaymentDetails:
          type: object
          properties:
            vatAmount:
              type: integer
              description: Kwota podatku VAT
            invoiceNumber:
              type: string
              description: Numer faktury
            nip:
              type: string
              description: Numer identyfikacji podatkowej
            iban:
              type: string
              description: Międzynarodowy numer rachunku bankowego IBAN (international bank account number)
          required:
            - vatAmount
            - invoiceNumber
            - nip
    CartParameters:
      description: Cart Parameters
      type: object
      required:
        - sellerId
        - sellerCategory
      properties:
        sellerId:
          type: string
          description: Shop ID on the part of Partner
        sellerCategory:
          type: string
          description: Shop category
        name:
          type: string
          description: Product name<br/><br/><font color="red">Required for PayPal payment method</font>
        description:
          type: string
          description: Product description<br/><br/><font color="red">Required for PayPal payment method</font>
        quantity:
          type: integer
          description: Product quantity<br/><br/><font color="red">Required for PayPal payment method</font>
        price:
          type: integer
          description: Product price<br/><br/><font color="red">Required for PayPal payment method</font>
        number:
          type: string
          description: Product number<br/><br/><font color="red">Required for PayPal payment method</font>
    TransactionRefundsInfoResponse:
      properties:
        data:
          $ref: "#/components/schemas/TransactionWithRefundsResponse"
        responseCode:
          type: number
          example: 0
    PaymentMethodsResponseMethod:
      properties:
        name:
          type: string
          description: Name of payment method
        id:
          type: integer
          description: Payment method ID
        group:
          type: string
          description: "Possible values: FastTransfers, Blik, eTransfer, Credit Card, Installments, Wallet, Foreign, PrePayment, TraditionalTransfer, Another. SplitPayment"
        subgroup:
          type: string
          description: "Possible values: FastTransfers, Blik, eTransfer, Credit Card, Installments, Wallet, Foreign, PrePayment, TraditionalTransfer, Another. SplitPayment"
        status:
          type: boolean
          example: true
          description: Specifies whether a given method is active
        imgUrl:
          type: string
          description: Link to graphics   
        mobileImgUrl:
          type: string
          description: Link to mobile graphics 
        mobile:
          type: boolean
          example: true
          description: Is the payment mobile method available?
        availabilityHours:
          $ref: "#/components/schemas/availabilityHours"

    availabilityHours:
      type: object
      description: An object containing information about the method's availability hours (methods with ID 177, 178 return bool true/false information)
      properties:
        mondayToFriday:
          type: string
        saturday:
          type: string
        sunday:
          type: string
    TransactionWithRefundsResponse:
      properties:
        orderId:
          type: integer
          format: int64
        sessionId:
          type: string
        amount:
          type: integer
        currency:
          type: string
        refunds:
          type: array
          items:
            $ref: "#/components/schemas/RefundsCollection"
      type: object
    RefundsCollection:
      properties:
        batchId:
          type: integer
        requestId:
          type: string
        date:
          type: string
        login:
          type: string
        description:
          type: string
        status:
          type: integer
          example: 3
          default: 3
          description: 1 - completed,<br/>2 - pending,<br/>3 - awaiting P24's acceptance,<br/>4 - rejected
        amount:
          type: integer
      type: object
    TransactionNotFoundResponse:
     properties:
        error:
          type: string
          default: Transaction not found
          example: Transaction not found
        responseCode:
          type: number
          default: 0
          example: 0
    InfoResponse:
      properties:
        country:
          type: string
          default: PL
        bank:
          type: string
          default: PL
      type: object
    TransactionBySessionIdSuccessResponse:
      properties:
        data:
          $ref: "#/components/schemas/TransactionBySessionIdResponse"
        responseCode:
          type: number
          default: 0
      type: object
    TransactionBySessionIdResponse:
      properties:
        statement:
          type: string
          description: Transfer title
        orderId:
          type: integer
          format: int64
          description: Transaction ID
        sessionId:
          type: string
          description: Transaction ID assigned by Merchant
        status:
          type: integer
          description: Transaction status. 0 - no payment, 1 - advance payment, 2 - payment made, 3 - payment returned
        amount:
          type: integer
          description: Transaction amount
        currency:
          type: string
          default: PLN
          description: Transaction currency
        date:
          type: string
          description: Transaction registration date
        dateOfTransaction:
          type: string
          description: Date of payment
        clientEmail:
          type: string
          description: Customer's e-mail
        accountMD5:
          type: string
          description: Customer's hashed bank account number
        paymentMethod:
          type: integer
          description: Payment method ID
        description:
          type: string
          description: Transaction description
        clientName:
          type: string
          description: Customer's first name and surname
        clientAddress:
          type: string
          description: Customer's address
        clientCity:
          type: string
          description: Customer's city
        clientPostcode:
          type: string
          description: Customer's zip code
        batchId:
          type: integer
          description: Batch number in which the transaction was paid
        fee:
          type: string
          description: Commission
    RecurringParams:
      type: object
      properties:
        token:
          type: string
          description: Token obtained during transaction registration request via <b><a href="#tag/Transaction-service-API/paths/~1api~1v1~1transaction~1register/post">transaction/register</a></b>. <br> <br>
            <b><font color = "#DB2053">IMPORTANT!:</font></b><br>
            In order to correctly charge the payer using the blikChargeByCode method the <b>PSU</b> object must be sent in the <b>additional</b> object in the <b><a href="#tag/Transaction-service-API/paths/~1api~1v1~1transaction~1register/post">transaction/register</a></b> request.
        blikCode:
          type: string
          description: 6-digit, one-time BLIK code generated in the app
        aliasValue:
          type: string
          description: Unique alias of the user which can be used to charge client's next transactions. <br><br><b><font color = "#DB2053">IMPORTANT!:</font></b> Parameter <b>required</b> if a `recurring` object was sent in the request.
        aliasLabel:
          type: string
          description:  Alias label displayed in the app. <br><br><b><font color = "#DB2053">IMPORTANT!:</font></b> Parameter <b>required</b> if a `recurring` object was sent in the request.
          minLength: 5
          maxLength: 35
        recurring:
          type: object
          $ref: "#/components/schemas/RecurringParamsIn"
      required:
        - token
        - blikCode
    RecurringParamsIn:
      description: >
        An object containing information on BLIK recurring payment.

        <div id="note"> 
        The recurring payment functionality is not enabled by default. Contact the Technical Service Department via <a href="https://www.przelewy24.pl/en/help-center/api-technical-support/is-your-question-not-answered"><b>contact form</b></a>, in order to launch the service. 
        </div>
      type: object
      discriminator:
        propertyName: type
        mapping:
          O: '#/components/schemas/RecurringParametersO'
          M: '#/components/schemas/RecurringParametersM'
          A: '#/components/schemas/RecurringParametersA'
      properties:
        type:
          type: string
          name: type
          enum:
            - M
            - A
            - O
          description: 'The type of recurring payment; allowed values: A, O, M'
          in: formData
          default: M
        expirationDate:
             type: string
             description: 'Allowed format: YYYY-MM-DD hh:mm:ss'
        frequency:
          type: string
          description: 'Frequency of the recurrency; value must fulfill regex: [1-9][0-9]{0,2}[DWMY])'
        totalLimitAmount:
          type: integer
          description: 'Maximum total amount that will be charged through the process'
        limitAmount:
          type: integer
          description: 'Maximum amount that will be charged in a single payment'
        totalLimitCount:
          type: integer
          description: 'Number of payments that will be issued in the whole process'
        minimumTime:
          type: boolean
          description: 'Parametr to control min flag'
          default: true
        availableBanks:
          description: 'parameter to control the verification of whether the bank supports recursion.
            If set to false, it is not checked if the bank supports recursion.'
          default: true
          type: boolean
    RecurringParametersO:
      allOf:
        # - $ref: '#/components/schemas/RecurringParamsIn'
        - type: object
          properties:
            type:
              type: string
              name: type
              enum:
                - M
                - A
                - O
              description: 'The type of recurring payment; allowed values: A, O, M'
              in: formData
            expirationDate:
              type: string
              description: 'Allowed format: YYYY-MM-DD hh:mm:ss'
            availableBanks:
              description: 'Parameter to control the verification of whether the bank supports recursion. If set to false, it is not checked if the bank supports recursion.'
              default: true
              type: boolean
            initDate:
              type: string
              description: 'Allowed format: YYYY-MM-DD'
          required:
           - type
    RecurringParametersA:
      allOf:
        - $ref: '#/components/schemas/RecurringParamsIn'
        - type: object
          properties:
            type:
              type: string
              name: type
              enum:
                - M
                - A
                - O
              description: 'the type of recurring payment; allowed values: A, O, M'
              in: formData
            initDate:
              type: string
              description: 'Allowed format: YYYY-MM-DD'
            expirationDate:
              type: string
              description: 'Allowed format: YYYY-MM-DD hh:mm:ss'
            frequency:
              type: string
              description: 'Frequency of the recurrency; value must fulfill regex: [1-9][0-9]{0,2}[DWMY])'
            totalLimitAmount:
              type: integer
              description: 'Maximum total amount that will be charged through the process'
            limitAmount:
              type: integer
              description: 'Maximum amount that will be charged in a single payment'
            totalLimitCount:
              type: integer
              description: 'Number of payments that will be issued in the whole process'
            availableBanks:
              description: 'Parameter to control the verification of whether the bank supports recursion. If set to false, it is not checked if the bank supports recursion.'
              default: true
              type: boolean
          required:
            - initDate
            - totalLimitAmount
            - limitAmount
            - frequency
            - type
    RecurringParametersM:
      allOf:
        - $ref: '#/components/schemas/RecurringParamsIn'
        - type: object
          properties:
            type:
              type: string
              name: type
              enum:
                - A
                - O
                - M
              description: 'the type of recurring payment; allowed values: A, O, M'
              in: formData
            expirationDate:
              type: string
              description: 'Allowed format: YYYY-MM-DD hh:mm:ss'
            frequency:
              type: string
              description: 'Frequency of the recurrency; value must fulfill regex: [1-9][0-9]{0,2}[DWMY])'
            totalLimitAmount:
              type: integer
              description: 'Maximum total amount that will be charged through the process'
            limitAmount:
              type: integer
              description: 'Maximum amount that will be charged in a single payment'
            totalLimitCount:
              type: integer
              description: 'Number of payments that will be issued in the whole process'
            minimumTime:
              type: boolean
              description: 'Parametr to control min flag'
              default: true
            availableBanks:
              description: 'Parameter to control the verification of whether the bank supports recursion. If set to false, it is not checked if the bank supports recursion.'
              default: true
              type: boolean
          required:
           - type
    BlikChargeByCodeResponse:
      properties:
        data:
          properties:
            orderId:
              type: integer
              format: int64
            message:
              type: string
          type: object
        responseCode:
          type: number
          default: 0
    BlikOneClick:
      type: object
      required:
        - token
        - type
      discriminator:
        propertyName: type
        mapping:
          alias: '#/components/schemas/Alias'
          alternativeKey: '#/components/schemas/Alternativekey'
          #blikCode: '#/components/schemas/Blik_Code'
      properties:
        token:
          type: string
          description: Token obtained during transaction registration request via <b><a href="#tag/Transaction-service-API/paths/~1api~1v1~1transaction~1register/post">transaction/register</a></b>. <br> <br>
            <b><font color = "#DB2053">IMPORTANT!:</font></b><br>
            In order to correctly charge the payer using the blikChargeByAlias method the <b>PSU</b> object must be sent in the <b>additional</b> object in the <b><a href="#tag/Transaction-service-API/paths/~1api~1v1~1transaction~1register/post">transaction/register</a></b> request.
        type:
          type: string
        aliasValue:
          type: string
          description: <b> Warning! If you send the parameter it will result in overwriting the current value. </b> <br/> Unique alias of the user which can be used to charge client's next transactions. <br><br><b><font color = "#DB2053">IMPORTANT!:</font></b> Parameter <b>required</b> if a `recurring` object was sent in the request.
        aliasLabel:
          type: string
          description: <b> Warning! If you send the parameter it will result in overwriting the current value. </b> <br/> Alias label displayed in the app. <br><br><b><font color = "#DB2053">IMPORTANT!:</font></b> Parameter <b>required</b> if a `recurring` object was sent in the request.
        recurring:
          description:
          $ref: "#/components/schemas/RecurringParamsIn"
    Alias:
      description: alias description
      type: object
      allOf:
        - $ref: '#/components/schemas/BlikOneClick'
        - type: object
          properties:
            token:
              type: string
              description: Token obtained during transaction registration request via <b><a href="#tag/Transaction-service-API/paths/~1api~1v1~1transaction~1register/post">transaction/register</a></b>. <br> <br>
                <b><font color = "#DB2053">IMPORTANT!:</font></b><br>
                In order to correctly charge the payer using the blikChargeByAlias method the <b>PSU</b> object must be sent in the <b>additional</b> object in the <b><a href="#tag/Transaction-service-API/paths/~1api~1v1~1transaction~1register/post">transaction/register</a></b> request.
            type:
              type: string
              description: Set value „alias”
          required:
            - token
            - type
    Alternativekey:
      type: object
      allOf:
        - $ref: '#/components/schemas/BlikOneClick'
        - type: object
          properties:
            token:
              type: string
              description: Token obtained during transaction registration request via <b><a href="#tag/Transaction-service-API/paths/~1api~1v1~1transaction~1register/post">transaction/register</a></b>. <br> <br>
                <b><font color = "#DB2053">IMPORTANT!:</font></b><br>
                In order to correctly charge the payer using the blikChargeByAlias method the <b>PSU</b> object must be sent in the <b>additional</b> object in the <b><a href="#tag/Transaction-service-API/paths/~1api~1v1~1transaction~1register/post">transaction/register</a></b> request.
            type:
              type: string
              description: Send value „alternativeKey”
            alternativeKey:
              type: string
              description: Value obtained as a response from chargeByAlias, when charging a token with "type" = "alias" where is assigned more than one banking application 
          required:
            - token
            - type
            - alternativeKey
    # Blik_Code:
    #   type: object
    #   allOf:
    #     - $ref: '#/components/schemas/BlikOneClick'
    #     - type: object
    #       properties:
    #         token:
    #           type: string
    #           description: Token obtained from transaction registration
    #         type:
    #           type: string
    #           description: Send value „blikCode”
    #         blikCode:
    #           type: string
    #           description: Value T6 entered by Customer
    #       required:
    #         - token
    #         - type
    #         - blikCode
    BlikChargeByAliasResponse:
      properties:
        data:
          properties:
            orderId:
              type: integer
              format: int64
            message:
              type: string
          type: object
    ChargeByAlias409:
      properties:
        error:
          type: object
          properties:
            message:
              type: string
            alternativeKeys:
              type: array
              items:
                $ref: "#/components/schemas/alternativeKeysItem"
        code:
          type: integer
          example: 51
    # ChargeByAlias409Item:
    #   properties:
    #     message:
    #       type: string
    #     alternativeKeys:
    #       type: array
    #       items:
    #         $ref: "#/components/schemas/alternativeKeysItem"
    alternativeKeysItem:
      properties:
        label:
          type: string
        alias:
          type: string
    cardinfores:
      properties:
        data:
          type: object
          properties:
            refId:
              type: string
              description: Unique card token (reference code)
            bin:
              type: integer
              description: Card’s BIN number
            mask:
              type: string
              description: Masked card number
            cardType:
              type: string
              description: Card type (VISA, ECMC)
            cardDate:
              type: string
              description: Expiry date in the following format MMYYYY
            hash:
              type: string
              description: Unique card hash – unique for each card
        responseCode:
          type: number
    CardChargeRequestBody:
       properties:
        token:
          type: string
          description: Token registered by <a href="#tag/Transaction-service-API/paths/~1api~1v1~1transaction~1register/post"><b>transaction/register</b></a> method. Card reference number must be provided during transaction registration in <b>methodRefId</b> parameter.
    ChargeCard3dsSuccessResponse:
      properties:
        data:
          properties:
            orderId:
              type: integer
              format: int64
            redirectUrl:
              type: string
          type: object
        responseCode:
          type: number
          example: 0
    ChargeCardSuccessResponse:
      properties:
        data:
          properties:
            orderId:
              type: integer
              format: int64
              description: Registered transaction ID
          type: object
        responseCode:
          type: number
          default: 0
          example: 0
    CardRegisterRequestBody:
      type: object
      properties:
        transactionToken:
          type: string
          description: Token obtained during registration
        cardNumber:
          type: string
          description: Card number
          maxLength: 16
        cardDate:
          type: string
          description: Card expiry date in format MMYYYY
        cvv:
          type: string
          description: Card CVV
        clientName:
          type: string
          description: First name and surname of cardholder
      required:
        - transactionToken
        - cardNumber
        - cardDate
        - cvv
        - clientName
    CardPayThreeDSecureResponse:
      properties:
        data:
          properties:
            orderId:
              type: integer
              format: int64
            redirectUrl:
              type: string
          type: object
        responseCode:
          type: number
          example: 0
    CardPayResponse409:
      properties:
        error:
          type: string
          example: Unable to make payment.
        code:
          type: number
    CardPaySuccessResponse:
      properties:
        data:
          properties:
            orderId:
              type: integer
              format: int64
            redirectUrl:
              type: string
          type: object
        responseCode:
          type: number
          example: 0
    blikadnotification:
      properties:
        email:
          type: string
          description: client email
        value:
          type: string
          description: alias value
        type:
          type: string
          description: UID for oneclick, PAYID for recurring payments
        status:
          type: string
          description: REGISTERED / UNREGISTERED / EXPIRED
    bliknotification:
      properties:
        data:
          properties:
            orderId:
              type: integer
              format: int64
              description: Order ID
            sessionId:
              type: string
              description: Merchant session ID
            method:
              type: integer
              description: Payment Method ID
            result:
              description: Array of values
              type: object
              properties:
                error:
                  type: string
                  description: Error code - 0 for success
                message:
                  type: string
                  description: Error message
                status:
                  type: string
                  description: Transaction status
                trxRef:
                  type: string
                  description: BLIK transaction reference number
            sign:
              type: string
              description: <br>Checksum of parameters:<br>
                {<font color = "brown">"orderId":</font>int,
                <font color = "brown">"sessionId":</font>"string",
                <font color = "brown">"method":</font>int,
                <font color = "brown">"result":</font>array,
                <font color = "brown">"crc":</font>"string"}
                <br><br>calculated with the use of sha384<br><br> <b><font color = "#DB2053">IMPORTANT!:</font></b><br>  in case json_encode function is used, the following attributes should be added <br> "JSON_UNESCAPED_UNICODE | JSON_UNESCAPED_SLASHES"
    CardNotificationExtN:
       properties:
        amount:
          type: integer
          description: Transaction amount
        3ds:
          type: boolean
          description: Was 3D-Secure performed during payment?
        method:
          type: integer
          description: Payment method ID
        orderId:
          type: integer
          format: int64
          description: Transaction number assigned by P24 for oneclick sampling
        sessionId:
          type: string
          description: Unique identifier from merchant's system
        errorCode:
          type: string
          description: Error code
        errorMessage:
          type: string
          description: Error description 
        sign:
          type: string
          description: <br> Before calculating the sign value, it is necessary to convert the alphanumeric characters to diacritics.<br><br>Checksum of parameters:<br>{<font color = "brown">"amount":</font>int,<font color = "brown">"3ds":</font>boolean,<font color = "brown">"method":</font>int,<font color = "brown">"orderId":</font>int,<font color = "brown">"sessionId":</font>"str",<br/><font color = "brown">"errorCode":</font>"str",<font color = "brown">"errorMessage":</font>"str",<font color = "brown">"crc":</font>"str"}
                <br><br>Calculated with the use of SHA384<br><br> <b><font color = "#DB2053">IMPORTANT!:</font></b><br>  in case json_encode function is used, the following attributes should be added <br> "JSON_UNESCAPED_UNICODE | JSON_UNESCAPED_SLASHES"
    CardNotificationExt:
      properties:
        amount:
          type: integer
          description: Transaction amount
        3ds:
          type: boolean
          description: Was 3D-Secure performed during payment?
        method:
          type: integer
          description: Payment method ID
        refId:
          type: string
          description: Card reference number
        orderId:
          type: integer
          format: int64
          description: Transaction number assigned by P24 for oneclick sampling
        sessionId:
          type: string
          description: Unique identifier from merchant's system
        bin:
          type: integer
          description: Registered card bin
        maskedCCNumber:
          type: string
          description: Masked card number
        ccExp:
          type: string
          description: Card expiry date in MMYYYY format eg. 122020
        hash:
          type: string
          description: Unique card hash – unique for each card
        cardCountry:
          type: string
          description: Country code compatible with  ISO, e.g. PL
          example: "PL"
        risk:
          type: integer
          description: 0 – safe, 1 – suspicious, 2 – hazardous. Score calculated using a card payment risk calculation tool
        liabilityshift:
          type: boolean
          description: Liability Shift means transferring responsibility for fraudulent transactions from the merchant to the card issuer or payment processor. 1 – Yes, 0 – No
          example: false
        sign:
          type: string
          description: <br>Checksum of parameters:<br>{<font color = "brown">"amount":</font>int,<font color = "brown">"3ds":</font>boolean,<font color = "brown">"method":</font>int,<font color = "brown">"refId":</font>"str",<font color = "brown">"orderId":</font>int,<font color = "brown">"sessionId":</font>"str",<br/><font color = "brown">"bin":</font>int,<font color = "brown">"maskedCCNumber":</font>"str",<font color = "brown">"ccExp":</font>"str",<font color = "brown">"hash":</font>"str",<br/><font color = "brown">"cardCountry":</font>"str",<font color = "brown">"risk":</font>int,<font color = "brown">"liabilityshift":</font>boolean,<font color = "brown">"crc":</font>"str"}
                <br><br>calculated with the use of sha384<br><br> <b><font color = "#DB2053">IMPORTANT!:</font></b><br>  in case json_encode function is used, the following attributes should be added <br> "JSON_UNESCAPED_UNICODE | JSON_UNESCAPED_SLASHES"
    cardpayjson:
      properties:
        cardHolderLabel:
          type: string
        cardNumberLabel:
          type: integer
        cvvLabel:
          type: integer
        expDateLabel:
          type: string
        payButtonCaption:
          type: string
        threeDSAuthMessage:
          type: string
    TransactionRefundResult:
      type: object
      properties:
        orderId:
          type: integer
          format: int64
          description: ID of the refunded transaction in P24 system
        sessionId:
          type: string
          description: ID of the refunded transaction in Partner's system
        merchantId:
          type: integer
          description: Merchant's ID of whose account the refund is performed
        requestId:
          type: string
          description: ID of refund request provided in <a href="#tag/Dodatkowa-funkcjonalnosc-API/paths/~1api~1v1~1transaction~1refund/post"><b>transaction/refund</b></a>
        refundsUuid:
          type: string
          description: ID of refund request in Partner's system provided in <a href="#tag/Dodatkowa-funkcjonalnosc-API/paths/~1api~1v1~1transaction~1refund/post"><b>transaction/refund</b></a>
        amount:
          type: integer
          description: Refund amount expressed in lowest currency unit, e.g. 1.23 PLN = 123
        currency:
          type: string
          example: PLN
          description: Refund currency
        timestamp:
          type: integer
          description: Time of sending the refund notification provided in UNIX timestamp
        status:
          type: integer
          description: Status of the executed refund. 0 - completed, 1 - rejected
          enum:
            - 0
            - 1 
        sign:
          type: string
          description: <br>Checksum of parameters:<br>
            {<font color = "brown">"orderId":</font>int,<font color = "brown">"sessionId":</font>"str",<font color = "brown">"refundsUuid":</font>"str",<font color = "brown">"merchantId":</font>int,<font color = "brown">"amount":</font>int,<br/><font color = "brown">"currency":</font>"str",<font color = "brown">"status":</font>int,<font color = "brown">"crc":</font>"str"}
            <br><br>calculated with the use of sha384<br><br> <b><font color = "#DB2053">IMPORTANT!:</font></b><br>  in case json_encode function is used, the following attributes should be added <br> "JSON_UNESCAPED_UNICODE | JSON_UNESCAPED_SLASHES"
    TransactionResult:
      type: object
      properties:
        merchantId:
          name: merchantId
          in: formData
          description: Merchant identification number
          type: integer
        posId:
          name: posId
          in: formData
          description: Shop identification number (defaults to merchant ID)
          type: integer
        sessionId:
          name: sessionId
          in: formData
          description: Unique identifier from merchant's system
          type: string
          maxLength: 100
        amount:
          name: amount
          in: formData
          description: Amount of paid transaction expressed in lowest currency unit, e.g. 1.23 PLN = 123
          type: integer
        originAmount:
          name: originAmount
          in: formData
          description: Amount of the transaction when registered the token expressed in lowest currency unit, e.g. 1.23 PLN = 123
          type: integer
        currency:
          name: currency
          in: formData
          description: Currency compatible with ISO, e.g. PLN
          type: string
          maxLength: 3
          default: PLN
        orderId:
          name: orderId
          in: formData
          description: Transaction number assigned by P24
          type: integer
          format: int64
        methodId:
          name: methodId
          in: formData
          description: Payment method used by customer
          type: integer
        statement:
          name: statement
          in: formData
          description: Payment title
          type: string
        sign:
          name: sign
          in: formData
          description: <br>Checksum of parameters:<br>
            {<font color = "brown">"merchantId":</font>int,<font color = "brown">"posId":</font>int,<font color = "brown">"sessionId":</font>"string",<font color = "brown">"amount":</font>int,<font color = "brown">"originAmount":</font>int,<font color = "brown">"currency":</font>"string",
            <font color = "brown">"orderId":</font>int,<font color = "brown">"methodId":</font>int,<font color = "brown">"statement":</font>"string",<font color = "brown">"crc":</font>"string"}
            <br><br>calculated with the use of sha384<br><br> <b><font color = "#DB2053">IMPORTANT!:</font></b><br>  in case json_encode function is used, the following attributes should be added
            <br> "JSON_UNESCAPED_UNICODE | JSON_UNESCAPED_SLASHES"
          type: string
    HistoryResponse200Body:
      properties:
        data:
          description: Array of objects (batches, transactions, refunds)
          items:
            $ref: "#/components/schemas/HistoryDataObject"
        token:
          type: string
          description: Token to request next page
        responseCode:
          type: integer
          description: 0 if correct
        pageInformation:
          description: Information about pagination
          items:
            $ref: "#/components/schemas/PageInformationObject"
    PageInformationObject:
      properties:
        recordsOnPage:
          type: integer
          description: Amount records on current page
        recordsAll:
          type: integer
          description: Amount of all records
        pageCount:
          type: integer
          description: Amount of pages
    HistoryDataObject:
      oneOf:
        - $ref: "#/components/schemas/Batch"
        - $ref: "#/components/schemas/Transaction"
        - $ref: "#/components/schemas/Refund"
      discriminator:
        propertyName: details
    Batch:
      properties:
        type:
          type: string
          description: 'Possible values: batch, refund, transaction'
        amount:
          type: integer
          description: Amount
        currency:
          type: string
          description: Currency
          example: PLN
        details:
          description: Array of objects depended of type
          items:
            $ref: "#/components/schemas/BatchObject"
    BatchObject:
      properties:
        dateIn:
          type: string
          description: 'Date of creating batch. Format: “YYYY-MM-DD HH:MM:SS”'
        dateOut:
          type: string
          description: 'Date of withdrawal. Format: “YYYY-MM-DD HH:MM:SS”'
        batchId:
          type: integer
          description: Unique id of withdrawal
        commision:
          type: integer
          description: Sum of commisions
        charge:
          type: integer
          description: Charge
        refund:
          type: integer
          description: Sum of refunds
    Transaction:
      properties:
        type:
          type: string
          description: 'Possible values: batch, refund, transaction'
        amount:
          type: integer
          description: Amount
        currency:
          type: string
          description: Currency
          example: PLN
        details:
          description: Array of objects depended of type
          items:
            $ref: "#/components/schemas/TransactionObject"
    TransactionObject:
      properties:
        settledAmount:
          type: integer
          description: Amount without commision
        ordrId:
          type: integer
          description: Unique id of transaction
        sessionId:
          type: string
          description: Id of transaction used by merchant
        status:
          type: integer
          description: 'Status of transaction: 0 – not paid, 1 – paid, 2 – paid and verified, 3 – payment returned'
        date:
          type: string
          description: 'Creation date of transaction. Format: “YYYY-MM-DD HH:MM:SS”'
        dateOfTransaction:
          type: string
          description: Transaction registration date
        dateOfVerification:
          type: string
          description: Date of verification
        clientEmail:
          type: string
          description: Client's email
        accountChecksum:
          type: string
          description: Customer’s hashed bank account number
        paymentMethod:
          type: integer
          description: Payment method ID
        description:
          type: string
          description: Transaction description
        clientName:
          type: string
          description: Customer’s first name and surname
        clientAddress:
          type: string
[...]
