openapi: 3.2.0
info:
  x-logo:
    url: getfile/przelewy24-logo_mini.png
    altText: LogoP24
  contact:
    name: Przelewy24 Support
    url: https://www.przelewy24.pl/support
  title: Ekspres Przelewy24 REST API Documentation Ekspres P24 API
  version: 1.0.6
  description: '# Ekspres Przelewy24


    Przelewy24 provides an authorisation and clearing system and provides payment services as a Domestic Payment Institution.'
servers:
- url: https://sandbox.przelewy24.pl
  description: Sandbox server (uses test data)
- url: https://secure.przelewy24.pl
  description: Production server (uses live data)
tags:
- name: Ekspres P24 API
paths:
  /express/v1/access/check:
    get:
      tags:
      - Ekspres P24 API
      summary: Access Check
      description: 'The method is used to test access to API. It allows you to verify if the key and the password are active and working correctly.


        Object returned: NONE, empty response'
      responses:
        '200':
          description: OK - Access granted, API working properly
        '401':
          description: Authorization Required - No access, check the key and the password, check if  the key and the password are active and have authorisation to use this method
        '403':
          description: Forbidden - Access active, but you are not authorised to use this method
      security:
      - basicAuth: []
      operationId: getExpressV1AccessCheck
      x-operation-id-source: derived
  /express/v1/user/balance:
    get:
      tags:
      - Ekspres P24 API
      summary: Current user's balance
      description: The method allows to download the current balance of the user’s wallets.
      responses:
        '200':
          description: OK - JSON object returned with account balance
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserBalanceResponse200Body'
        '401':
          description: Authorization Required - No access, check the key and the password, check if  the key and the password are active and have authorisation to use this method
      security:
      - basicAuth: []
      operationId: getExpressV1UserBalance
      x-operation-id-source: derived
  /express/v1/bank/availability:
    get:
      tags:
      - Ekspres P24 API
      summary: Banks' availability
      description: The method returns declared by banks availability on specific weekdays and public holidays. The information allows you to find out at what time a given transfer may be processed.
      responses:
        '200':
          description: OK - JSON object returned with a list of availability of banks
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BankAvailabilityObjectResponseBody'
        '401':
          description: Authorization Required - No access, check the key and the password, check if  the key and the password are active and have authorisation to use this method
      security:
      - basicAuth: []
      operationId: getExpressV1BankAvailability
      x-operation-id-source: derived
  /express/v1/payment/methods:
    get:
      description: 'The method returns payment methods available in przelewy24.pl. The information returned proves useful for ordering transfers in p24 and p24mobile. We can make the client use a specific payment method after they are redirected to przelewy24.pl in order to pay for the transaction.


        It may also return an empty result if no method is available at the moment.'
      tags:
      - Ekspres P24 API
      summary: Payment methods
      responses:
        '200':
          description: OK - JSON object returned with a list of payment methods available at przelewy24.pl
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaymentMethodObjectResponseBody'
        '401':
          description: Authorization Required - No access, check the key and the password, check if  the key and the password are active and have authorisation to use this method
      security:
      - basicAuth: []
      operationId: getExpressV1PaymentMethods
      x-operation-id-source: derived
  /express/v1/payment/refund:
    put:
      description: 'This method refunds payment of transfers in p24 i p24mobile type that were rejected by bank or finished with errors and returned to wallet. Funds for this operation are taken from Ekspres user wallet and refund request is sent to Przelewy24 service for refunding money directly to client.


        The progress of refunding a transfer can be watched through transfer notifications.'
      tags:
      - Ekspres P24 API
      summary: Refund
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PutPaymentRefundBody'
      responses:
        '200':
          description: OK - Refund for transfer has been accepted for processing in Przelewy24 service
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PutPaymentRefundResponse'
        '400':
          description: Bad Request - Incorrect parameter format, the error object returned should include a description of the field in which the problem occurred
        '401':
          description: Authorization Required - No access, check the key and the password, check if  the key and the password are active and have authorisation to use this method
        '404':
          description: Not Found - No transfer was found, this will be also returned for transfers that aren’t p24/p24mobile type
        '409':
          description: Conflict - Transfer is in status that prevents its refunding
      security:
      - basicAuth: []
      operationId: putExpressV1PaymentRefund
      x-operation-id-source: derived
  /express/v1/transfer/request:
    post:
      tags:
      - Ekspres P24 API
      summary: Transfer request
      description: 'This method is responsible for sending transfers. The query and the response look similar for each type of transfer, yet the results of the call will be different for each type.


        wallet – concludes with an immediate transfer of money upon a correct call, provided there are sufficient funds in the account,


        p24 and p24mobile – concludes with transaction registration in przelewy24.pl, a link to which will be generated. Once the transaction is paid and verified positively, the transfer will be sent to the entity whose details are indicated in the query,


        Note!

        /v1/transfer/request method is idempotent.

        It means that if the method is called for the first time and a positive result is obtained, a new transfer will be created. In this case, the http code returned is 201 Created.

        If the same query is called again, the transfer will not be repeated and the same result as in the case of the original transfer will be generated. In this case, the http code returned is 200 OK. It is important to note that only code 201 Created means that the transfer has been sent / registered. Code 200 OK means that such a transfer already exists and the system only returns the result of the original call.


        The mechanism serves to prevent accidental duplication of transfers. If the same transfer is called twice, the money will be sent only once. In case the API connection is interrupted (e.g. Timeout) while the method is being called, it can be repeated without worrying about the possibility of generating a duplicate transfer. At the same time, it is possible to check if the original query was successful and to obtain a link.


        The mechanism is based on the ‘id’ parameter. In case the parameter is changed, the query is treated as an entirely new transfer. That is why one must still exercise caution so as to avoid creating a duplicate.'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TransferRequestPostBody'
      responses:
        '200':
          description: OK - The result returned is idempotent, the transfer has already been registered, no new transfer has been registered
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TransferRequestResultObjectBody'
        '201':
          description: Created - New transfer has been accepted and registered
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TransferRequestResultObjectBody'
        '202':
          description: Accepted - The transfer is being processed (occurs when the same request is called for again before an idempotent response is generated)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TransferRequestResultObjectBody'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GeneralErrorObjectResponseBody'
        '401':
          description: Authorization Required - No access, check the key and the password, check if  the key and the password are active and have authorisation to use this method
      security:
      - basicAuth: []
      operationId: postExpressV1TransferRequest
      x-operation-id-source: derived
  /express/v1/transfer/basket:
    post:
      tags:
      - Ekspres P24 API
      summary: Multiple transfers at once (basket)
      description: 'The method allows processing numerous transfers with one payment through przelewy24.pl or with a payment card.

        The method operates in an analogous manner to /v1/transfer/request, all the information regarding response codes and values returned may be found there. The description comprises only the elements that differ with respect to the call.


        Note!

        /v1/transfer/basket method is also idempotent!

        The operation details are analogous to /v1/transfer/request.'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TransferBasketPostBody'
      responses:
        '200':
          description: OK - The result returned is idempotent, the transfer has already been registered, no new transfer has been registered.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TransferBasketResultBody'
        '201':
          description: Created - New transfer has been accepted and registered.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TransferBasketResultBody'
        '202':
          description: Accepted - he transfer is being processed (occurs when the same request is called for again before an idempotent response is generated)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TransferBasketResultBody'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GeneralErrorObjectResponseBody'
        '401':
          description: Authorization Required - No access, check the key and the password, check if  the key and the password are active and have authorisation to use this method
      security:
      - basicAuth: []
      operationId: postExpressV1TransferBasket
      x-operation-id-source: derived
  /express/v1/transfer/history:
    get:
      tags:
      - Ekspres P24 API
      summary: Transfers' history
      description: 'The method allows to download the history of transfers from the account within a specified period of time. Warning! Do not use this method to verify whether a transfer was successful. In order to monitor the transfer status use Notifications.

        .'
      parameters:
      - name: limit
        in: path
        description: Limit of transfers downloaded in a single query. Default setting - 10.
        required: false
        schema:
          type: integer
          default: 10
      - name: dateFrom
        in: path
        description: 'The date FROM which the transfer history will be downloaded.<br/>Format: „YYYY-mm-dd”'
        required: false
        schema:
          type: string
          maxLength: 10
      - name: dateTo
        in: path
        description: 'The date TO which the transfer history will be downloaded.<br/> Format: „YYYY-mm-dd”'
        required: false
        schema:
          type: string
          maxLength: 10
      responses:
        '200':
          description: OK -Table of JSON objects returned with history results
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TransferHistory200ResponseBody'
        '400':
          description: Bad Request - Incorrect parameter format, the error object returned should include a description of the field in which the problem occurred
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GeneralErrorObjectResponseBody'
        '401':
          description: Authorization Required - No access, check the key and the password, check if  the key and the password are active and have authorisation to use this method
      security:
      - basicAuth: []
      operationId: getExpressV1TransferHistory
      x-operation-id-source: derived
  /express/v1/transfer/p24/refund:
    post:
      tags:
      - Ekspres P24 API
      summary: Refund (possible overrefund)
      description: 'This method generates new transfer for an existing transaction in Przelewy24 system. New transfer is created exactly the same as in method /v1/transfer/request, and its data is pulled from transaction in Przelewy24 system. Refunds are always created as Wallet type – the amount is pulled from user in Ekspres system.


        As for default method does not allow creating a refund transfer for transactions that were previously refunded in Przelewy24 system. Optionally you can force such refund with overrefund parameter.

        Warning! Refunds in foreign currencies are evaluated and refunded in PLN!


        NOTE!


        Method /v1/transfer/p24/refund is idempotent!


        The operation details are analogous to /v1/transfer/request'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PostTransferRefundBody'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TransferRequestResultObjectBody'
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TransferRequestResultObjectBody'
        '202':
          description: Accepted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TransferRequestResultObjectBody'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GeneralErrorObjectResponseBody'
        '401':
          description: Authorization Required -  No access, check the key and the password, check if  the key and the password are active and have authorisation to use this method
      security:
      - basicAuth: []
      operationId: postExpressV1TransferP24Refund
      x-operation-id-source: derived
  /express/v1/bank/check:
    get:
      description: 'The method allows you to check whether the bank that serves the given IBAN by default is currently active.


        NOTE!


        Even if the method of returning that the bank is an existing system, re-recover the information for a given user, which will direct the transfer to another bank.'
      tags:
      - Ekspres P24 API
      summary: Verification of the bank's activity
      parameters:
      - name: iban
        in: path
        description: IBAN number
        required: true
        schema:
          type: string
          maxLength: 40
          default: PL0000000000000000000000000000
      responses:
        '200':
          description: The returned JSON object with the default bank activity parameter for the given IBAN
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetBankCheck'
        '400':
          description: The provided IBAN is incorrect or parameters were provided incorrected
      security:
      - basicAuth: []
      operationId: getExpressV1BankCheck
      x-operation-id-source: derived
components:
  schemas:
    TransferBasketResultBody:
      properties:
        result:
          description: Includes the object of the query result
          $ref: '#/components/schemas/TransferBasketOutObjectBody'
    BankAvailabilityObjectResponseBody:
      properties:
        name:
          type: string
          maxLength: 50
          description: Bank name
        workweek:
          type: string
          maxLength: 50
          description: Working hours from Monday to Friday
        saturday:
          type: string
          maxLength: 50
          description: Working hours on Saturdays
        sunday:
          type: string
          maxLength: 50
          description: Working hours on Sundays
        holidays:
          type: boolean
          description: Availability on public holidays:<br/> false – unavailable<br/>true – available
    TransferBasketPostBody:
      properties:
        transfers:
          description: Comprises a table of transfers to be processed once they are paid through przelewy24.pl or with a payment card.
          items:
            $ref: '#/components/schemas/TransferObjectBody'
        type:
          type: string
          description: 'Payment methods available: p24, p24mobile.<br/> <b>Wallet mode is not accepted</b> in this method.'
        express:
          type: boolean
          description: 'Default setting - True: <br/>True – upon payment, the transfer will be sent in the express mode,<br/> False – upon payment, the transfer will be sent in the elixir mode.'
          default: true
          example: true
        currency:
          type: string
          maxLength: 3
          description: Transfer currency in which the funds will be collected for specific payment types:<br/> wallet – funds will be collected from the wallet in a given currency;<br/> p24, p24mobile – the currency in which the client will pay in their funds,<br/>
          example: PLN
        send:
          type: integer
          description: 'Wartości:<br/> 0 - none,<br/> 1 – send an email with the url to the recipient of the transfer ,<br/> 2 – send an email with the url to the sender of the transfer,<br/> 4 – send an email with a confirmation of completion to the recipient,<br/> 8 – send an email with a confirmation of completion to the sender.<br/> In order to choose, e.g. two options, provide the sum of the respective values: email with url to the sender + to the recipient + email with confirmation to the sender:<br/> 2 + 1 + 8 = 11 -> value to be provided'
          example: 11
        regulations:
          type: boolean
          default: false
          description: 'Acceptance of Przelewy24 regulations: <br/>false – display consent on p24 website (default),<br/>true – consent granted, do not display.<br/>In case the „true” parameter is sent, the consent – worded as follows – must be displayed on the Partner’s website: „I hereby state that I have read the [regulations](https://www.przelewy24.pl/regulamin) and [information obligation](https://www.przelewy24.pl/obowiazekinformacyjny) of ”Przelewy24”. <br/>Under words <i>regulations</i> and <i>information obligation</i> there must be hyperlinks redirecting to websites with these documents. The checkbox must not be ticked by default.'
        id:
          type: string
          maxLength: 255
          description: Unique transfer ID, UUID recommended
        sign:
          type: string
          maxLength: 255
          description: Signature calculated separately for each transfer. For more information see <a href="#tag/Calculation-of-sign-parameter"><b>Calculation of sign parameter</b></a>
        label:
          type: string
          maxLength: 20
          description: <b>Additional fields used solely for payments of the following types p24, p24mobile.</b><br/> Additional description in the transfer title.<br/><br/> Can be send in the object of transfer, in the <b>label</b> parameter. Value from the object overwirtes value from this parameter
        ttl:
          type: integer
          description: <b>Additional fields used solely for payments of the following types p24, p24mobile.</b><br/>Timestamp – date and time after which it will not be possible to pay the transaction<br/><br/>NOTE! For the parameter to work in P24 system, please send a request to partner@przelewy24.pl<br/>Example:<br/><br/> 1577833200 = 2020-01-01 00:00:00<br/>0 = no limit (as default)
        paymentMethod:
          type: integer
          description: <b>Additional fields used solely for payments of the following types p24, p24mobile.</b><br/> The payment method selected in P24 <a href="#tag/Ekspres-P24-API/paths/~1express~1v1~1payment~1methods/get"><b>v1/payment/methods</b></a>
        returnUrl:
          type: string
          maxLength: 255
          description: <b>Additional fields used solely for payments of the following types p24, p24mobile.</b><br/>The address to which the client will be redirected after processing the payment in Przelewy24.pl. By default, the client will return to the URL address generated upon transfer registration.
        sdkVersion:
          type: string
          maxLength: 10
          default: '3.0'
          description: <b>Additional fields used solely for payments of the following type p24mobile.</b><br/> Mobile library version number must be provided. This parameter may be obtained directly from the library (iOS - class P24, Android - class P24SdkVersion). The default value sent is „3.0”.
          example: 3.0
      required:
      - transfers
      - type
      - currency
      - send
      - id
      - sign
    PutPaymentRefundResponse:
      properties:
        transferId:
          type: integer
          description: ID of refunded transfer
        refundId:
          type: integer
          description: ID of refund (important for <a href="#tag/Notifications-on-transfer-status"><b>notifications</b></a>)
        amount:
          type: integer
          description: Amount of created refund in smallest denomination<br/><br/> 1000 = 10.00
        currency:
          type: string
          maxLength: 3
          description: Currency of created refund as ISO 4217 code
    TransferP24RefundObject:
      properties:
        sessionId:
          type: string
          maxLength: 255
          description: Session ID in Przelewy24 system
        title:
          type: string
          maxLength: 255
          description: Title of refund transaction
        currency:
          type: string
          maxLength: 3
          description: 'Currency in which refund will be executed as ISO 4217 code (currently available: EUR, PLN)'
        amount:
          type: integer
          description: 'Amount  of  created  refund  in  smallest denomination<br/> Example: "100" (1 PLN)'
        overrefund:
          type: boolean
          default: false
          description: If  TRUE,  refund  will  be  executed <b>no matter if there was any other refunds executed for this transaction earlier</b>. It ignores error 2010.<br/><b>Default value is FALSE</b>
      required:
      - sessionId
      - title
      - currency
      - amount
    UserBalanceResponse200Body:
      properties:
        balance:
          description: Object representing the account balance for a given wallet
          items:
            $ref: '#/components/schemas/BalanceObjectBody'
        timestamp:
          type: integer
          description: Unix time stamp of the exact moment for which the results are presented
    GeneralErrorObject:
      properties:
        code:
          type: string
        description:
          type: string
    TransferRequestPostBody:
      properties:
        transfer:
          description: Object of transfer
          allOf:
          - $ref: '#/components/schemas/TransferObjectBody'
        type:
          type: string
          description: 'Payment types available: wallet, p24, p24mobile'
          example: wallet
        express:
          type: boolean
          description: 'Default setting - True: <br/>True – upon payment, the transfer will be sent in the express mode,<br/> False – upon payment, the transfer will be sent in the elixir mode.'
          default: true
          example: true
        currency:
          type: string
          maxLength: 3
          description: Transfer currency in which the funds will be collected for specific payment types:<br/> wallet – funds will be collected from the wallet in a given currency;<br/> p24, p24mobile – the currency in which the client will pay in their funds,<br/>
          example: PLN
        send:
          type: integer
          description: 'Values:<br/> 0 - none,<br/> 1 – send an email with the url to the recipient of the transfer ,<br/> 2 – send an email with the url to the sender of the transfer,<br/> 4 – send an email with a confirmation of completion to the recipient,<br/> 8 – send an email with a confirmation of completion to the sender.<br/> In order to choose, e.g. two options, provide the sum of the respective values: email with url to the sender + to the recipient + email with confirmation to the sender:<br/> 2 + 1 + 8 = 11 -> value to be provided'
          example: 11
        regulations:
          type: boolean
          default: false
          description: 'Acceptance of Przelewy24 regulations: <br/>false – display consent on p24 website (default),<br/>true – consent granted, do not display.<br/>In case the „true” parameter is sent, the consent – worded as follows – must be displayed on the Partner’s website: „I hereby state that I have read the [regulations](https://www.przelewy24.pl/regulamin) and [information obligation](https://www.przelewy24.pl/obowiazekinformacyjny) of ”Przelewy24”. <br/>Under words <i>regulations</i> and <i>information obligation</i> there must be hyperlinks redirecting to websites with these documents. The checkbox must not be ticked by default.'
        id:
          type: string
          maxLength: 255
          description: Unique transfer ID, UUID recommended
        sign:
          type: string
          maxLength: 255
          description: Signature calculated separately for each transfer. For more information see <a href="#tag/Calculation-of-sign-parameter"><b>Calculation of sign parameter</b></a>
        label:
          type: string
          maxLength: 20
          description: <b>Additional fields used solely for payments of the following types p24, p24mobile.</b><br/> Additional description in the transfer title.<br/><br/> Can be send in the object of transfer, in the <b>label</b> parameter. Value from the object overwirtes value from this parameter
        ttl:
          type: integer
          description: <b>Additional fields used solely for payments of the following types p24, p24mobile.</b><br/>Timestamp – date and time after which it will not be possible to pay the transaction<br/><br/>NOTE! For the parameter to work in P24 system, please send a request to partner@przelewy24.pl<br/>Example:<br/><br/> 1577833200 = 2020-01-01 00:00:00<br/>0 = no limit (as default)
        paymentMethod:
          type: integer
          description: <b>Additional fields used solely for payments of the following types p24, p24mobile.</b><br/> The payment method selected in P24, see <a href="#tag/Ekspres-P24-API/paths/~1express~1v1~1payment~1methods/get"><b>v1/payment/methods</b></a>
        returnUrl:
          type: string
          maxLength: 255
          description: <b>Additional fields used solely for payments of the following types p24, p24mobile.</b><br/>The address to which the client will be redirected after processing the payment in Przelewy24.pl. By default, the client will return to the URL address generated upon transfer registration.
        sdkVersion:
          type: string
          maxLength: 10
          default: '3.0'
          description: <b>Additional fields used solely for payments of the following type p24mobile.</b><br/> Mobile library version number must be provided. This parameter may be obtained directly from the library (iOS - class P24, Android - class P24SdkVersion). The default value sent is „3.0”.
      required:
      - transfer
      - type
      - currency
      - send
      - id
      - sign
    GeneralErrorObjectResponseBody:
      properties:
        error:
          description: null
          $ref: '#/components/schemas/GeneralErrorObject'
    GetBankCheck:
      properties:
        available:
          type: boolean
          description: Indication whether the bank is active
          example: true
    TransferBasketOutObjectBody:
      properties:
        transferRequestId:
          type: string
          description: Query ID of a registered transfer, marked in <a href="#tag/Notifications-on-transfer-status"><b>notifications</b></a>.</b><br/> as type „pay”
        transferIds:
          type: array
          description: Table of registered transfers, marked in <a href="#tag/Notifications-on-transfer-status"><b>notifications</b></a>.</b><br/> as type „payout”
          items:
            type: integer
        url:
          type: string
          description: The URL address that allows you to check the current status of the transfer. In case of payments in P24 mode, the redirection to przelewy24.pl will take place in order for the transaction to be paid.
    BalanceObjectBody:
      properties:
        amount:
          type: integer
          description: The amount of the balance in the smallest denomination (grosz)
        currency:
          type: string
          maxLength: 3
          description: Currency in the form of [ISO 4217](https://en.wikipedia.org/wiki/ISO_4217#Active_codes) code
          example: PLN
    PostTransferRefundBody:
      properties:
        refund:
          type: object
          description: Refund object
          allOf:
          - $ref: '#/components/schemas/TransferP24RefundObject'
        id:
          type: string
          maxLength: 255
          description: Unique transfer ID, UUID recommended
        sign:
          type: string
          maxLength: 255
          description: Signature calculated separately for each transfer. For more information see <a href="#tag/Calculation-of-sign-parameter"><b> sign parameter calculation</b></a>
      required:
      - refund
      - id
      - sign
    TransferOutObjectBody:
      properties:
        transferRequestId:
          type: string
          description: Query ID of a registered transfer, marked in <a href="#tag/Notifications-on-transfer-status"><b>notifications</b></a> as type „pay”
        transferIds:
          type: array
          description: Table of registered transfers, marked in <a href="#tag/Notifications-on-transfer-status"><b>notifications</b></a> as type „payout”
          items:
            type: integer
        url:
          type: string
          description: The URL address that allows you to check the current status of the transfer. In case of payments in P24 mode, the redirection to przelewy24.pl will take place in order for the transaction to be paid.
    PaymentMethodObjectResponseBody:
      properties:
        id:
          type: integer
          description: Unique payment method ID
        name:
          type: string
          description: Name of a payment method
        status:
          type: boolean
          description: True – ON, False – OFF
    TransferObjectBody:
      properties:
        iban:
          type: string
          maxLength: 40
          description: Recipient’s IBAN no. <b>with country prefix</b>
        recipient:
          description: Object representing recipient’s details
          allOf:
          - $ref: '#/components/schemas/PersonObjectBody'
        sender:
          description: Object representing sender’s details
          allOf:
          - $ref: '#/components/schemas/PersonObjectBody'
        label:
          type: string
          description: Additional description in the transfer title – only for p24, p24mobile modes
          maxLength: 20
        title:
          type: string
          maxLength: 150
          description: Transaction title
        amountOut:
          type: integer
          description: Amount of transaction in the smallest denomination<br/>1000 = 10.00
        currencyOut:
          type: string
          maxLength: 3
          description: Transfer currency [ISO 4217 code](https://en.wikipedia.org/wiki/ISO_4217#Active_codes)
        externalParam:
          type: string
          maxLength: 100
          description: <b>We recommend that additional, individual transfer ids are used with this parameter, as it significantly simplifies transaction identification in <a href="#tag/Notifications-on-transfer-status"><b>notifications</b></a>.</b><br/> The parameter is defined at the user’s discretion and is generated when notifications are sent.<br/>This parameter may be the same as the “id” parameter.
        confirmation:
          type: boolean
          default: false
          description: Defines if this transfer should get generated confirmation from outgoing bank in PDF format.<br/><br/> <b>Warning!  This  feature  of  generating PDF confirmations from outgoing bank is required to be consulted and enabled with integrations support before use! By default using this parameter will do nothing instead!
        confirmationFilename:
          type: string
          maxLength: 100
          example: string
          description: The name of the generated confirmation from the bank (PDF file).<br/><br/> If the `confirmationFilename` parameter isn't sent in request and `confirmation` parametr is set to 'true' then the default file name takes the value from the formula "EX_timestamp_idtransfer_iduser".
      required:
      - iban
      - recipient
      - sender
      - title
      - amountOut
      - currencyOut
      - externalParam
    TransferRequestResultObjectBody:
      properties:
        result:
          description: Includes the object of the query result
          $ref: '#/components/schemas/TransferOutObjectBody'
    PutPaymentRefundBody:
      properties:
        transferId:
          type: integer
          description: ID of Ekspres transfer that we want to refund
        amount:
          type: integer
          description: Amount to refund, if empty by default whole transfer will be refunded. Refund is always in currency of original transfer
      required:
      - transferId
    HistoryOutObjectBody:
      properties:
        transfer:
          description: Object of transfer TransferObject
          $ref: '#/components/schemas/TransferObjectBody'
        express:
          type: boolean
          description: Was the transfer ordered in the express mode?
        date:
          type: string
          description: Transfer registration date
        status:
          type: integer
          description: Transfer current status
        statusDescription:
          type: string
          description: Current status (description)
        type:
          type: string
          description: 'Type of payment: wallet, p24, p24code'
        id:
          type: string
          description: “id” parameter provided during transfer registration
        transferId:
          type: integer
          description: Transfer identifier in the express system
        transferRequestId:
          type: integer
          description: Request identifier in the express mode
    TransferHistory200ResponseBody:
      properties:
        result:
          description: Comprises a table of objects of the transfer history or an empty table if no transfers have been found
          items:
            $ref: '#/components/schemas/HistoryOutObjectBody'
    PersonObjectBody:
      properties:
        name:
          type: string
          maxLength: 100
          description: Name (company / name and surname)
        email:
          type: string
          maxLength: 100
          description: Email (used later for sending notifications)
        address:
          type: string
          maxLength: 100
          description: Address – street name, street no., apartment no.
        zip:
          type: string
          maxLength: 10
          description: Postal code – validated depending on the <b>country</b> parameter
        city:
          type: string
          maxLength: 50
          description: City
        country:
          type: string
          maxLength: 2
          description: '2-character country code ([ISO-3166-1](https://pl.wikipedia.org/wiki/ISO_3166-1_alfa-2))<br/> exception: UK = GB, Great Britain'
      required:
      - name
      - email
      - address
      - zip
      - city
      - country
  securitySchemes:
    basicAuth:
      description: This is the default authentication method. User login is API REST key the password assigned to it.
      type: http
      scheme: basic
x-tagGroups:
- name: Methods available in API
  tags:
  - Ekspres P24 API
- name: Sign parameter
  tags:
  - Calculation of sign parameter
- name: Transfer
  tags:
  - Notifications on transfer status
  - Table of transfer statuses
  - Transfer scenarios
