openapi: 3.2.0
info:
  title: Przelewy24 Report API
  contact:
    name: Przelewy24 Support
    url: https://www.przelewy24.pl/support
  x-refined-note:
  - x-logo differs across the merged source definitions and was not carried
  version: '1.0'
  description: 'Operations tagged Report API across 2 of this provider''s published API definitions: openapi-extended.yml, openapi.yml. Each path carries the servers of the definition it was published in.'
servers:
- url: https://sandbox.przelewy24.pl
  description: Sandbox server (uses test data)
- url: https://secure.przelewy24.pl
  description: Production server (uses live data)
tags:
- name: Report API
paths:
  /api/v1/report/history:
    get:
      tags:
      - Report API
      summary: History transaction
      description: 'This method gives you back information about: batches, transactions and refunds, in questioned period of time.


        Pagination

        To call next page you need to call report/history with token as a query parameter, e.g.:


        GEThttps://secure.przelewy24.pl/api/v1/report/history/{token}'
      parameters:
      - name: dateFrom
        in: path
        description: Date in format YYYYMMDD
        required: true
        schema:
          type: string
      - name: dateTo
        in: path
        description: Date in format YYYYMMDD. Max period length is 31 days
        required: true
        schema:
          type: string
      - name: type
        in: path
        description: 'Type of objects to load. Omit this parameter, if you want to load everything. Acceptable values: batch, transaction, refund.'
        required: false
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HistoryResponse200Body'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HistoryError400Body'
        '401':
          description: Not authorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GeneralErrorResponse'
        '500':
          description: Undefined error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GeneralErrorResponse'
      security:
      - basicAuth: []
      operationId: getApiV1ReportHistory
      x-operation-id-source: derived
    servers:
    - url: https://sandbox.przelewy24.pl
      description: Sandbox server (uses test data)
    - url: https://secure.przelewy24.pl
      description: Production server (uses live data)
  /api/v1/report/batch/details:
    get:
      tags:
      - Report API
      summary: Batch information
      description: 'Method returns all transactions and refunds paid in requested batch.


        Pagination

        To call next page you need to call report/batch/details with token in payload e.g.:


        GEThttps://secure.przelewy24.pl/api/v1/report/batch/details'
      parameters:
      - name: batch
        in: path
        description: Unique ID of batch (withdrawal)
        required: true
        schema:
          type: integer
      - name: token
        in: path
        description: Token needed to request next page
        required: false
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BatchDetails200ResponseBody'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BatchDetailsError400Body'
        '401':
          description: Not authorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GeneralErrorResponse'
        '500':
          description: Undefined error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GeneralErrorResponse'
      security:
      - basicAuth: []
      operationId: getApiV1ReportBatchDetails
      x-operation-id-source: derived
    servers:
    - url: https://sandbox.przelewy24.pl
      description: Sandbox server (uses test data)
    - url: https://secure.przelewy24.pl
      description: Production server (uses live data)
  /api/v1/issueWithdrawal:
    post:
      description: Method allows to generete withdrawals/batches.
      tags:
      - Report API
      summary: Issue Withdrawal
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/IssueWithdrawalRequestBody'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WithdrawalResponseBody'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GeneralErrorResponse'
        '401':
          description: Not authorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GeneralErrorResponse'
        '409':
          description: Conflict
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/409ErrorResponse'
        '500':
          description: Undefined error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GeneralErrorResponse'
      security:
      - basicAuth: []
      operationId: postApiV1IssueWithdrawal
      x-operation-id-source: derived
    servers:
    - url: https://sandbox.przelewy24.pl
      description: Sandbox server (uses test data)
    - url: https://secure.przelewy24.pl
      description: Production server (uses live data)
components:
  schemas:
    PageInformationObject:
      properties:
        recordsOnPage:
          type: integer
          description: Amount records on current page
        recordsAll:
          type: integer
          description: Amount of all records
        pageCount:
          type: integer
          description: Amount of pages
    HistoryError400Body:
      properties:
        error:
          type: string
          example: Invalid data provided
        code:
          type: string
          example: 400
        validation:
          items:
            $ref: '#/components/schemas/ValidationObject'
    OverallObject:
      oneOf:
      - $ref: '#/components/schemas/Batch'
      - $ref: '#/components/schemas/Transaction'
      - $ref: '#/components/schemas/Refund'
      discriminator:
        propertyName: details
    WithdrawalResponseBody:
      properties:
        data:
          type: array
          items:
            type: string
        responseCode:
          type: string
    BatchDetailsError400Body:
      properties:
        code:
          type: string
          example: 400
        error:
          type: string
          example: Value for field batch is invalid
    TransactionObject:
      properties:
        settledAmount:
          type: integer
          description: Amount without commision
        ordrId:
          type: integer
          description: Unique id of transaction
        sessionId:
          type: string
          description: Id of transaction used by merchant
        status:
          type: integer
          description: 'Status of transaction: 0 – not paid, 1 – paid, 2 – paid and verified, 3 – payment returned'
        date:
          type: string
          description: 'Creation date of transaction. Format: “YYYY-MM-DD HH:MM:SS”'
        dateOfTransaction:
          type: string
          description: Transaction registration date
        dateOfVerification:
          type: string
          description: Date of verification
        clientEmail:
          type: string
          description: Client's email
        accountChecksum:
          type: string
          description: Customer’s hashed bank account number
        paymentMethod:
          type: integer
          description: Payment method ID
        description:
          type: string
          description: Transaction description
        clientName:
          type: string
          description: Customer’s first name and surname
        clientAddress:
          type: string
          description: Customer's address
        clientCity:
          type: string
          description: Customer's city
        clientZip:
          type: string
          description: Customer's zip code
        statement:
          type: string
          description: Payment title
        fee:
          type: integer
          descirption: Commision
    GeneralErrorResponse:
      properties:
        error:
          type: string
        code:
          type: string
    HistoryDataObject:
      oneOf:
      - $ref: '#/components/schemas/Batch'
      - $ref: '#/components/schemas/Transaction'
      - $ref: '#/components/schemas/Refund'
      discriminator:
        propertyName: details
    BatchObject:
      properties:
        dateIn:
          type: string
          description: 'Date of creating batch. Format: “YYYY-MM-DD HH:MM:SS”'
        dateOut:
          type: string
          description: 'Date of withdrawal. Format: “YYYY-MM-DD HH:MM:SS”'
        batchId:
          type: integer
          description: Unique id of withdrawal
        commision:
          type: integer
          description: Sum of commisions
        charge:
          type: integer
          description: Charge
        refund:
          type: integer
          description: Sum of refunds
    Refund:
      properties:
        type:
          type: string
          description: 'Possible values: batch, refund, transaction'
        amount:
          type: integer
          description: Amount
        currency:
          type: string
          description: Currency
          example: PLN
        details:
          description: Array of objects depended of type
          items:
            $ref: '#/components/schemas/RefundObject'
    ValidationObject:
      properties:
        type:
          type: array
          example: Provided type is unknown
    BatchDetails200ResponseBody:
      properties:
        token:
          type: string
          description: Token needed to request next page
        responseCode:
          type: integer
          description: 0 if correct
        pageInformation:
          description: Array of page information
          properties:
            recordsOnPage:
              type: integer
              description: Amount records on current page
            recordsAll:
              type: integer
              description: Amount of all records
            pageCount:
              type: integer
              description: Amount of pages
        data:
          description: Array of transactions, refunds and batch
          items:
            $ref: '#/components/schemas/DataBatchDetailsObject'
    Transaction:
      properties:
        type:
          type: string
          description: 'Possible values: batch, refund, transaction'
        amount:
          type: integer
          description: Amount
        currency:
          type: string
          description: Currency
          example: PLN
        details:
          description: Array of objects depended of type
          items:
            $ref: '#/components/schemas/TransactionObject'
    DataBatchDetailsObject:
      properties:
        overall:
          description: Batch overall information
          items: null
          $ref: '#/components/schemas/OverallObject'
        transactions:
          description: List of transactions
          type: array
        refunds:
          description: List of refunds
          type: array
    Batch:
      properties:
        type:
          type: string
          description: 'Possible values: batch, refund, transaction'
        amount:
          type: integer
          description: Amount
        currency:
          type: string
          description: Currency
          example: PLN
        details:
          description: Array of objects depended of type
          items:
            $ref: '#/components/schemas/BatchObject'
    RefundObject:
      properties:
        refundId:
          type: integer
          description: Unique id of refund
        orderId:
          type: integer
          format: int64
          descirption: Unique id of payment transaction
        requestId:
          type: string
          description: Unique request ID of refund. Empty when refund is done by P24 Panel.
        dateIn:
          type: string
          description: Refund registration date
        dateOut:
          type: string
          description: Refund payout date
        status:
          type: integer
          descirption: 'Status of refund: 1 – completed, 2 – pending, 3 – waiting to acceptance, 4 - rejected'
        description:
          type: string
          description: Additional description of refund
    409ErrorResponse:
      properties:
        data:
          type: array
          items:
            type: string
        responseCode:
          type: string
    IssueWithdrawalRequestBody:
      properties:
        currency:
          type: string
          description: Currency
        timestamp:
          type: integer
          description: Timestamp
        affiliateId:
          type: integer
          description: Affiliated Id
    HistoryResponse200Body:
      properties:
        data:
          description: Array of objects (batches, transactions, refunds)
          items:
            $ref: '#/components/schemas/HistoryDataObject'
        token:
          type: string
          description: Token to request next page
        responseCode:
          type: integer
          description: 0 if correct
        pageInformation:
          description: Information about pagination
          items:
            $ref: '#/components/schemas/PageInformationObject'
    TransactionObject_2:
      properties:
        settledAmount:
          type: integer
          description: Amount without commision
        ordrId:
          type: integer
          description: Unique id of transaction
        sessionId:
          type: string
          description: Id of transaction used by merchant
        status:
          type: integer
          description: 'Status of transaction: 0 – not paid, 1 – paid, 2 – paid and verified, 3 – payment returned'
        date:
          type: string
          description: 'Creation date of transaction. Format: “YYYY-MM-DD HH:MM:SS”'
        dateOfTransaction:
          type: string
          description: Transaction registration date
        dateOfVerification:
          type: string
          description: Date of verification
        clientEmail:
          type: string
          description: Client's email
        accountChecksum:
          type: string
          description: Customer’s hashed bank account number
        paymentMethod:
          type: integer
          description: Payment method ID
        description:
          type: string
          description: Transaction description
        clientName:
          type: string
          description: Customer’s first name and surname
        clientAddress:
          type: string
          description: Customer's address
        clientCity:
          type: string
          description: Customer's city
        clientZip:
          type: string
          description: Customer's zip code
        statement:
          type: string
          description: Batch number in which the transaction was paid
        fee:
          type: integer
          descirption: Commision
  securitySchemes:
    basicAuth:
      description: This is the default authentication method. User and secretId are available in P24 panel:<br/>- "User" it's the same value as posId,<br/>- secretId it's the samevalue as key for reports (API key).
      type: http
      scheme: basic
x-refined-from:
- openapi-extended.yml
- openapi.yml
x-tagGroups:
- name: Methods available in API
  tags:
  - Ekspres P24 API
- name: Sign parameter
  tags:
  - Calculation of sign parameter
- name: Transfer
  tags:
  - Notifications on transfer status
  - Table of transfer statuses
  - Transfer scenarios
