openapi: 3.2.0
info:
  title: Przelewy24 APay API
  contact:
    name: Przelewy24 Support
    url: https://www.przelewy24.pl/support
  x-refined-note:
  - x-logo differs across the merged source definitions and was not carried
  version: '1.0'
  description: 'Operations tagged APay API across 2 of this provider''s published API definitions: openapi-extended.yml, openapi.yml. Each path carries the servers of the definition it was published in.'
servers:
- url: https://sandbox.przelewy24.pl
  description: Sandbox server (uses test data)
- url: https://secure.przelewy24.pl
  description: Production server (uses live data)
tags:
- name: APay API
  x-displayName: Apple Pay API
paths:
  /bundle/applepay/{TOKEN}:
    get:
      tags:
      - APay API
      summary: Token transfer
      servers:
      - url: https://secure.przelewy24.pl
        description: Production server (uses live data)
      consumes:
      - application/json
      - application/x-www-form-urlencoded
      parameters:
      - name: TOKEN
        in: path
        description: Token obtained from Przelewy24.
      description: 'Upon token obtaining from P24, JavaScript script should be called


        On completion of the transaction, a relevant response (callback) is called.'
      x-codeSamples:
      - lang: HTML
        source: "<head>\n    <meta charset=\"UTF-8\">\n    <meta name=\"viewport\"\n          content=\"width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0\">\n    <meta http-equiv=\"X-UA-Compatible\" content=\"ie=edge\">\n    <title>Apple Pay</title>\n    <script src=\"https://secure.przelewy24.pl/bundle/applepay/{{TOKEN}}\"></script>\n</head>\n<body>\n<script>\n    document.addEventListener(\"DOMContentLoaded\", function () {\n      Przelewy24ApplePay.config({\n        errorCallback: function () {\n            alert(\"error\");\n        },\n        exceptionCallback: function () {\n            alert(\"exception\");\n        },\n        requestFailedCallback: function () {\n            alert('requestFailed');\n        },\n        completePaymentCallback: function () {\n            alert(\"success\");\n        }\n      });\n    Przelewy24ApplePay.charge();\n    });\n  </script>\n\n  </body>\n"
      operationId: getBundleApplepayByTOKEN
      x-operation-id-source: derived
    servers:
    - url: https://sandbox.przelewy24.pl
      description: Sandbox server (uses test data)
    - url: https://secure.przelewy24.pl
      description: Production server (uses live data)
components:
  securitySchemes:
    basicAuth:
      description: This is the default authentication method. User and secretId are available in P24 panel:<br/>- "User" it's the same value as posId,<br/>- secretId it's the samevalue as key for reports (API key).
      type: http
      scheme: basic
x-refined-from:
- openapi-extended.yml
- openapi.yml
x-tagGroups:
- name: Methods available in API
  tags:
  - Ekspres P24 API
- name: Sign parameter
  tags:
  - Calculation of sign parameter
- name: Transfer
  tags:
  - Notifications on transfer status
  - Table of transfer statuses
  - Transfer scenarios
