openapi: 3.2.0
info:
  x-logo:
    url: getfile/przelewy24-logo_mini.png
    altText: LogoP24
  contact:
    name: Przelewy24 Support
    url: https://www.przelewy24.pl/support
  title: Marketplace Przelewy24 REST API Documentation Marketplace…
  description: '# Marketplace Przelewy24


    Przelewy24 provides an authorisation and clearing system and provides payment services as a Domestic Payment Institution.'
  version: 1.0.1
servers:
- url: https://secure.przelewy24.pl/
  description: Production server (uses live data)
- url: https://sandbox.przelewy24.pl/
  description: Sandbox server
tags:
- name: Marketplace Merchant API
paths:
  /api/v1/merchant/register:
    post:
      servers:
      - url: https://secure.przelewy24.pl/
        description: Production server (uses live data)
      tags:
      - Marketplace Merchant API
      summary: Merchant Register
      description: The method allows to register new merchant/shop.
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MerchantRegisterBody'
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MerchantRegisterResponse201'
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MerchantRegisterResponse200'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MerchantRegisterResponse400'
        '401':
          description: Not authorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthorizationRequired'
      security:
      - basicAuth: []
      operationId: postApiV1MerchantRegister
      x-operation-id-source: derived
  /api/v1/merchant/exists/{identificationType}/{identificationNumber}:
    get:
      description: The method allows to verify wheter a given merchant has been already registered in a given marketplace.
      tags:
      - Marketplace Merchant API
      summary: Merchant Exists
      parameters:
      - name: identificationType
        in: path
        description: 'Possible values: nip or pesel'
        required: true
        schema:
          type: string
      - name: identificationNumber
        in: path
        description: nip or pesel number
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MerchanExistsResponse200'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MerchantExistsResponse400'
        '401':
          description: Not authorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthorizationRequired'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MerchantExistsResponse404'
      security:
      - basicAuth: []
      operationId: getApiV1MerchantExistsByIdentificationTypeByIdentificationNumber
      x-operation-id-source: derived
components:
  schemas:
    MerchanExistsResponse200:
      properties:
        data:
          type: array
          description: Array with merchant's id
          items:
            type: string
        error:
          type: string
          description: Error message. Empty for correct
          example: ''
    MerchantRegisterDataObject:
      properties:
        merchant_id:
          type: integer
          description: Id of a new merchant
        link:
          type: string
          description: Link - new merchant registration form
    MerchantExistsResponse400:
      properties:
        data:
          type: array
        error:
          type: string
          description: Error message
          example: Invalid pesel format
    MerchantRegisterResponse201:
      properties:
        error:
          type: string
          description: Error message. In case of empty message, null is returned.
          example: null
        code:
          type: string
          description: Response's code
          example: 201
        data:
          description: Object of registration data
          $ref: '#/components/schemas/MerchantRegisterDataObject'
    AuthorizationRequired:
      properties:
        error:
          type: string
          description: Error message
          example: Incorrect authentication
        code:
          type: string
          description: Erroc code
          example: 401
    MerchantExistsResponse404:
      properties:
        data:
          type: array
        error:
          type: string
          description: Error message
          example: Affiliate not found
    MerchantRegisterResponse200:
      properties:
        error:
          type: string
          description: Error message. In case of empty message, null is returned.
          example: null
        code:
          type: string
          description: Response's code
          example: 200
        data:
          description: Object of registration data
          $ref: '#/components/schemas/MerchantRegisterDataObject'
    MerchantRegisterBody:
      properties:
        business_type:
          enum:
          - 1
          - 2
          - 3
          - 4
          - 5
          - 6
          - 7
          - 8
          - 9
          - 10
          type: integer
          description: Business type. Acceptable values are available at <a href="#section/Business-types"><b>Business types</b></a> table
        name:
          type: string
          minLength: 3
          maxLength: 255
          description: Name of business
        email:
          type: string
          maxLength: 50
          description: Merchant's address email
        pesel:
          type: string
          maxLength: 11
          minLength: 11
          description: Pesel number. The Pesel number must be a unique value.<br/><br/> <b>*Requierd in case natural person is registered (business_type = 1)</b>
        phone_number:
          type: string
          maxLength: 9
          minLength: 9
          description: Phone number, format xxxxxxxxx
        bank_account:
          type: string
          description: Number of bank account
        invoice_email:
          type: string
          maxLength: 50
          description: Email address for invoices
        shop_url:
          type: string
          description: 'Website address, format: http(s)://nazwasklepuprzyklad.pl<br/><br/> <b>*The parameter is not required, if parameter services_description is send</b>'
        services_description:
          type: string
          description: Description of provided services<br/><br/><b>*The parameter is not required, if parameter shop_url is send</b>
        trade:
          type: string
          description: Trade, Acceptable values are available at <a href="#section/List-of-trades"><b>List of trades</b></a> table
          example: agd
        krs:
          type: string
          description: KRS Number <br/><br/> <b>*Requierd only if business_type > 3
          maxLength: 10
          minLength: 10
        nip:
          type: string
          description: Number of NIP. The NIP number must be a unique value.<br/><br/> <b>*Requierd only if business_type != 1
          maxLength: 10
          minLength: 10
        regon:
          type: string
          description: Number of REGON<br/><br/> <b>*Requierd only if business_type != 1
          maxLength: 14
        acceptance:
          type: boolean
          description: Determines wheter the account should be activated immediately <br/><br/> <b>*The parameter is available only to selected Partners.</b></br>To have this parameter enabled, please contact Partner Support:partner@przelewy24.pl
          example: 1
        representatives:
          description: Data of the representative / person authorized to conclude the contract
          items:
            $ref: '#/components/schemas/RepresentativesArray'
        contact_person[name]:
          type: string
          description: First name and last name of contact person
          maxLength: 50
        contact_person[email]:
          type: string
          description: Address email of contact person
          maxLength: 50
        contact_person[phone_number]:
          type: string
          description: Phone number of contact person
          maxLength: 9
        technical_contact[name]:
          type: string
          description: First name and last name of technical contact person
        technical_contact[email]:
          type: string
          description: Address email of technical contact person
        technical_contact[phone_number]:
          type: string
          description: Phone number of technical contact person
        address[country]:
          type: string
          description: Country of company's headquarters, available value is PL
          example: PL
          enum:
          - PL
        address[city]:
          type: string
          description: City of comapny's headquarters
          example: Warszawa
          maxLength: 50
          minLength: 3
        address[post_code]:
          type: string
          description: Postal code of company's headquarters, format 00-000 or 00000
        address[street]:
          type: string
          description: Street of company's headquarters
          maxLength: 100
          minLength: 3
        correspondence_address[country]:
          type: string
          description: Correspondence address - country, available value is PL
          example: PL
          enum:
          - PL
        correspondence_address[city]:
          type: string
          description: Correspondence address - city
          example: Poznań
          maxLength: 50
          minLength: 3
        correspondence_address[post_code]:
          type: string
          description: Correspondence address - postal code, format 00-000 or 00000
        correspondence_address[street]:
          type: string
          description: Correspondence address - street
          maxLength: 100
          minLength: 3
      required:
      - business_type
      - name
      - email
      - phone_number
      - bank_account
      - invoice_email
      - shop_url
      - services_description
      - trade
      - acceptace
      - contact_person[name]
      - contact_person[email]
      - contact_person[phone_number]
      - technical_contact[name]
      - technical_contact[email]
      - technical_contact[phone_number]
      - address[country]
      - address[city]
      - address[post_code]
      - address[street]
      - correspondence_address[country]
      - correspondence_address[city]
      - correspondence_address[street]
      - correspondence_address[post_code]
    RepresentativesArray:
      properties:
        name:
          maxLength: 100
          type: string
          description: First name and last name
        pesel:
          type: string
          maxLength: 11
          minLength: 11
          description: Explicit identifier - PESEL
    MerchantRegisterResponse400:
      properties:
        error:
          type: string
          description: Error message
          example: 'Incorrect parameter: phone_number | (contact_person)'
        code:
          type: string
          description: Erroc code
          example: 400
        data:
          default: null
          example: null
  securitySchemes:
    basicAuth:
      description: This is the default authentication method. Merchant's ID is user login and API key is the password.
      type: http
      scheme: basic
x-tagGroups:
- name: User creating and management
  tags:
  - Marketplace Merchant API
- name: Marketplace management
  tags:
  - Marketplace Management API
- name: Partner Marketplace
  tags:
  - Marketplace Partner API
