openapi: 3.2.0
info:
  x-logo:
    url: getfile/przelewy24-logo_mini.png
    altText: LogoP24
  contact:
    name: Przelewy24 Support
    url: https://www.przelewy24.pl/support
  title: Marketplace Przelewy24 REST API Documentation Marketplace…
  description: '# Marketplace Przelewy24


    Przelewy24 provides an authorisation and clearing system and provides payment services as a Domestic Payment Institution.'
  version: 1.0.1
servers:
- url: https://secure.przelewy24.pl/
  description: Production server (uses live data)
- url: https://sandbox.przelewy24.pl/
  description: Sandbox server
tags:
- name: Marketplace Partner API
paths:
  /api/v1/multiStore/{affiliate_id}/crc:
    get:
      tags:
      - Marketplace Partner API
      summary: CRC key downloading
      description: The method allows to download information about crc key/keys from given submerchant's account.
      parameters:
      - name: affiliate_id
        in: path
        description: Merchant's ID.
        required: true
        schema:
          type: integer
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CrcResponse200'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CrcResponse400'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CrcResponse404'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthorizationRequired'
      security:
      - basicAuth: []
      operationId: getApiV1MultiStoreByAffiliateIdCrc
      x-operation-id-source: derived
  /api/v1/multiStore/{affiliate_id}/apiKey:
    get:
      tags:
      - Marketplace Partner API
      summary: API key downloading
      description: The method allows to download information about API key/keys from given submerchant's account.
      parameters:
      - name: affiliate_id
        in: path
        description: Merchant's ID
        required: true
        schema:
          type: integer
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiKeyResponse200'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiKeyResponse400'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiKeyResponse404'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthorizationRequired'
      security:
      - basicAuth: []
      operationId: getApiV1MultiStoreByAffiliateIdApiKey
      x-operation-id-source: derived
components:
  schemas:
    ApiKeyResponse400:
      properties:
        error:
          type: string
          description: Error message
          example: Invalid  affiliate
        status:
          type: integer
          description: Status
          example: 400
    CrcResponse400:
      properties:
        data:
          type: array
        error:
          type: string
          description: Error message
          example: Invalid merchant or affiliate id
    CrcResponse404:
      properties:
        data:
          type: array
        error:
          type: string
          description: Error message
          example: Affiliate not found
    CrcResponse200:
      properties:
        data:
          description: Object with crc key data
          $ref: '#/components/schemas/CrcDataObject'
        error:
          type: string
          description: Error message, empty for correct
          example: ''
    ApiKeyResponse404:
      properties:
        error:
          type: string
          description: Error message
          example: Affiliate not found
        status:
          type: integer
          description: Status
          example: 404
    CrcDataObject:
      properties:
        id:
          type: string
          description: Merchant's id
        crc:
          type: string
          description: CRC key
    AuthorizationRequired:
      properties:
        error:
          type: string
          description: Error message
          example: Incorrect authentication
        code:
          type: string
          description: Erroc code
          example: 401
    ApiKeyResponse200:
      properties:
        api_key:
          type: string
          description: API key
        type:
          type: string
          description: Authentication type
          example: baseAuth
        name:
          type: string
          description: Nazwa
          example: ''
  securitySchemes:
    basicAuth:
      description: This is the default authentication method. Merchant's ID is user login and API key is the password.
      type: http
      scheme: basic
x-tagGroups:
- name: User creating and management
  tags:
  - Marketplace Merchant API
- name: Marketplace management
  tags:
  - Marketplace Management API
- name: Partner Marketplace
  tags:
  - Marketplace Partner API
