openapi: 3.2.0
info:
  title: Przelewy24 Additional API functionality API
  contact:
    name: Przelewy24 Support
    url: https://www.przelewy24.pl/support
  x-refined-note:
  - x-logo differs across the merged source definitions and was not carried
  version: '1.0'
  description: 'Operations tagged Additional API functionality across 2 of this provider''s published API definitions: openapi-extended.yml, openapi.yml. Each path carries the servers of the definition it was published in.'
servers:
- url: https://sandbox.przelewy24.pl
  description: Sandbox server (uses test data)
- url: https://secure.przelewy24.pl
  description: Production server (uses live data)
tags:
- name: Additional API functionality
  x-displayName: Additional API functionality
paths:
  /api/v1/testAccess:
    get:
      tags:
      - Additional API functionality
      summary: Test Access
      description: Test connection. REST uses "basicAuth" authorisation standard, where login and password are, respectively, account ID in P24 and the API key obtained from the “My data” section (“API and configuration data” subsection).
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TransactionTestAccess200'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InvalidInputData'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedResponse'
      security:
      - basicAuth: []
      operationId: getApiV1TestAccess
      x-operation-id-source: derived
    servers:
    - url: https://sandbox.przelewy24.pl
      description: Sandbox server (uses test data)
    - url: https://secure.przelewy24.pl
      description: Production server (uses live data)
  /api/v1/payment/methods/{lang}?amount=150&subgroup=1&currency=PLN:
    get:
      tags:
      - Additional API functionality
      summary: Payment Methods
      description: Method returns a list of payment methods.
      parameters:
      - name: lang
        in: path
        description: 'A language code. One of these: pl , en'
        required: true
        schema:
          type: string
          enum:
          - pl
          - en
      - in: query
        name: amount
        schema:
          type: integer
        description: Value of the amount.<br>It gives the possibility of clarifying whether a given form of payment is available for a specific amount.
        required: false
      - in: query
        name: currency
        schema:
          type: string
          default: PLN
        description: Currency compatible with ISO, e.g. PLN
        required: false
      - in: query
        name: subgroup
        schema:
          type: integer
          enum:
          - 1
          - 0
        description: Condition if the subgroup value should be visible in the response. Default 0 (NO). Optional 1 (YES).
        required: false
      responses:
        '200':
          description: List of payment methods
          content:
            application/json:
              schema:
                properties:
                  data:
                    type: array
                    description: List of methods
                    items:
                      $ref: '#/components/schemas/PaymentMethodsResponseMethod'
                  agreements:
                    type: array
                    description: List of agreements
                  responseCode:
                    type: string
                    default: ''
                type: object
        '403':
          description: Not authorized.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedResponse'
        '404':
          description: Payment methods not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BasicResponse'
      security:
      - basicAuth: []
      operationId: getApiV1PaymentMethods{lang}?amount=150&subgroup=1&currency=PLN
      x-operation-id-source: derived
    servers:
    - url: https://sandbox.przelewy24.pl
      description: Sandbox server (uses test data)
    - url: https://secure.przelewy24.pl
      description: Production server (uses live data)
  /api/v1/transaction/refund:
    post:
      tags:
      - Additional API functionality
      summary: Refund transaction
      description: Create refund for one or more transactions.
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TransactionRefundJsonRequestBody'
        description: Parameter 'refunds' may contain multiple refunds.
        required: true
      responses:
        '201':
          description: Created. Parameter 'data' contains all refunds.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TransactionRefund201'
        '400':
          description: Invalid input data
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InvalidInputDataRefund'
        '401':
          description: Not authorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedResponse'
        '409':
          description: Conflict
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TransactionRefund409'
        '500':
          description: Unknown error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Refund500Response'
      security:
      - basicAuth: []
      operationId: postApiV1TransactionRefund
      x-operation-id-source: derived
    servers:
    - url: https://sandbox.przelewy24.pl
      description: Sandbox server (uses test data)
    - url: https://secure.przelewy24.pl
      description: Production server (uses live data)
  /api/v1/transaction/registerOffline:
    post:
      description: 'This method allows you to register offline payments. To use the method, you must first register standard payment transaction with register transaction method.


        Additionally, you can control which bank use for payment by using the method parameter.'
      tags:
      - Additional API functionality
      summary: Register offline transaction
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TransactionRegisterOfflineRequest'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/TransactionRegisterOfflineRequest'
        description: Input parameters.
        required: true
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TransactionRegistrationOffline200'
        '400':
          description: Invalid input data
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InvalidInputData'
        '401':
          description: Not authorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedResponse'
        '409':
          description: Conflict
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TransactionRegistrationOffline409'
        '500':
          description: Undefined error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorCodeResponse'
      security:
      - basicAuth: []
      operationId: postApiV1TransactionRegisterOffline
      x-operation-id-source: derived
    servers:
    - url: https://sandbox.przelewy24.pl
      description: Sandbox server (uses test data)
    - url: https://secure.przelewy24.pl
      description: Production server (uses live data)
  /api/v1/transaction/register/ttl:
    post:
      description: Transaction registration and defining the lifespan of the transaction at the same time. The ttl paramter is required.
      tags:
      - Additional API functionality
      summary: Transaction Registration with ttl
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TransactionRegisterTtl'
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TransactionRegistrationResponse'
        '400':
          description: bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InvalidInputData'
        '401':
          description: not authorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedResponse'
      security:
      - basicAuth: []
      operationId: postApiV1TransactionRegisterTtl
      x-operation-id-source: derived
    servers:
    - url: https://sandbox.przelewy24.pl
      description: Sandbox server (uses test data)
    - url: https://secure.przelewy24.pl
      description: Production server (uses live data)
  /api/v1/transaction/register/splitpayment:
    post:
      description: Split Payments are charged using previously registered token in a process analogous to transaction/register. When registering the token, you must add the splitPaymentDetails object characteristic for this form of transaction execution.
      tags:
      - Additional API functionality
      summary: Split Payment
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TranstactionSplitPayment'
        description: Array
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TransactionRegistrationResponse'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InvalidInputData'
        '401':
          description: Not authorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedResponse'
      security:
      - basicAuth: []
      operationId: postApiV1TransactionRegisterSplitpayment
      x-operation-id-source: derived
    servers:
    - url: https://sandbox.przelewy24.pl
      description: Sandbox server (uses test data)
    - url: https://secure.przelewy24.pl
      description: Production server (uses live data)
  /api/v1/refund/by/orderId/{orderId}:
    get:
      tags:
      - Additional API functionality
      summary: Refund by OrderID
      description: Get refund details for given Order Id
      consumes:
      - application/json
      - application/x-www-form-urlencoded
      parameters:
      - name: orderId
        in: path
        description: existing refund Order Id
        required: true
        type: integer
        format: int64
      responses:
        '200':
          description: Request has been processed successful. Parameter 'data' contains refund info.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TransactionRefundsInfoResponse'
        '401':
          description: Not authorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedResponse'
        '404':
          description: Refund with given Order Id not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TransactionNotFoundResponse'
        '500':
          description: Undefined error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorCodeResponse'
      security:
      - basicAuth: []
      operationId: getApiV1RefundByOrderIdByOrderId
      x-operation-id-source: derived
    servers:
    - url: https://sandbox.przelewy24.pl
      description: Sandbox server (uses test data)
    - url: https://secure.przelewy24.pl
      description: Production server (uses live data)
  /api/v1/transaction/by/sessionId/{sessionId}:
    get:
      tags:
      - Additional API functionality
      summary: Get transaction by sessionID
      description: Method returns transaction information by sessionId
      consumes:
      - application/json
      - application/x-www-form-urlencoded
      parameters:
      - name: sessionId
        in: path
        description: Transaction ID assigned by Merchant
        required: true
        type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TransactionBySessionIdSuccessResponse'
        '400':
          description: Invalid input data
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InvalidInputData'
        '401':
          description: Incorrect authentication
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedResponse'
        '404':
          description: Transaction not exist
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TransactionNotFoundResponse'
      security:
      - basicAuth: []
      operationId: getApiV1TransactionBySessionIdBySessionId
      x-operation-id-source: derived
    servers:
    - url: https://sandbox.przelewy24.pl
      description: Sandbox server (uses test data)
    - url: https://secure.przelewy24.pl
      description: Production server (uses live data)
  /api/v1/payment/methods/{lang}?amount=150&currency=PLN:
    get:
      tags:
      - Additional API functionality
      summary: Payment Methods
      description: Method returns a list of payment methods.
      parameters:
      - name: lang
        in: path
        description: 'A language code. One of these: pl , en'
        required: true
        schema:
          type: string
          enum:
          - pl
          - en
      - in: query
        name: amount
        schema:
          type: integer
        description: Value of the amount.<br>It gives the possibility of clarifying whether a given form of payment is available for a specific amount.
        required: false
      - in: query
        name: currency
        schema:
          type: string
          default: PLN
        description: Currency compatible with ISO, e.g. PLN
        required: false
      responses:
        '200':
          description: List of payment methods
          content:
            application/json:
              schema:
                properties:
                  data:
                    type: array
                    description: List of methods
                    items:
                      $ref: '#/components/schemas/PaymentMethodsResponseMethod_2'
                  agreements:
                    type: array
                    description: List of agreements
                  responseCode:
                    type: string
                    default: ''
                type: object
        '403':
          description: Not authorized.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedResponse'
        '404':
          description: Payment methods not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BasicResponse'
      security:
      - basicAuth: []
      operationId: getApiV1PaymentMethods{lang}?amount=150&currency=PLN
      x-operation-id-source: derived
    servers:
    - url: https://sandbox.przelewy24.pl
      description: Sandbox server (uses test data)
    - url: https://secure.przelewy24.pl
      description: Production server (uses live data)
components:
  schemas:
    TransactionRegisterTtl:
      required:
      - merchantId
      - posId
      - sessionId
      - amount
      - currency
      - description
      - email
      - country
      - language
      - urlReturn
      - sign
      - ttl
      properties:
        merchantId:
          description: Merchant identification number
          type: integer
        posId:
          description: Shop identification number (defaults to merchant ID)
          type: integer
        sessionId:
          description: Unique identifier from merchant's system
          type: string
        amount:
          description: Transaction amount expressed in lowest currency unit, e.g. 1.23 PLN = 123
          type: integer
        currency:
          description: Currency compatible with ISO, e.g. PLN
          default: PLN
          type: string
          maxLength: 3
        description:
          description: Transaction description
          type: string
          maxLength: 1024
        email:
          description: Customer's e-mail
          type: string
          maxLength: 50
        client:
          description: Customer's first name and surname
          type: string
          maxLength: 50
        address:
          description: Customer's address
          type: string
          maxLength: 80
        zip:
          description: Customer's postal code
          type: string
          maxLength: 10
        city:
          description: Customer's city
          type: string
          maxLength: 50
        country:
          description: Country codes compatible with ISO, e.g. PL, DE, etc.
          type: string
          default: PL
          maxLength: 2
        phone:
          description: 'Customer''s telephone in the following format : 481321132123'
          type: string
          maxLength: 2
        language:
          description: 'One of following language codes according to ISO 639-1: bg, cs, de, en, es, fr, hr, hu, it, nl, pl, pt, se, sk, ro'
          type: string
          default: pl
        method:
          description: Payment method ID. List of payment methods provided in the panel or available through API
          type: integer
          maxLength: 2
        urlReturn:
          description: URL address to which customer will be redirected when transaction is complete
          type: string
          maxLength: 250
        urlStatus:
          description: URL address to which transaction status will be send
          type: string
          maxLength: 250
        urlNotify:
          description: URL address to which notify message will be send
          type: string
          maxLength: 250
        timeLimit:
          description: Time limit for transaction process 0 - no limit max. 99 (in minutes)
          type: integer
        ttl:
          description: Time limit for transaction token 0 = max 31 days max. 44640 (in minutes)
          type: integer
        channel:
          description: ' 1 - card + ApplePay + GooglePay, 2 - transfer, 4 - traditional transfer, 8 - N/A, 16 - all 24/7 – makes available all payment methods, 32 - use pre-payment, 64 – only pay-by-link methods, 128 – instalment payment forms, 256 – wallets, 4096 - card, 8192 - blik, 16384 - all methods except blik

            <p>To activate the specific channels, their values should be summed up.

            <p>Example: transfer and traditional transfer: channel=6'
          type: integer
          enum:
          - 1
          - 2
          - 4
          - 8
          - 16
          - 32
          - 64
          - 128
          - 256
          - 4096
          - 8192
          - 16384
        shipping:
          description: Delivery cost
          type: integer
        transferLabel:
          description: Description forwarded to transfer's description (not in every payment methods). A parameter can contain values only ​​in a range [a-z A-Z 0-9 ęółśążźćńĘÓŁŚĄŻŹĆŃ . / :- ]
          type: string
          maxLength: 20
        sdkVersion:
          description: Version of mobile library. Determines if transaction is mobile
          type: string
        sign:
          description: <br>Checksum of parameters:<br> {<font color = "brown">"sessionId":</font>"str",<font color = "brown">"merchantId":</font>int,<font color = "brown">"amount":</font>int,<font color = "brown">"currency":</font>"str",<font color = "brown">"crc":</font>"str"} <br><br>calculated with the use of sha384<br><br> <b><font color = "#DB2053">IMPORTANT!:</font></b><br>  in case json_encode function is used, the following attributes should be added <br> "JSON_UNESCAPED_UNICODE | JSON_UNESCAPED_SLASHES"
          type: string
        encoding:
          description: 'Coding system for characters sent: ISO-8859-2, UTF-8, Windows-1250'
          type: string
        cart:
          description: cart
          type: array
          items: null
          $ref: '#/components/schemas/CartParameters'
        methodRefId:
          description: Special parameter for some payment flows e.g. BLIK and Card one-click.
          type: string
    TransactionRefundJsonRequestBody:
      properties:
        requestId:
          type: string
          description: Individual request ID
          maxLength: 45
        refunds:
          type: array
          items:
            $ref: '#/components/schemas/RefundRequestArrayDataBasic'
        refundsUuid:
          type: string
          description: Individual ID for a correct refund request in the merchant’s system
          maxLength: 35
        urlStatus:
          type: string
          description: Notification address for the refund batch transferred
      required:
      - requestId
      - refunds
      - refundsUuid
    TransactionRegistrationOffline200:
      properties:
        data:
          properties:
            orderId:
              type: integer
              format: int64
              description: Unique transaction ID assigned by P24
            sessionId:
              type: string
              description: Unique ID assigned by the merchant’s system
            amount:
              type: integer
              description: Transaction amount
            statement:
              type: string
              description: Full payment title
            iban:
              type: string
              description: Number of account for payment
            ibanOwner:
              type: string
              description: Name of payment recipient
            ibanOwnerAddress:
              type: string
              description: Address of payment recipient
          type: object
        responseCode:
          type: number
          example: 0
    TransactionRegisterOfflineRequest:
      properties:
        token:
          type: string
    BasicResponse:
      properties:
        data:
          type: array
          default: Payment methods not found
          items:
            type: string
            default: Payment methods not found
        responseCode:
          default: 404
          type: number
    InvalidInputDataRefund:
      properties:
        error:
          type: string
          description: Error message. Possbile values:<br/><br/>"Invalid input parameters" - in case incorrect parameters or their values,<br/><br/> "Request already exists" - in case the refund was already created,<br/><br/> "Concurrent call" - in case the  refund is multiplied.
        code:
          type: number
          default: 400
          example: 400
    PaymentMethodsResponseMethod:
      properties:
        name:
          type: string
          description: Name of payment method
        id:
          type: integer
          description: Payment method ID
        group:
          type: string
          description: 'Possible values: FastTransfers, Blik, eTransfer, Credit Card, Installments, Wallet, Foreign, PrePayment, TraditionalTransfer, Another. SplitPayment'
        subgroup:
          type: string
          description: 'Possible values: PBL, Blik, BlikWhiteLabel, eTransfer, Credit Card, Installments, Wallet, Foreign, PrePayment, TraditionalTransfer, Another, SplitPayment, PIS'
        status:
          type: boolean
          example: true
          description: Specifies whether a given method is active
        imgUrl:
          type: string
          description: Link to graphics
        mobileImgUrl:
          type: string
          description: Link to mobile graphics
        mobile:
          type: boolean
          example: true
          description: Is the payment mobile method available?
        availabilityHours:
          $ref: '#/components/schemas/availabilityHours'
    TransactionRefund201Item:
      properties:
        orderId:
          type: integer
          format: int64
          description: Transaction order ID from Przelewy24
        sessionId:
          type: string
          description: Transaction session ID from the Partner’s system
        amount:
          type: integer
          description: Amount of refund
        description:
          type: string
          description: Transaction description
        status:
          type: boolean
          example: true
          description: Was refund attempt successful?
        message:
          type: string
          example: success
          description: Text description of successful refund
    TransactionRegistrationResponse:
      properties:
        data:
          properties:
            token:
              type: string
          type: object
        responseCode:
          type: number
          default: 0
    TransactionRefund409Item:
      properties:
        orderId:
          type: integer
          format: int64
          description: Transaction order ID from Przelewy24
        sessionId:
          type: string
          description: Transaction session ID from the Partner’s system
        amount:
          type: integer
          description: Amount of refund
        description:
          type: string
          description: Refund description
        status:
          type: boolean
          example: false
          description: Was refund attempt successful?
        message:
          type: string
          example: The amount of refund exceeds available amount for the transaction
          description: Error message. Possible values:<br/><br/>"Transaction not found" - in case the transaction is not found, <br/><br/>"Transaction in wrong status - cannot refund" - in case the transaction is in wrong status, therefore the refundis not possible, <br/><br/>"Insufficient funds available" - in case there are not enough funds to execute the refund, <br/><br/>"The amount of refund exceeds available amount for the transaction" - in case the amount of the refund request exceeds available amount for the transaction
    TransactionNotFoundResponse:
      properties:
        error:
          type: string
          default: Transaction not found
          example: Transaction not found
        responseCode:
          type: number
          default: 0
          example: 0
    TransactionBySessionIdSuccessResponse:
      properties:
        data:
          $ref: '#/components/schemas/TransactionBySessionIdResponse'
        responseCode:
          type: number
          default: 0
      type: object
    ErrorCodeResponse:
      properties:
        error:
          type: string
          example: Undefined error
          default: Undefined error
        code:
          type: integer
          example: 500
          default: 500
      type: object
    UnauthorizedResponse:
      properties:
        error:
          type: string
          default: Incorrect authentication
          example: Incorrect authentication
        code:
          type: number
          default: 401
          example: 401
    TransactionWithRefundsResponse:
      properties:
        orderId:
          type: integer
          format: int64
        sessionId:
          type: string
        amount:
          type: integer
        currency:
          type: string
        refunds:
          type: array
          items:
            $ref: '#/components/schemas/RefundsCollection'
      type: object
    RefundRequestArrayDataBasic:
      properties:
        orderId:
          type: integer
          format: int64
          description: Transaction order ID from Przelewy24
        sessionId:
          type: string
          description: Transaction session ID from the Partner’s system
        amount:
          type: integer
          description: Amount of refund
        description:
          type: string
          description: Refund description visible in transfer details
          maxLength: 35
      type: object
      required:
      - orderId
      - sessionId
      - amount
    TransactionTestAccess200:
      properties:
        data:
          type: boolean
          default: true
        error:
          type: string
    TransactionRefundsInfoResponse:
      properties:
        data:
          $ref: '#/components/schemas/TransactionWithRefundsResponse'
        responseCode:
          type: number
          example: 0
    TranstactionSplitPayment:
      required:
      - merchantId
      - posId
      - sessionId
      - amount
      - currency
      - description
      - email
      - country
      - language
      - urlReturn
      - sign
      - splitPaymentDetails
      - description
      properties:
        merchantId:
          name: merchantId
          in: formData
          description: Merchant identification number
          type: integer
        posId:
          name: posId
          in: formData
          description: Shop identification number (defaults to merchant ID)
          type: integer
        sessionId:
          name: sessionId
          in: formData
          description: Unique identifier from merchant's system
          type: string
          maxLength: 100
        amount:
          name: amount
          in: formData
          description: Transaction amount expressed in lowest currency unit, e.g. 1.23 PLN = 123
          type: integer
        currency:
          name: currency
          in: formData
          description: Currency compatible with ISO, e.g. PLN
          type: string
          maxLength: 3
          default: PLN
        description:
          name: description
          in: formData
          description: Transaction description
          type: string
          maxLength: 1024
        email:
          name: email
          in: formData
          description: Customer's e-mail
          type: string
          maxLength: 50
        client:
          name: client
          in: formData
          description: Customer's first name and surname
          type: string
          maxLength: 40
        address:
          name: address
          in: formData
          description: Customer's address
          type: string
          maxLength: 80
        zip:
          name: zip
          in: formData
          description: Customer's postal code
          type: string
          maxLength: 10
        city:
          name: city
          in: formData
          description: Customer's city
          type: string
          maxLength: 50
        country:
          name: country
          in: formData
          description: Country codes compatible with  ISO, e.g. PL, DE, etc.
          type: string
          maxLength: 2
          default: PL
        phone:
          name: phone
          in: formData
          description: 'Customer''s telephone in the following format:  481321132123'
          type: string
          maxLength: 12
        language:
          name: language
          in: formData
          description: 'One of following language codes according to ISO 639-1: bg, cs, de, en, es, fr, hr, hu, it, nl, pl, pt, se, sk, ro'
          type: string
          default: pl
          maxLength: 2
        method:
          name: method
          in: formData
          description: Payment method ID. List of payment methods provided in the panel or available through API
          type: integer
        urlReturn:
          name: urlReturn
          in: formData
          description: URL address to which customer will be redirected when transaction is complete
          type: string
          maxLength: 250
        urlStatus:
          name: urlStatus
          in: formData
          description: URL address to which transaction status will be send
          type: string
          maxLength: 250
        timeLimit:
          name: timeLimit
          in: formData
          description: Time limit for transaction process, 0 - no limit, max. 99 (in minutes)
          type: integer
        channel:
          name: channel
          in: formData
          description: ' 1 - card + ApplePay + GooglePay, 2 - transfer, 4 - traditional transfer, 8 - N/A, 16 - all 24/7 – makes available all payment methods, 32 - use pre-payment, 64 – only pay-by-link methods, 128 – instalment payment forms, 256 – wallets, 4096 - card, 8192 - blik, 16384 - all methods except blik

            <p>To activate the specific channels, their values should be summed up.

            <p>Example:

            transfer and traditional transfer: channel=6'
          type: integer
          enum:
          - '1'
          - '2'
          - '4'
          - '8'
          - '16'
          - '32'
          - '64'
          - '128'
          - '256'
          - '4096'
          - '8192'
          - '16384'
        shipping:
          name: shipping
          in: formData
          description: Delivery cost
          type: integer
        transferLabel:
          name: transferLabel
          in: formData
          description: Description forwarded to transfer's description (not in every payment methods). A parameter can contain values only ​​in a range [a-z A-Z 0-9 ęółśążźćńĘÓŁŚĄŻŹĆŃ . / :- ]
          type: string
          maxLength: 20
        sdkVersion:
          name: sdkVersion
          in: formData
          description: Version of mobile library. Determines if transaction is mobile.
          type: string
          maxLength: 10
        sign:
          name: sign
          in: formData
          type: string
          maxLength: 100
          description: <br>Checksum of parameters:<br> {<font color = "brown">"sessionId":</font>"string",<font color = "brown">"merchantId":</font>int,<font color = "brown">"amount":</font>int,<font color = "brown">"currency":</font>"string",<font color = "brown">"crc":</font>"string"} <br><br>calculated with the use of sha384<br><br> <b><font color = "#DB2053">IMPORTANT!:</font></b><br>  in case json_encode function is used, the following attributes should be added <br> "JSON_UNESCAPED_UNICODE | JSON_UNESCAPED_SLASHES"
        encoding:
          name: encoding
          in: formData
          description: 'Coding system for characters sent: ISO-8859-2, UTF-8, Windows-1250'
          type: string
          maxLength: 15
        cart:
          description: cart
          items:
            $ref: '#/components/schemas/CartParameters'
        methodRefId:
          name: methodRefId
          in: formData
          description: Special parameter for some payment flows e.g. BLIK and Card one-click.
          type: string
          maxLength: 250
        splitPaymentDetails:
          type: object
          properties:
            vatAmount:
              type: integer
              description: Kwota podatku VAT
            invoiceNumber:
              type: string
              description: Numer faktury
            nip:
              type: string
              description: Numer identyfikacji podatkowej
            iban:
              type: string
              description: Międzynarodowy numer rachunku bankowego IBAN (international bank account number)
          required:
          - vatAmount
          - invoiceNumber
          - nip
    TransactionRefund201:
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/TransactionRefund201Item'
        responseCode:
          type: number
    InvalidInputData:
      properties:
        error:
          type: string
          default: Invalid input data
          example: Invalid input data
        code:
          type: number
          default: 400
          example: 400
    TransactionBySessionIdResponse:
      properties:
        statement:
          type: string
          description: Transfer title
        orderId:
          type: integer
          format: int64
          description: Transaction ID
        sessionId:
          type: string
          description: Transaction ID assigned by Merchant
        status:
          type: integer
          description: Transaction status. 0 - no payment, 1 - advance payment, 2 - payment made, 3 - payment returned
        amount:
          type: integer
          description: Transaction amount
        currency:
          type: string
          default: PLN
          description: Transaction currency
        date:
          type: string
          description: Transaction registration date
        dateOfTransaction:
          type: string
          description: Date of payment
        clientEmail:
          type: string
          description: Customer's e-mail
        accountMD5:
          type: string
          description: Customer's hashed bank account number
        paymentMethod:
          type: integer
          description: Payment method ID
        description:
          type: string
          description: Transaction description
        clientName:
          type: string
          description: Customer's first name and surname
        clientAddress:
          type: string
          description: Customer's address
        clientCity:
          type: string
          description: Customer's city
        clientPostcode:
          type: string
          description: Customer's zip code
        batchId:
          type: integer
          description: Batch number in which the transaction was paid
        fee:
          type: string
          description: Commission
    CartParameters:
      description: Cart Parameters
      type: object
      required:
      - sellerId
      - sellerCategory
      properties:
        sellerId:
          type: string
          description: Shop ID on the part of Partner
        sellerCategory:
          type: string
          description: Shop category
        name:
          type: string
          description: Product name<br/><br/><font color="red">Required for PayPal payment method</font>
        description:
          type: string
          description: Product description<br/><br/><font color="red">Required for PayPal payment method</font>
        quantity:
          type: integer
          description: Product quantity<br/><br/><font color="red">Required for PayPal payment method</font>
        price:
          type: integer
          description: Product price<br/><br/><font color="red">Required for PayPal payment method</font>
        number:
          type: string
          description: Product number<br/><br/><font color="red">Required for PayPal payment method</font>
    RefundsCollection:
      properties:
        batchId:
          type: integer
        requestId:
          type: string
        date:
          type: string
        login:
          type: string
        description:
          type: string
        status:
          type: integer
          example: 3
          default: 3
          description: 1 - completed,<br/>2 - pending,<br/>3 - awaiting P24's acceptance,<br/>4 - rejected
        amount:
          type: integer
      type: object
    availabilityHours:
      type: object
      description: An object containing information about the method's availability hours (methods with ID 177, 178 return bool true/false information)
      properties:
        mondayToFriday:
          type: string
        saturday:
          type: string
        sunday:
          type: string
    TransactionRefund409:
      properties:
        error:
          type: array
          items:
            $ref: '#/components/schemas/TransactionRefund409Item'
        code:
          type: integer
          example: 409
    TransactionRegistrationOffline409:
      properties:
        error:
          type: string
          default: Unable to create offline transaction
          example: Unable to create offline transaction
        code:
          type: number
          example: 409
    Refund500Response:
      properties:
        error:
          type: string
          example: Unknown error
          description: Error message
        code:
          type: integer
          example: 500
          default: 500
    InvalidInputDataRefund_2:
      properties:
        error:
          type: string
          example: Request already exists
          description: Error message. Possbile values:<br/><br/>"Invalid input parameters" - in case incorrect parameters or their values,<br/><br/> "Request already exists" - in case the refund was already created,<br/><br/> "Concurrent call" - in case the  refund is multiplied.
        code:
          type: number
          default: 400
          example: 400
    PaymentMethodsResponseMethod_2:
      properties:
        name:
          type: string
          description: Name of payment method
        id:
          type: integer
          description: Payment method ID
        group:
          type: string
          description: 'Possible values: FastTransfers, Blik, eTransfer, Credit Card, Installments, Wallet, Foreign, PrePayment, TraditionalTransfer, Another. SplitPayment'
        subgroup:
          type: string
          description: 'Possible values: FastTransfers, Blik, eTransfer, Credit Card, Installments, Wallet, Foreign, PrePayment, TraditionalTransfer, Another. SplitPayment'
        status:
          type: boolean
          example: true
          description: Specifies whether a given method is active
        imgUrl:
          type: string
          description: Link to graphics
        mobileImgUrl:
          type: string
          description: Link to mobile graphics
        mobile:
          type: boolean
          example: true
          description: Is the payment mobile method available?
        availabilityHours:
          $ref: '#/components/schemas/availabilityHours'
    TranstactionSplitPayment_2:
      required:
      - merchantId
      - posId
      - sessionId
      - amount
      - currency
      - description
      - email
      - country
      - language
      - urlReturn
      - sign
      - splitPaymentDetails
      - description
      properties:
        merchantId:
          name: merchantId
          in: formData
          description: Merchant identification number
          type: integer
        posId:
          name: posId
          in: formData
          description: Shop identification number (defaults to merchant ID)
          type: integer
        sessionId:
          name: sessionId
          in: formData
          description: Unique identifier from merchant's system
          type: string
          maxLength: 100
        amount:
          name: amount
          in: formData
          description: Transaction amount expressed in lowest currency unit, e.g. 1.23 PLN = 123
          type: integer
        currency:
          name: currency
          in: formData
          description: Currency compatible with ISO, e.g. PLN
          type: string
          maxLength: 3
          default: PLN
        description:
          name: description
          in: formData
          description: Transaction description
          type: string
          maxLength: 1024
        email:
          name: email
          in: formData
          description: Customer's e-mail
          type: string
          maxLength: 50
        client:
          name: client
          in: formData
          description: Customer's first name and surname
          type: string
          maxLength: 40
        address:
          name: address
          in: formData
          description: Customer's address
          type: string
          maxLength: 80
        zip:
          name: zip
          in: formData
          description: Customer's postal code
          type: string
          maxLength: 10
        city:
          name: city
          in: formData
          description: Customer's city
          type: string
          maxLength: 50
        country:
          name: country
          in: formData
          description: Country codes compatible with  ISO, e.g. PL, DE, etc.
          type: string
          maxLength: 2
          default: PL
        phone:
          name: phone
          in: formData
          description: 'Customer''s telephone in the following format:  481321132123'
          type: string
          maxLength: 12
        language:
          name: language
          in: formData
          description: 'One of following language codes according to ISO 639-1: bg, cs, de, en, es, fr, hr, hu, it, nl, pl, pt, se, sk, ro'
          type: string
          default: pl
          maxLength: 2
        method:
          name: method
          in: formData
          description: Payment method ID. List of payment methods provided in the panel or available through API
          type: integer
        urlReturn:
          name: urlReturn
          in: formData
          description: URL address to which customer will be redirected when transaction is complete
          type: string
          maxLength: 250
        urlStatus:
          name: urlStatus
          in: formData
          description: URL address to which transaction status will be send
          type: string
          maxLength: 250
        timeLimit:
          name: timeLimit
          in: formData
          description: Time limit for transaction process, 0 - no limit, max. 99 (in minutes)
          type: integer
        channel:
          name: channel
          in: formData
          description: ' 1 - card + ApplePay + GooglePay, 2 - transfer, 4 - traditional transfer, 8 - N/A, 16 - all 24/7 – makes available all payment methods, 32 - use pre-payment, 64 – only pay-by-link methods, 128 – instalment payment forms, 256 – wallets, 4096 - card, 8192 - blik, 16384 - all methods except blik

            <p>To activate the specific channels, their values should be summed up.

            <p>Example:

            transfer and traditional transfer: channel=6'
          type: integer
          enum:
          - '1'
          - '2'
          - '4'
          - '8'
          - '16'
          - '32'
          - '64'
          - '128'
          - '256'
          - '4096'
          - '8192'
          - '16384'
        shipping:
          name: shipping
          in: formData
          description: Delivery cost
          type: integer
        transferLabel:
          name: transferLabel
          in: formData
          description: Description forwarded to transfer's description  (not in every payment methods). A parameter can contain values only ​​in a range [a-z A-Z 0-9 ęółśążźćńĘÓŁŚĄŻŹĆŃ . /\ :- ]
          type: string
          maxLength: 20
        sdkVersion:
          name: sdkVersion
          in: formData
          description: Version of mobile library. Determines if transaction is mobile.
          type: string
          maxLength: 10
        sign:
          name: sign
          in: formData
          type: string
          maxLength: 100
          description: <br>Checksum of parameters:<br> {<font color = "brown">"sessionId":</font>"string",<font color = "brown">"merchantId":</font>int,<font color = "brown">"amount":</font>int,<font color = "brown">"currency":</font>"string",<font color = "brown">"crc":</font>"string"} <br><br>calculated with the use of sha384<br><br> <b><font color = "#DB2053">IMPORTANT!:</font></b><br>  in case json_encode function is used, the following attributes should be added <br> "JSON_UNESCAPED_UNICODE | JSON_UNESCAPED_SLASHES"
        encoding:
          name: encoding
          in: formData
          description: 'Coding system for characters sent: ISO-8859-2, UTF-8, Windows-1250'
          type: string
          maxLength: 15
        cart:
          description: cart
          items:
            $ref: '#/components/schemas/CartParameters'
        methodRefId:
          name: methodRefId
          in: formData
          description: Special parameter for some payment flows e.g. BLIK and Card one-click.
          type: string
          maxLength: 250
        splitPaymentDetails:
          type: object
          properties:
            vatAmount:
              type: integer
              description: Kwota podatku VAT
            invoiceNumber:
              type: string
              description: Numer faktury
            nip:
              type: string
              description: Numer identyfikacji podatkowej
            iban:
              type: string
              description: Międzynarodowy numer rachunku bankowego IBAN (international bank account number)
          required:
          - vatAmount
          - invoiceNumber
          - nip
    TransactionRefund201_2:
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/TransactionRefund201Item'
        responseCode:
          type: number
          example: 0
  securitySchemes:
    basicAuth:
      description: This is the default authentication method. User and secretId are available in P24 panel:<br/>- "User" it's the same value as posId,<br/>- secretId it's the samevalue as key for reports (API key).
      type: http
      scheme: basic
x-refined-from:
- openapi-extended.yml
- openapi.yml
x-tagGroups:
- name: Methods available in API
  tags:
  - Ekspres P24 API
- name: Sign parameter
  tags:
  - Calculation of sign parameter
- name: Transfer
  tags:
  - Notifications on transfer status
  - Table of transfer statuses
  - Transfer scenarios
