openapi: 3.0.0
servers:
  - url: https://sandbox.przelewy24.pl
    description: Sandbox server (uses test data)
  - url: https://secure.przelewy24.pl
    description: Production server (uses live data)
info:
  x-logo:
    url: getfile/przelewy24-logo_mini.png
    altText: LogoP24
  contact:
    name: Przelewy24 Support
    url: https://www.przelewy24.pl/support
  title: Przelewy24 REST API Documentation
  description: >



    # Payment system


    Przelewy24 provides an authorisation and clearing system and provides payment services as a Domestic Payment Institution. <br/> <br/>

    Through Przelewy24 API you can access all of the services offered by the system. Below documentation includes most common used functionalities. Contact the [Sales Department](https://www.przelewy24.pl/pomoc/formularz-kontaktowy) to find out more. <br/><br/>

    In order to be able to access Przelewy24 API, you first need to [create an account](https://panel.przelewy24.pl/rejestracja.php) in the P24 Administration Panel.

    After registration, among others, the merchant may use the administration panel to keep track of the account balance, all payments made by their clients and refunds. <br/>




    ## Transaction process

    After placing the order, customer clicks the **"pay"** button. Merchant system sends a <a href="#tag/Transaction-service-API/paths/~1api~1v1~1transaction~1register/post"><b>register transaction</b></a> request to the P24 system and receives a unique TOKEN. Afterwards customer will be redirected to the P24 transaction panel.


    In case of payment cancellation, the customer is redirected to the **“urlReturn"** address.


    Upon successful completion of the transaction, the customer is redirected to the  <b>"urlReturn"</b> address. P24 sends the <a href="#tag/Notification"><b>transaction notification</b></a> to the  <b>"urlStatus"</b> address. The transaction notification is sent **asynchronously**.


    To verify the credibility of the received confirmation, the Merchant’s system sends a return request to P24 as a <a href="#tag/Transaction-service-API/paths/~1api~1v1~1transaction~1verify/put"><b>transaction verification.</b></a>



    <img src="getfile/eng_payment_process.png" alt="Payment process" class="center smallImg">


    ## Transaction requirement

    In order to carry out the transaction correctly, merchant’s website should offer transaction registering as well as handling transaction result.<br><br>
    The entire process is fully automatic and does not require any interference of the shop personnel in it.<br><br>
    After the payment process has been completed successfully, status of the order on the merchant website should automatically change to paid/accepted. At this point, merchant may proceed with order fulfilment.

    <br><br>

    <img src="getfile/eng_transaction_process.png" alt="Environment" class="center smallImg">

    # Definitions

    **CVV** – card verification value/code.


    **Cyclic Redundancy Check (CRC)** – unique key (String) obtained from Przelewy24 used to generate the checksum of the parameters sent.


    **Dynamic Currency Conversion (DCC)** – process whereby the amount of card transaction is converted to the currency of the payment card’s country of issue at the point of sale.


    **Merchant** – an institution or a private person using Przelewy24 services.


    **Session ID** – unique ID used to identify single transaction in merchant system.

    # Use cases

    ## How to display a full selection of payment methods in your shop?

    In order to facilitate the process of payment, it is possible to move the customer's selection of payment method to the very stage of placing an order. If the customer additionally accepts the terms and conditions of Przelewy24 (in the request, you need to set <a href="#tag/Transaction-service-API/paths/~1api~1v1~1transaction~1register/post"><b>regulationAccept = true</b></a>), they would be redirected from the shop's website directly to the bank or to the form for card payments, after clicking "pay". <br><br> 

    The following text must be placed on the store's website and displayed to the customer: <b>“I declare that I have read the <a href="https://www.przelewy24.pl/en/regulations" target="_blank">terms and conditions</a> and <a href="https://www.przelewy24.pl/en/information-obligation-gdpr-payer" target="_blank">information obligation</a> of the Przelewy24 service.”</b> The words "terms and conditions" and "information obligation" must be followed by a link to the pages containing these documents. The checkbox cannot be pre-selected.<br><br>

    In order to download the list of payment methods, you need to use the <a href="#tag/Additional-API-functionality/paths/~1api~1v1~1payment~1methods~1{lang}/get"><b>PaymentMethods</b></a> method, described in the Additional Services. <br><br>

    <img src="getfile/ENG_WHITE_LABEL_1_14.png" alt="Payment Methods" class="center smallImg"><br>


    The list may be presented on your website in any form.

    ## How to redirect a customer to specific method of payment?

    In order to redirect the customer directly to selected method of payment, an identifier of a given method must be sent in the <b>method</b> field in transaction request. For instance, when redirecting to the mTransfer method, the request looks as follows:

    ```json
        {
          "merchantId": {{merchantId}},
          "posId": {{posId}},
          "sessionId": "{{sessionId}}",
          "amount": {{amount}},
          "currency": "{{currency}}",
          "description": "{{description}}",
          "email": "{{email}}",
          "country": "PL",
          "language": "pl",
          "method": {{method}},
          "urlReturn": "{{urlReturn}}",
          "sign": "{{sign}}",
        }
    ```

    ## How to limit the time allowed for finalise the payment by a customer?

    Depending on specific character of a given system, it might be necessary to limit the time that customer has for completing their payment. This option is controlled by <b>timeLimit</b> parameter. Setting this parameter to 0 would switch off the timer. Entering values 1-99 sets the time limit in minutes.

    ## How to enable customer's return to the shop, so that they don't have to wait for synchronic payment confirmation?

    In case of some payment methods, especially e-transfers, payment is confirmed within couple of minutes after making it. The client may either wait for result of the transaction in the transaction service and be redirected back to the shop upon receiving confirmation (that way the shop would already get the payment notification), or the client may be immediately redirected to the shop, without waiting for the result of the transaction. The choice between these two variants is made by means of the transaction request parameter <a href="#tag/Transaction-service-API/paths/~1api~1v1~1transaction~1register/post"><b>waitForResult</b></a>. The latter option is enabled when the parameter is set on false, the former, when the parameter is set on true.

    ## How to process a refund to a customer?

    Processing refunds, like all services in Przelewy24, is fully automatic and done via webservices. Refunds are processed by means of <a href="#tag/Additional-API-functionality/paths/~1api~1v1~1transaction~1refund/post"><b>transaction/refund</b></a> method.<br><br>

    Multiple refund requests may be ordered, as long as the sum of refunds does not exceed the sum of the original transaction.


    ## Can a customer finalise a transaction process after the end of a session?

    If a customer discontinues payment process (e.g. after accessing the bank’s website), Przelewy24 system offers an option of sending an automatic e-mail with a link that allows to finalise the initiated payment process. If the customer use this option, the outcome will be no different than the outcome of a transaction finalised on-line.<br><br>

    To have this functionality enabled, please contact Partner Support via <a href="https://www.przelewy24.pl/en/help-center/i-sell-with-przelewy24/payment-methods-and-account/is-your-question-not-answered" target="_blank"">contact form</a>


    # Graphic materials


    P24 logo and banners are available at:

    [https://www.przelewy24.pl/en/download?#materialy-graficzne](https://www.przelewy24.pl/en/download?#materialy-graficzne)



    # Environments

    ## Production environment

    Every request is differentiated by its own unique request URL. This way P24 knows which API-function you want to access. Combined with the base URL for either the production- or test-environment, you will get the complete API-URL.


    Base URL production system:<br>
    https://secure.przelewy24.pl/api/v1


    Production transactions will be visible in the panel<br>
    https://panel.przelewy24.pl/index.php

    ## Test environment

    During implementation of the mechanisms in merchant’s system, it is recommended to use test environment. Test environment allows to reproduce system functionalities without making actual payments.<br><br>
    Test environment endpoint: <br>
    https://sandbox.przelewy24.pl/api/v1<br><br>

    Test transactions will be visible in the test panel<br>
    https://sandbox.przelewy24.pl/panel/index.php<br><br>

    **<u>The testing environment cannot be used for production transactions.</u>**



    # IP server addresses

    We recommend script protection against suspicious calls using address filtering for incoming connections. IP server ranges for the P24 servers: <br><br>
    <font class = "right"><b>5.252.202.255 , 5.252.202.254</b></font><br>
    <font class = "right"><b>20.215.81.124</b></font><br>
    <font class = "right"><b>193.178.213.0/24</b></font><br>
    <font class = "right"><b>91.220.177.0/24</b></font><br>
    <font class = "right"><b>20.215.183.48/28</b></font><br>
    <font class = "right"><b>134.112.88.8/29</b></font><br>


    # Environment requirements

    Transport Layer Security - TLS 1.2 (minimum required)<br/><br/>

    https://wiki.mozilla.org/Security/Server_Side_TLS<br/>
    https://en.wikipedia.org/wiki/Transport_Layer_Security
    <br><br>

    OpenSSL 1.0.1 (minimum required)<br/><br/> https://www.openssl.org/news/changelog.html#x31<br><br>

    cURL 7.34.0<br/><br/> https://curl.haxx.se/docs/manpage.html#--tlsv12

    # Possible error codes

      | ErrorCode | Description                                                                                                                                                       |
      |-----------|------------------------------------------------------------------------------------------------------------------------------------------------------------|
      | err00     | Invalid script call                                                                                                                                        |
      | err01     | No confirmation of reception of authorisation has been received from the shop                                                                              |
      | err02     | No authorisation has been received                                                                                                                         |
      | err03     | This query has already been processed                                                                                                                      |
      | err04     | Authorisation query incomplete or invalid                                                                                                                  |
      | err05     | Reading of web-shop configuration failed                                                                                                                   |
      | err06     | Record of authorisation query failed                                                                                                                       |
      | err07     | A different person is making the payment                                                                                                                   |
      | err08     | Status of connection with the shop not established.                                                                                                        |
      | err09     | Limit on the number of data corrections exceeded.                                                                                                          |
      | err10     | Invalid transaction amount!                                                                                                                                |
      | err49     | Transaction risk assessment score too high.                                                                                                                |
      | err51     | Invalid website call                                                                                                                                       |
      | err52     | Invalid feedback session information!                                                                                                                      |
      | err53     | Transaction error!                                                                                                                                         |
      | err54     | Incompatible transaction amounts!                                                                                                                          |
      | err55     | Invalid response code!                                                                                                                                     |
      | err56     | Invalid card                                                                                                                                               |
      | err57     | IncompatibleTEST flag!                                                                                                                                     |
      | err58     | Invalid sequence number!                                                                                                                                   |
      | err59     | Invalid transaction currency!                                                                                                                              |
      | err101    | Website call error A required parameter is missing from the transaction request or an inadmissible value has appeared.                                     |
      | err102    | Allowed time for transaction has expired                                                                                                                   |
      | err103    | Invalid amount of transfer                                                                                                                                 |
      | err104    | Transaction is awaiting confirmation.                                                                                                                      |
      | err105    | Transaction made after expiry of time allowed for transaction                                                                                              |
      | err161    | Request for transaction interrupted by User The customer has interrupted the payment procedure by clicking "Go back" on the payment method selection site. |
      | err162    | Request for transaction interrupted by User The customer has cancelled the payment procedure by clicking „Resign” on the payment instructions site.        |


    # Authentication

    P24 supports the mechanism of Basic Authentication.

    <!-- Redoc-Inject: <security-definitions> -->

  version: 1.0.0.
x-tagGroups:
  - name: Transaction service
    tags:
      - Transaction service API
      - Notification
      - Calculating Sign
  - name: Additional services
    tags:
      - Additional API functionality
      - RefundNotification
      - Additional services Additional Notifications
      - Payment Methods Use Cases
      - Additional services Mass Payments Transactions
  - name: Card payment
    tags:
      - Card API
      - Card Notification
      - Pre-authorization
  - name: BLIK
    tags:
      - BLIK Use Cases
      - BLIK API
      - BLIK Additional
      - Alias Update Notification
  - name: Reports
    tags:
      - Report API
  - name: Card payment 2.0 
    tags:
      - Introduction
      - Google Pay
      - Apple Pay
      - Form initialization
      - Form initialization v2
      - Tokenization 
      - Card payment flow
      - Recursion (doPayment)
      - Card API v2
      - Card notification
      - Mobile payment (Android)
      - Mobile payment (iOS)
  - name: How to integrate installments?
    tags:
      - Buttons and banners
      - Widget
      - Simulator 
paths:
   /api/v1/transaction/register:
    post:
      tags:
        - Transaction service API
      summary: Transaction registration
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/TransactionRequestBody1"
        description: Before sending the transaction request, transaction data must be saved
          in the merchant’s local database. In particular, the session ID and
          the transaction amount should be stored. <br><br><hr>
          <h3>Redirection to transaction panel</h3>
          URL address:https://secure.przelewy24.pl/trnRequest/{TOKEN}<br><br>
          where {TOKEN} was obtained upon transaction registration.<br>
          <hr><br>

          On transaction success the URL address transferred in  <a href="#tag/Transaction-service-API/paths/~1api~1v1~1transaction~1register/post"><b>"urlStatus"</b></a> parameter is used to send notification irrespective of whether the customer has been redirected to  <a href="#tag/Transaction-service-API/paths/~1api~1v1~1transaction~1register/post"><b>"urlReturn"</b></a> or not. The notification is sent only for correct payments. The system does not send information on invalid or failed payments. The notification is sent in the JSON format.<br><br>
          <a href="#tag/Notification"><font color = "red"><b>Show Transaction result JSON</b></font></a>

        required: true
      responses:
        "200":
          description: successful operation
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TransactionRegistrationResponse"
        "400":
          description: bad request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/InvalidInputData"
        "401":
          description: not authorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UnauthorizedResponse"
      security:
        - basicAuth: []
   /api/v1/transaction/verify:
    put:
      tags:
        - Transaction service API
      summary: Transaction verification
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/TransactionVerificationBody"
        description: After receiving notification, the merchant’s system should perform an
          additional action to confirm the payment and authenticate the
          notification. It is necessary to use transaction/verify method.<br><br>
          **Important!** Transaction will be confirmed only after verification process. In case the customer performs transaction and merchant does not verify performed transaction, amount will not be transferred to the merchant and settled. It will stay at the customer’s disposal as an advance payment.
      responses:
        "200":
          description: successful operation
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TransactionVerificationResponse"
        "400":
          description: bad request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/InvalidInputData"
        "401":
          description: not authorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UnauthorizedResponse"
      security:
        - basicAuth: []

   /api/v1.1/transaction/register/simp:
      post:
        tags:
          - Additional services Mass Payments Transactions
        summary: Mass payments transaction register
        description:
          Before sending a transaction request, save its data to the Partner's local database. In particular, the session ID and transaction amount information should be saved.<br/>
          <br/>The request takes analogous values to the request <a href="#tag/Transaction-service-API/paths/~1v1.1~1transaction~1register/post"><b> transaction/register</b></a>, except for two additional parameters used when requesting <a href="#tag/Additional-services-SIMP-Transactions/paths/~1v1~1transaction~1register~1simp/post"><b> transaction/register/simp</b></a> czyli <b>simpCountryCode</b> and <b>simpClientId</b>.
        requestBody:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TransactionRegistrationSIMPBody"
        responses:
          "200":
            description: Successful operation
            content:
              application/json:
                schema:
                  $ref: "#/components/schemas/SIMPTransactionRegistrationResponse"
          "400":
            description: Invalid input data
            content:
              application/json:
                schema:
                  $ref: "#/components/schemas/SIMPResponse400"
          "401":
            description: Not authorized
            content:
              application/json:
                schema:
                  $ref: "#/components/schemas/UnauthorizedResponse"
          "409":
            description: Conflict
            content:
              application/json:
                schema:
                  $ref: "#/components/schemas/SIMPConflict"
          "500":
            description: Undefined error
            content:
              application/json:
                schema:
                  $ref: "#/components/schemas/ErrorCodeResponse"
        security:
          - basicAuth: []
   /api/v2/transaction/by/sessionId/{sessionId}:
     get:
       tags:
         - Additional services Mass Payments Transactions
       summary: Data about transaction via sessionID
       description: The method returns transaction information based on the <b>sessionId</b> field. For a single sessionId within a SIMP payment, multiple payments can be made on the IBAN, hence the API can return multiple objects.
       parameters:
         - in: path
           name: sessionId
           schema:
             type: string
           required: true
           description: SessionId of the transaction given during transaction registration
       responses:
         "200":
           description: Successful operation
           content:
             application/json:
               schema:
                 $ref: "#/components/schemas/SIMPGetTransactionBySessionId200"
         "400":
           description: Invalid input data
           content:
             application/json:
               schema:
                 $ref: "#/components/schemas/InvalidInputData"
         "401":
           description: Incorrect Authentication
           content:
             application/json:
               schema:
                 $ref: "#/components/schemas/UnauthorizedResponse"
         "500":
           description: Undefined error
           content:
             application/json:
               schema:
                 $ref: "#/components/schemas/ErrorCodeResponse"
       security:
         - basicAuth: []
   /api/v1/testAccess:
    get:
      tags:
        - Additional API functionality
      summary: Test Access
      description: Test connection. REST uses  <a href="#section/Authentication"><b>"basicAuth"</b></a> authorisation standard, where login and password are, respectively, account ID in P24 and the API key obtained from the “My data” section (“API and configuration data” subsection).
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TransactionTestAccess200"
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/InvalidInputData"
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UnauthorizedResponse"
      security:
        - basicAuth: []
   /api/v1/payment/methods/{lang}?amount=150&subgroup=1&currency=PLN:
    get:
      tags:
        - Additional API functionality
      summary: Payment Methods
      description: Method returns a list of payment methods.
      parameters:
        - name: lang
          in: path
          description: "A language code. One of these: pl , en"
          required: true
          schema:
            type: string
            enum:
              - pl
              - en
        - in: query
          name: amount
          schema:
            type: integer
          description: Value of the amount.<br>It gives the possibility of clarifying whether a given form of payment is available for a specific amount.
          required: false
        - in: query
          name: currency
          schema:
            type: string
            default: PLN
          description: Currency compatible with ISO, e.g. PLN
          required: false
        - in: query
          name: subgroup
          schema:
            type: integer
            enum:
              - 1
              - 0
          description: Condition if the subgroup value should be visible in the response. Default 0 (NO). Optional 1 (YES).
          required: false

      responses:
        "200":
          description: List of payment methods
          content:
            application/json:
              schema:
                properties:
                  data:
                    type: array
                    description: List of methods
                    items:
                      $ref: "#/components/schemas/PaymentMethodsResponseMethod"
                  agreements:
                    type: array
                    description: List of agreements
                  responseCode:
                    type: string
                    default: ""
                type: object
        "403":
          description: Not authorized.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UnauthorizedResponse"
        "404":
          description: Payment methods not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BasicResponse"
      security:
        - basicAuth: []
   /api/v1/transaction/refund:
    post:
      tags:
        - Additional API functionality
      summary: Refund transaction
      description: Create refund for one or more transactions.
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TransactionRefundJsonRequestBody'
        description: 'Parameter ''refunds'' may contain multiple refunds.'
        required: true
      responses:
        "201":
          description: 'Created. Parameter ''data'' contains all refunds.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TransactionRefund201'
        "400":
          description: 'Invalid input data'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InvalidInputDataRefund'
        "401":
          description: 'Not authorized'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedResponse'
        "409":
          description: 'Conflict'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TransactionRefund409'
        "500":
          description: 'Unknown error'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Refund500Response'
      security:
        - basicAuth: []
   /api/v1/transaction/registerOffline:
    post:
      description: This method allows you to register offline payments. To use the method, you must first register standard payment transaction with <a href="#tag/Transaction-service-API/paths/~1api~1v1~1transaction~1register/post"><b>register transaction</b></a> method.<br><br>Additionally, you can control which bank use for payment by using the method parameter.
      tags:
        - Additional API functionality
      summary: Register offline transaction
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/TransactionRegisterOfflineRequest"
          application/x-www-form-urlencoded:
            schema:
              $ref: "#/components/schemas/TransactionRegisterOfflineRequest"
        description: Input parameters.
        required: true
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TransactionRegistrationOffline200"
        "400":
          description: Invalid input data
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/InvalidInputData"
        "401":
          description: Not authorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UnauthorizedResponse"
        "409":
          description: Conflict
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TransactionRegistrationOffline409"
        "500":
          description: Undefined error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorCodeResponse"
      security:
        - basicAuth: []
   /api/v1/transaction/register/ttl:
    post:
      description: Transaction registration and defining the lifespan of the transaction at the same time. The <b>ttl</b> paramter is required.
      tags:
        - Additional API functionality
      summary: Transaction Registration with ttl
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/TransactionRegisterTtl"
      responses:
        "200":
          description: successful operation
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TransactionRegistrationResponse"
        "400":
          description: bad request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/InvalidInputData"
        "401":
          description: not authorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UnauthorizedResponse"
      security:
        - basicAuth: []
   /api/v1/transaction/register/splitpayment:
    post:
      description: Split Payments are charged using previously registered token in a process analogous to  <a href="#tag/Transaction-service-API/paths/~1api~1v1~1transaction~1register/post"><b>transaction/register</b></a>. When registering the token, you must add the <b>splitPaymentDetails</b> object characteristic for this form of transaction execution.
      tags:
        - Additional API functionality
      summary: Split Payment
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/TranstactionSplitPayment"
        description: Array
      responses:
        "200":
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TransactionRegistrationResponse"
        "400":
          description: Bad request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/InvalidInputData"
        "401":
          description: Not authorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UnauthorizedResponse"
      security:
        - basicAuth: []
   '/api/v1/refund/by/orderId/{orderId}':
    get:
      tags:
        - Additional API functionality
      summary: Refund by OrderID
      description: Get refund details for given Order Id
      consumes:
        - application/json
        - application/x-www-form-urlencoded
      parameters:
        -
          name: orderId
          in: path
          description: 'existing refund Order Id'
          required: true
          type: integer
          format: int64
      responses:
        "200":
          description: 'Request has been processed successful. Parameter ''data'' contains refund info.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TransactionRefundsInfoResponse'
        "401":
          description: 'Not authorized'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedResponse'
        "404":
          description: 'Refund with given Order Id not found'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TransactionNotFoundResponse'
        "500":
          description: 'Undefined error'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorCodeResponse'
      security:
        - basicAuth: []
   '/api/v1/transaction/by/sessionId/{sessionId}':
    get:
      tags:
        - Additional API functionality
      summary: Get transaction by sessionID
      description: Method returns transaction information by sessionId
      consumes:
        - application/json
        - application/x-www-form-urlencoded
      parameters:
        -
          name: sessionId
          in: path
          description: 'Transaction ID assigned by Merchant'
          required: true
          type: string
      responses:
        "200":
          description: 'OK'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TransactionBySessionIdSuccessResponse'
        "400":
          description: 'Invalid input data'
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/InvalidInputData"
        "401":
          description: 'Incorrect authentication'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedResponse'
        "404":
          description: 'Transaction not exist'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TransactionNotFoundResponse'
      security:
        - basicAuth: []



   /api/v1/paymentMethod/blik/chargeByCode:
    post:
      tags:
        - BLIK API
      summary: 'BLIK charge by code'
      description: Allows to charge blik transaction with T6 code. Returns unique transaction Id.
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/RecurringParams"
      responses:
        "201":
          description: Created
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BlikChargeByCodeResponse"
        "400":
          description: Invalid input data
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/InvalidInputData"
        "401":
          description: not authorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UnauthorizedResponse"
        "500":
          description: Undefined error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorCodeResponse"
      security:
        - basicAuth: []
   /api/v1/paymentMethod/blik/chargeByAlias:
    post:
      tags:
        - BLIK API
      summary: BLIK charge by Alias
      description: ChargeByAlias is a one click payment method. It allows to charge customer using a previously obtained alias (**getAliasesByEmail**). Alias obtained must be provided in <a href="#tag/Transaction-service-API/paths/~1api~1v1~1transaction~1register/post"><b>methodRefId</b></a> parameter during transaction registration
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/BlikOneClick"
      responses:
        "201":
          description: Created
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BlikChargeByCodeResponse"
        "400":
          description: Bad request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/InvalidInputData"
        "401":
          description: Not authorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UnauthorizedResponse"
        "409":
          description: AlternativeKeys
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ChargeByAlias409"
        "500":
          description: Undefined error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorCodeResponse"
      security:
        - basicAuth: []
   /api/v1/paymentMethod/blik/getAliasesByEmail/{email}:
    get:
      tags:
        - BLIK API
      summary: Getting Aliases ByEmail
      description: In order to receive an alias for subsequent payments, call the
                    <b>"getAliasesByEmail" </b>method.<br><br>
                    The method returns a list of aliases (along with the type and status) created for a given email address
                    in the scope of a given merchant.<br><br>
      parameters:
        - name: email
          in: path
          description: For aliases registered by email address
          required: true
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Transaction200Blik"
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/InvalidInputData"
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UnauthorizedResponse"
        "404":
          description: 'Alias not found'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TransactionNotFoundResponse'
      security:
        - basicAuth: []
   /api/v1/paymentMethod/blik/getAliasesByEmail/{email}/custom:
    get:
      tags:
        - BLIK API
      summary: Getting Aliases ByEmail (Custom)
      description: In order to receive an alias for subsequent payments, call the
                    <b>"getAliasesByEmail" </b>method.<br><br>
                    The method returns a list of aliases (along with the type and status) created for a given email address
                    in the scope of a given merchant.
      parameters:
        - name: email
          in: path
          description: For Aliases registered with values <b><i><b>"aliasValue"</b></b></i> and <b><i><b>"aliasLabel"</b></b></i>
          required: true
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Transaction200Blik"
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/InvalidInputData"
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UnauthorizedResponse"
        "404":
          description: 'Alias not found'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TransactionNotFoundResponse'
      security:
        - basicAuth: []



   "/api/v1/card/info/{orderId}":
    get:
      tags:
        - Card API
      summary: Card info
      parameters:
        - name: orderId
          in: path
          description: An unique order ID.
          required: true
          schema:
            type: integer
            format: int64
      description: The method generates information about specific payment card based on previous payment. Including reference number to charge card without CVV authorisation.
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/cardinfores"
        "400":
          description: Wrong input data
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorCodeResponse"
        "403":
          description: Not authorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UnauthorizedResponse"
        "404":
          description: Transaction not exists
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorCodeResponse"
      security:
        - basicAuth: []
   /api/v1/card/chargeWith3ds:
    post:
      tags:
        - Card API
      summary: Charge card with 3DS
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CardChargeRequestBody"
      description: The method allows to charge a card based on the reference number.
      responses:
        "200":
          description: The charge card command has been accepted - notification will be
            send on success.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ChargeCard3dsSuccessResponse"
        "201":
          description: The card payment requires 3DS redirection
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ChargeCard3dsSuccessResponse"
        "400":
          description: Invalid input data
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/InvalidInputData"
        "401":
          description: Not authorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UnauthorizedResponse"
      security:
        - basicAuth: []
   /api/v1/card/charge:
    post:
      tags:
        - Card API
      summary: Charge card
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CardChargeRequestBody"
      description:  The method allows to charge a card based on the reference number.
      responses:
        "200":
          description: The charge card command has been accepted - notification will be
            send on success.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ChargeCardSuccessResponse"
        "400":
          description: Invalid input data
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/InvalidInputData"
        "401":
          description: Not authorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UnauthorizedResponse"
      security:
        - basicAuth: []
   /api/v1/card/pay:
    post:
      tags:
        - Card API
      summary: Card Payment
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CardRegisterRequestBody"
      description: Method is used for charging customer's card. Method directly sends card details. To use the method, the merchant must have PCI DSS certificate.
      responses:
        "200":
          description: The card payment has been succesed.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CardPaySuccessResponse"
        "201":
          description: The card payment requires 3DS redirection.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CardPayThreeDSecureResponse"
        "400":
          description: Invalid input data
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/InvalidInputData"
        "401":
          description: Not authorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UnauthorizedResponse"
        "409":
          description: Conflict
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CardPayResponse409"
      security:
        - basicAuth: []
   /api/v1/transaction/reject:
    put:
      tags:
        - Card API
      summary: Reject transaction
      description: Method allows to reject an authorised transaction.
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/TransactionRejectJsonRequestBodyV11"
        description:
        required: true
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TransactionReject200"
        "400":
          description: Invalid input data
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/InvalidInputData"
        "401":
          description: Not authorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UnauthorizedResponse"
        "500":
          description: Undefined error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorCodeResponse"


   /api/v1/report/history:
    get:
      tags:
        - Report API
      summary: History transaction
      description: '<br/>This method gives you back information about: batches, transactions and refunds, in questioned period of time.<br/><h2>Pagination</h2>To call next page you need to call <b>report/history</b> with <b>token</b> as a query parameter, e.g.:<table border="0 px"><tr><th bgcolor="#0f6ab4"><font color="white"><b>GET</b></font></th><th bgcolor="E7F0F7">[https://secure.przelewy24.pl/api/v1/report/history/{token}](https://secure.przelewy24.pl/api/v1/report/history/{token})</th></tr></table>'
      parameters:
        - name: dateFrom
          in: path
          description: Date in format YYYYMMDD
          required: true
          schema:
            type: string
        - name: dateTo
          in: path
          description: Date in format YYYYMMDD. Max period length is 31 days
          required: true
          schema:
            type: string
        - name: type
          in: path
          description: 'Type of objects to load. Omit this parameter, if you want to load everything. Acceptable values: batch, transaction, refund.'
          required: false
          schema:
            type: string
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HistoryResponse200Body"
        "400":
          description: Bad request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HistoryError400Body"
        "401":
          description: Not authorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GeneralErrorResponse"
        "500":
          description: Undefined error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GeneralErrorResponse"
      security:
        - basicAuth: []
   /api/v1/report/batch/details:
    get:
      tags:
        - Report API
      summary: Batch information
      description: Method returns all transactions and refunds paid in requested batch.<br/><h2>Pagination</h2>To call next page you need to call report/batch/details with token in payload e.g.:<table border="0 px"><tr><th bgcolor="#0f6ab4"><font color="white"><b>GET</b></font></th><th bgcolor="E7F0F7">[https://secure.przelewy24.pl/api/v1/report/batch/details](https://secure.przelewy24.pl/api/v1/report/batch/details)</th></tr></table>
      parameters:
        - name: batch
          in: path
          description: Unique ID of batch (withdrawal)
          required: true
          schema:
            type: integer
        - name: token
          in: path
          description: Token needed to request next page
          required: false
          schema:
            type: string
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BatchDetails200ResponseBody'
        "400":
          description: Bad request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BatchDetailsError400Body"
        "401":
          description: Not authorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GeneralErrorResponse"
        "500":
          description: Undefined error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GeneralErrorResponse"
      security:
        - basicAuth: []
   /api/v1/issueWithdrawal:
    post:
      description: Method allows to generete withdrawals/batches.
      tags:
        - Report API
      summary: Issue Withdrawal
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/IssueWithdrawalRequestBody"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/WithdrawalResponseBody"
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GeneralErrorResponse"
        "401":
          description: Not authorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GeneralErrorResponse"
        "409":
          description: Conflict
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/409ErrorResponse"
        "500":
          description: Undefined error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GeneralErrorResponse"
      security:
        - basicAuth: []



   /bundle/payWithGoogle/{TOKEN}:
    get:
      tags:
        - GPay API
      summary: Token transfer
      consumes:
        - application/json
        - application/x-www-form-urlencoded
      parameters:
        -
          name: TOKEN
          in: path
          description: Token obtained from Przelewy24.
      description:
        Upon token obtaining from P24, JavaScript script should be called.<br><br>

        On completion of the transaction, a relevant response (callback) is called.

        In case 3D-Secure is required, customer will be redirected to bank’s website. After authorisation customer will be redirected to URL provided in <a href="#tag/Transaction-service-API/paths/~1api~1v1~1transaction~1register/post"><b>"urlReturn"</b></a> parameter.
      x-codeSamples:
          - lang: HTML
            source: |
              <head>
                <meta charset="UTF-8">
                <meta name="viewport"
                      content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
                <meta http-equiv="X-UA-Compatible" content="ie=edge">
                <title>PayWithGoogle</title>
                <script src="https://secure.przelewy24.pl/bundle/payWithGoogle/{{TOKEN}}"></script>
              </head>
              <body>
              <script>
                document.addEventListener("DOMContentLoaded", function () {
                    Przelewy24PayWithGoogle.config({
                        errorCallback: function () {
                            alert("error");
                        },
                        exceptionCallback: function () {
                            alert("exception");
                        },
                        requestFailedCallback: function () {
                            alert('requestFailed');
                        },
                        completePaymentCallback: function () {
                            alert("success");
                        }
                    });
                    Przelewy24PayWithGoogle.charge();
                });
              </script>
              </body>
   /bundle/applepay/{TOKEN}:
    get:
      tags:
        - APay API
      summary: Token transfer
      servers:
      - url: https://secure.przelewy24.pl
        description: Production server (uses live data)
      consumes:
        - application/json
        - application/x-www-form-urlencoded
      parameters:
        -
          name: TOKEN
          in: path
          description: Token obtained from Przelewy24.
      description:
        Upon token obtaining from P24, JavaScript script should be called<br><br>

        On completion of the transaction, a relevant response (callback) is called.
      x-codeSamples:
          - lang: HTML
            source: |
                <head>
                    <meta charset="UTF-8">
                    <meta name="viewport"
                          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
                    <meta http-equiv="X-UA-Compatible" content="ie=edge">
                    <title>Apple Pay</title>
                    <script src="https://secure.przelewy24.pl/bundle/applepay/{{TOKEN}}"></script>
                </head>
                <body>
                <script>
                    document.addEventListener("DOMContentLoaded", function () {
                      Przelewy24ApplePay.config({
                        errorCallback: function () {
                            alert("error");
                        },
                        exceptionCallback: function () {
                            alert("exception");
                        },
                        requestFailedCallback: function () {
                            alert('requestFailed');
                        },
                        completePaymentCallback: function () {
                            alert("success");
                        }
                      });
                    Przelewy24ApplePay.charge();
                    });
                  </script>

                  </body>

   /api/v1/transaction/doPayment:
    post:
      tags:
        - Recursion (doPayment)
      summary: Transaction without JS/SDK
      requestBody:
        description: In order to register a recurring transaction, it is necessary to send transaction registration request first to `transaction/register` endpoint, consistent with the parameters set out in <a href="#tag/Recursion-(doPayment)">Recursion</a> section. 
        content:
          application/json:
            schema:
              properties:
                requestId:
                  type: string
                  description: RequestId must follow the UUIDv4 format
                token:
                  type: string
                  description: Transaction token returned from transaction registration request
              required:
                - requestId
                - token
              type: object
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                properties:
                  token:
                    type: string
                    description: Transaction token
                  sessionId:
                    type: string
                    description: Unique transaction's sessionId
                  status:
                    type: string
                    description: "Status of created transaction, possible: DONE"
                  data:
                    properties:
                      url:
                        type: string
                        description: URL redirecting to 3DS
                      type:
                        type: string
                        description: URL call method
                      payload:
                        type: array
                        description: Payload
                      headers:
                        properties:
                          content-type: 
                            type: string
                            description: "text/html; charset=UTF-8"                          
                    type: object
                    description: If in the transaction registration request in the cardData object the transactionType parameter contains the value "recurring", then the object is empty. Otherwise, data such as a link with a redirection to 3DS verification will be passed in the data object.
                type: object
                required:
                  - token
                  - sessionId
                  - status
        201:
          description: Created
          content:
            application/json:
              schema:
                properties:
                  token:
                    type: string
                    description: Transaction token
                  sessionId:
                    type: string
                    description: Unique transaction's sessionId
                  status:
                    type: string
                    description: "Status of created transaction, possible: DONE"
                  data:
                    properties:
                      url:
                        type: string
                        description: URL redirecting to 3DS
                      type:
                        type: string
                        description: URL call method
                      payload:
                        type: array
                        description: Payload
                      headers:
                        properties:
                          content-type: 
                            type: string
                            description: "text/html; charset=UTF-8"                          
                    type: object
                    description: If in the transaction registration request in the cardData object the transactionType parameter contains the value "recurring", then the object is empty. Otherwise, data such as a link with a redirection to 3DS verification will be passed in the data object.
                type: object
                required:
                  - token
                  - sessionId
                  - status
        400:
          description: Invalid input data
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/InvalidInputData"
        401:
          description: Not authorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UnauthorizedResponse"
      security:
        - basicAuth: []

####components######
components:
  securitySchemes:
   basicAuth:
      description: This is the default authentication method. User and secretId are available in P24 panel:<br/>- "User" it's the same value as posId,<br/>- secretId it's the samevalue as key for reports (API key).
      type: http
      scheme: basic
  schemas:
    przelewy24:
      required:
        - merchantId
        - sessionId
        - sign
      properties:
        merchantId:
          type: integer
          description: Merchant identification number
        sessionId:
          type: string
          description: Unique identifier from merchant's system
        sign:
          type: string
          description: Checksum of parameters:<br>
            {<font color = "brown">"merchantId":</font>int,<font color = "brown">"sessionId":</font>"string",<font color = "brown">"crc":</font>"string"}
            <br><br>calculated with the use of sha384<br><br> <b><font color = "#DB2053">IMPORTANT!:</font></b><br> in case json_encode function is used, the following attributes should be added <br> "JSON_UNESCAPED_UNICODE | JSON_UNESCAPED_SLASHES"
      type: object  
    render:
          required:
            - type
            - id
          properties:
            type:
              type: string
              default: "form"
              enum:
                - form
              description: Type of form
            id:
              type: string
              example: "#card-form-block"
              description: ID of the block in which the iFrame will be generated
            options:
              type: object
              description: Additional form styling options 
          type: object  
    options:
      properties:
        lang:
          type: string
          description: Default form language
          default: "pl"
          example: "pl"
        size:
          type: object
          description: Object that modifies the size of an iFrame
          properties:
            width:
              type: string
              description: "Width"
              default: "500px"
              example: "500px"
            height:
              type: string
              description: "Height"
              default: "500px"
              example: "500px"
        labels:
          type: object
          description: "Object that modifies the labels of an fields"
          properties:
            cardholder:
              type: string
              description: "Text visible as the label of the cardholder field"
              example: "Name and surname of the card holder"
            card:
              type: string
              description: "Text visible as the label of the card number field"
              example: "Card number"
            cvv:
              type: string
              description: "Text visible as the label of the card's CVV/CVC number field"
              example: "Card CVV/CVC number"
            exp:
              type: string
              description: "Text visible as the label of the card expiration date field"
              example: "Card expiration date"
        agreement:
          type: object
          description: "An object that modifies the visibility and language of the TOS (Terms Of Services) field"
          properties:
            contentEnabled:
              type: object
              description: "An object that modifies the visibility of Terms Of Services elements"
              properties:
                enabled:
                  type: boolean
                  description: "Should information about regulations and information obligations be displayed?"
                  example: true
                checkboxEnabled: 
                 type: boolean
                 description: "Should a checkbox be displayed confirming that you have read the regulations and the information obligation?"
                 example: true
            TOSLanguage:
              type: string
              description: "Defines in what language the Terms Of Services text will be displayed"
              example: "pl"                 
        placeholders:
          type: object
          description: Object that modifies text visible in individual elements
          properties:
            card:
              type: string
              description: "Text visible in card element"
              example: "Enter your card number"
            cvv:
              type: string
              description: "Text visible in cvv element"
              example: "Enter your card's CVV number"
            exp:
              type: string
              description: "Text visible in the expire date element"
              example: "Enter your expired card's date"
            cardholder:
              type: string
              description: "Text visible in cardholder element"
              example: "Enter the name and surname of the card holder"
        styles:
          type: object
          description: "Conditions style modifying object"
          properties:
            font:
              type: object
              description: "Object that modifies form font"
              properties:
                basic:
                  type: object
                  description: "Default font configuration"
                  properties:
                    size:
                      type: string
                      description: "Font size"
                      example: "24px"
                    family:
                      type: string
                      description: "Font family"
                      example: "Impact,Charcoal,sans-serif"
                    weight:
                      type: string
                      description: "Font weight"
                      example: "500"
                    color:
                      type: string
                      description: "Font color (possibility to indicate in HEX or words)"
                      example: "#000/black"
                error:
                  type: object
                  description: "Error font configuration"
                  properties:
                    color:
                      type: string
                      description: "Font color (possibility to indicate in HEX or words)"
                      example: "#000/black"
                    weight:
                      type: string
                      description: "Grubość czcionki"
                      example: "500"
                agreement:
                  type: object
                  description: "Configuring the font for the TOS (Terms Of Services) field"
                  properties:
                    family:
                      type: string
                      description: "Font family"
                      example: "Impact,Charcoal,sans-serif"
                    color:
                      type: string
                      description: "Font color (possibility to indicate in HEX or words)"
                      example: "#000/black"
                    size:
                      type: string
                      description: "Font size"
                      example: "24px"
                    weight:
                      type: string
                      description: "Font weight"
                      default: "500"
                      example: "500"
                    link:
                      type: string
                      description: "Determines the font color of the link to the regulations and information obligation (can be indicated in HEX or in words)"
                      example: "#000/black"
                    visited:
                      type: string
                      description: "Determines the font color of the link to the regulations and information obligation that has already been visited (can be indicated in HEX or in words)"
                      example: "#000/black"
                    active:
                      type: string
                      description: "Determines the font color of the link to the regulations and information obligation, which the mouse cursor is currently on (can be indicated in HEX or in words)"
                      example: "#000/black"  
                focus:
                  type: object
                  description: "Font configuration when activating an item"
                  properties:
                    color:
                      type: string
                      description: "Font color (possibility to indicate in HEX or words)"
                      example: "#000/black"
                    weight:
                      type: string
                      description: "Font weight"
                      example: "500"
                placeholders:
                  type: object
                  description: "Font configuration for text visible in individual element"
                  properties:
                    color:
                      type: string
                      description: "Font color (possibility to indicate in HEX or words)"
                      example: "#000/black"
                    weight:
                      type: string
                      description: "Font weight"
                      example: "500"
            colors:
              type: object
              description: "Object that modifies the font color for a particular element"
              properties:
                card:
                  type: string
                  description: "Font color in card element"
                  default: "#000/black"
                  example: "#000/black"
                cvv:
                  type: string
                  description: "Font color in cvv element"
                  default: "#000/black"
                  example: "#000/black"
                exp:
                  type: string
                  description: "Font color in expiry date of card element"
                  default: "#000/black"
                  example: "#000/black"
                cardholder:
                  type: string
                  description: "Font color in cardholder element"
                  default: "#000/black"
                  example: "#000/black"  
                loader:
                  type: object
                  description: "Loader color"
                  properties:
                    primary:
                      type: string
                      description: "Main color, static element"
                      default: "#000/black"
                      example: "#000/black"
                    secondary:
                      type: string
                      description: "Color of moving element"
                      default: "#000/black"
                      example: "#000/black"
            border:
              type: object
              description: "Object that modifies the edge for a particular element"
              properties:
                card:
                  type: object
                  description: "Edge styles for card element"
                  properties:
                    type:
                      type: string
                      description: "Edge Type"
                      example: "solid"
                    color:
                      type: string
                      description: "Edge Color"
                      example: "#000/black"
                    width:
                      type: string
                      description: "Edge Thickness"
                      example: "15px"
                    radius:
                      type: string
                      description: "Edge rounding"
                      example: "15px"
                cvv:
                  type: object
                  description: "Edge styles for cvv element"
                  properties:
                    type:
                      type: string
                      description: "Edge Type"
                      example: "solid"
                    color:
                      type: string
                      description: "Edge Color"
                      example: "#000/black"
                    width:
                      type: string
                      description: "Edge Thickness"
                      example: "15px"
                    radius:
                      type: string
                      description: "Edge rounding"
                      example: "15px"
                exp:
                  type: object
                  description: "Edge styles for Expiry Date element"
                  properties:
                    type:
                      type: string
                      description: "Edge Type"
                      example: "solid"
                    color:
                      type: string
                      description: "Edge Color"
                      example: "#000/black"
                    width:
                      type: string
                      description: "Edge Thickness"
                      example: "15px"
                    radius:
                      type: string
                      description: "Edge rounding"
                      example: "15px"
                form:
                  type: object
                  description: "Edge styles for form element"
                  properties:
                    type:
                      type: string
                      description: "Edge Type"
                      example: "solid"
                    color:
                      type: string
                      description: "Edge Color"
                      example: "#000/black"
                    width:
                      type: string
                      description: "Edge Thickness"
                      example: "15px"
                    radius:
                      type: string
                      description: "Edge rounding"
                      example: "15px"
                cardholder:
                  type: object
                  description: "Border styles for tabholder element"
                  properties:
                    type:
                      type: string
                      description: "Edge Type"
                      example: "solid"
                    color:
                      type: string
                      description: "Edge Color"
                      example: "#000/black"
                    width:
                      type: string
                      description: "Edge Thickness"
                      example: "15px"
                    radius:
                      type: string
                      description: "Edge rounding"
                      example: "15px"    
            agreement_checkbox:
                  type: object
                  description: "Object that modifies the colors of TOS (Terms Of Services) checkbox."
                  properties:
                    color:
                      type: string
                      description: "The color of the checkbox border"
                      example: "#000/black"
                    colorInside:
                      type: string
                      description: "The color of the checkbox background"
                      example: "#000/black"
                    colorSelected:
                      type: string
                      description: "The color of the checkbox when selected"
                      example: "#000/black"
                    width:
                      type: string
                      description: "The width and height of the checkbox"
                      example: "15px"                    
            background:
              type: object
              description: "Object that modifies the background color of a particular element"
              properties:
                card:
                  type: object
                  description: "Background color for card element"
                  properties:
                    color:
                      type: string
                      description: "Background color"
                      example: "#000/black"
                cvv:
                  type: object
                  description: "Background color for CVV element"
                  properties:
                    color:
                      type: string
                      description: "Background color"
                      example: "#000/black"
                exp:
                  type: object
                  description: "Background color for Expiry Date element"
                  properties:
                    color:
                      type: string
                      description: "Background color"
                      example: "#000/black"
                form:
                  type: object
                  description: "Background color for form element"
                  properties:
                    color:
                      type: string
                      description: "Background color"

                      example: "#000/black"
                cardholder:
                  type: object
                  description: "Background color for card holder element"
                  properties:
                    color:
                      type: string
                      description: "Kolor tła"
                      example: "#000/black"
        buttons:
          type: object
          description: "Object used for generating buttons with relevant styling. By default, the form gets generated without buttons. If you want the buttons to be visible, you must indicate them."    
          properties:
            tokenize:
              type: object
              description: "Button edges, labels and backgrounds styles"
              properties:
                  label:
                    type: string
                    description: "Text visible on button"
                    example: "Save card and pay"
                  backgroundColor:
                   type: string
                   description: "Button background color"
                   example: "#000/black"
                  border:
                   type: object
                   description: "Button Edge Styles"
                   properties:
                     type:
                       type: string
                       description: "Edge Type"
                       example: "solid"
                     color:
                       type: string
                       description: "Edge Color"
                       example: "#000/black"
                     width:
                       type: string
                       description: "Edge Thickness"
                       example: "15px"
                     radius:
                       type: string
                       description: "Edge rounding"
                       example: "15px"

            tokenize_temporary:
                type: object
                description: "Button edges, labels and backgrounds styles"
                properties:  
                  label:
                    type: string
                    description: "Text visible on button"
                    example: "Save card and pay"
                  backgroundColor:
                   type: string
                   description: "Button background color"
                   example: "#000/black"
                  border:
                   type: object
                   description: "Button Edge Styles"
                   properties:
                     type:
                       type: string
                       description: "Edge Type"
                       example: "solid"
                     color:
                       type: string
                       description: "Edge Color"
                       example: "#000/black"
                     width:
                       type: string
                       description: "Edge Thickness"
                       example: "15px"
                     radius:
                       type: string
                       description: "Edge rounding"
                       example: "15px"   
          required:
          - label

    przelewy24_new:
      required:
        - merchantId
        - sessionId
        - sign
      properties:
        merchantId:
          type: integer
          description: "Merchant identification number"
        sessionId:
          type: string
          description: "Unique identifier from merchant's system"
        sign:
          type: string
          description:  Parameters checksum calculated using sha384<br><ul><li> without sending the userId parameter <br> {<font color = "brown">"merchantId":</font>int,<font color = "brown">"sessionId":</font>"string",<font color = "brown">"crc":</font>"string"}</li><li>with sending the userId parameter <br>{<font color = "brown">"merchantId":</font>int,<font color = "brown">"sessionId":</font>"string",<font color = "brown">"crc":</font>"string",<font color = "brown">"userId":</font>"string"}</li></ul><b><font color = "#DB2053">IMPORTANT!:</font></b><br> in case json_encode function is used, the following attributes should be added<br> "JSON_UNESCAPED_UNICODE | JSON_UNESCAPED_SLASHES"
        userId:
          type: string
          description: "User ID in the merchant's system"
      type: object   

    clear_new:
      properties:
        card:
          type: integer
          description: "Clearing the card number field"
        cvv:
          type: string
          description: "Clearing the CVV/CVC field"
        exp:
          type: string
          description: "Clear the card expiration date field"
        cardholder:
          type: string
          description: "Clearing the first name and last name fields"
      type: object 

    eventLoading:
      properties: 
        data:
          type: object
          $ref: "#/components/schemas/eventLoadingData"
    
    eventLoadingData:
      properties:
        p24:
          type: boolean
          description: "Indication of the message addressee"
        type:
          type: string
          description: "Indication of message type"
          example: "loading"

    eventStart:
      properties: 
        data:
          type: object
          $ref: "#/components/schemas/eventStartData"
    
    eventStartData:
      properties:
        p24:
          type: boolean
          description: "Indication of the message addressee"
        type:
          type: string
          description: "Indication of message type"
          example: "start"
    
    eventReady:
      properties: 
        data:
          type: object
          $ref: "#/components/schemas/eventReadyData"
    
    eventReadyData:
      properties:
        p24:
          type: boolean
          description: "Indication of the message addressee"
        type:
          type: string
          description: "Indication of message type"
          example: "start"
        status:
          type: boolean
          description: "Indicating whether the form is completed correctly and the button can be activated"
          example: true
        buttons:
          type: array          
          description: "Indication of which button is affected by the status"          
          items:
            type: string
            enum: 
              - temporary
              - permanent
              - temporary,permanent
    

    eventSuccess:
      properties: 
        data:
          type: object
          $ref: "#/components/schemas/eventSuccessData"
    
    eventSuccessData:
      properties:
        p24:
          type: boolean
          description: "Indication of the message addressee"
        type:
          type: string
          description: "Indication of message type"
          example: "success"
        data:
          type: object
          $ref: "#/components/schemas/eventSuccessDataData"

    eventSuccessDataData:
      properties:
        cardType: 
          type: string
          description: "Indication of card type"
          example: Visa
        bank:
          type: string
          description: "Indication on the card issuer's bank"
          example: "Bank Polska Kasa Opieki S.A. (Bank Pekao Sa)"
        refId:
          type: string
          description: "Indication of the id that will be used to charge the Payer's card"
          example: "G7891BF3-F04CB264-8B294H9E-1834D8AC"
        bin:
          type: integer
          description: "Indication on bin of stored card"
          example: "512345"
        mask:
          type: string
          description: "Indication on last4 saved card"
          example: "XXXX XXXX XXXX 2122"
        cardDate:
          type: string
          description: "Indication of the expiration date of the stored card (MMYYY)"
          example: "122024"
        hash:
          type: string
          description: "Indication of the hash of the stored card"
          example: "a5fe3eb65615e7db2c55623f30675531b05cd"
        cardCountry:
          type: string
          description: "Indication of the card's country of issue"
          example: "PL"
        tokenization:
          type: string
          description: "Indication of card recording type"
          example: "permanent"

        
    eventFail:
      properties: 
        data:
          type: object
          $ref: "#/components/schemas/eventFailData"
    
    eventFailData:
      properties:
        p24:
          type: boolean
          description: "Indication of the message addressee"
        type:
          type: string
          description: "Indication of message type"
          example: "fail"
        error:
          type: array          
          description: "An indication of the type of error"          
          items:
            type: string
            example: "invalidCardNumber"

    NetworkTokenNotification:
      type: object
      properties:
        refid:
          type: string
          description: Reference number for making debits during card transactions 
          example: "BDA8DF2315F17426D1279776DE1E032"
        token_status:
          type: string
          description: Current token status
          example: "active"
          enum: 
            - active
            - suspended 
            - cancelled
        tokenExpire:
          allOf: 
          - $ref: "#/components/schemas/NetworkTokenNotificationTokenExpire"
        card_art:
          allOf: 
          - $ref: "#/components/schemas/NetworkTokenNotificationCardArt"
        card_logotype:
          allOf:
          - $ref: "#/components/schemas/NetworkTokenNotificationCardLogotype"
        card:
          allOf: 
          - $ref: "#/components/schemas/NetworkTokenNotificationCard"
        
    NetworkTokenNotificationTokenExpire:
      type: object
      description: Data on the validity of the token 
      properties:
        month: 
          type: integer
          description: Month
          example: 2
        year:
          type: integer
          description: Year
          example: 2028


    NetworkTokenNotificationCardArt:
      type: object
      description: "Card appearance data. </br><i>Submission of the object depends on the data received from the card organizations.</i>" 
      properties:
        width: 
          type: integer
          description: Recommended card width in px
          example: 1536
        height:
          type: integer
          description: Recommended card height in px
          example: 960
        url:
          type: string
          description: Link to download art card
          example: https://card-art/combined-image-asset/MyBank.png

    NetworkTokenNotificationCardLogotype:
      type: object
      description: "Card logo data. </br><i>Submission of the object depends on the data received from the card organizations.</i>" 
      properties:
        width: 
          type: integer
          description: Recommended width of the logo in px
          example: 100
        height:
          type: integer
          description: Recommended height of the logo in px
          example: 100
        url:
          type: string
          description: "Link to download the card's logo"
          example: https://card-logotype/combined-image-asset/MyBank.png
        
    NetworkTokenNotificationCard:
      type: object
      description: "Card data. </br><i>The object is sent if any of the following parameters change</i>"
      properties:
        bin: 
          type: string
          description: BIN value of the card
          example: "564125"
        mask:
          type: string
          description: Card mask  
          example: "XXXX XXXX XXXX 1101"
        expire_date:
          allOf: 
          - $ref: "#/components/schemas/NetworkTokenNotificationCardExpireDate"
    
    NetworkTokenNotificationCardExpireDate:
      type: object
      description: Card expiry data
      properties:
        month: 
          type: integer
          description: Month
          example: 10
        year:
          type: integer
          description: Year
          example: 2025
         
    render_new:
          required:
            - type
            - id
          properties:
            type:
              type: string
              enum:
                - form
              description: "Form type"
            id:
              type: string
              example: "#card-form-block"
              description: "ID of the block in which the iFrame will be generated"
            options:
              type: object
              description: "Additional form styling options"
             # $ref: "#/components/schemas/renderOptions"
          type: object

    renderOptions:
      properties:
        lang:
          type: string
          description: "Default form language according to ISO 639-1 standard"
          default: "pl"
        loader:
          type: boolean
          description: "Indicate whether to show loader when building form"
          default: false
        errorMessage:
          type: boolean
          description: "Indicate whether to show an error if the Payer completes the form incorrectly"
          default: false
        transactions:
          type: object
          description: "Additional transaction data"
          properties:
            amount:
              type: integer
              description: "Transaction amount expressed in lowest currency unit, e.g. 1.23 PLN = 123"
              example: 1000
            currency:
              type: string
              description: "Transaction currency in accordance with ISO"
              example: "PLN"
            channel:
              type: string
              description: "Indicate which payment channels are to be available on the form</br>  1 - cards"
              example: 1
              enum: 1
        c2p:
          type: boolean
          description: 'Available Click to Pay payment in form. </br><font size="2"><i> Click to Pay is an extension of the current card payment method, allowing card details to be stored in one secure place - the payer profile.  <a href="https://www.przelewy24.pl/blog/click-pay-co-jest-i-jak-dzial">Read more</a></font></i> </br><b style="color: #DB2053; font-size: 11.5px;"><i> IMPORTANT!:</b></br><span style="color: #DB2053; font-size: 11.5px;"> There will be a blocking of card enrollment in permanent mode (e.g., for recurring payments) if the payer logs his profile in Click to Pay. </span></i>'
          default: false
        psu:
          type: object
          description: "Additional data about the Payer"
          properties:
            email:
              type: string
              description: "Email Payer"
              example: "Jan.Kowalski@gmail.com"
        size:
          type: object
          description: "Object that modifies the size of the iFrame"
          properties:
            width:
              type: string
              minimum: 360px
              description: 'Width <br> <b style="color: #DB2053; font-size: 11.5px;"><i>IMPORTANT!:</b></br><span style="color: #DB2053; font-size: 11.5px;"> Sending less than the minimum value will cause a form generation error. In such a situation, a fail event will be sent. </i></span> '
              default: "370px"
            height:
              type: string
              description: "The height of the iFrame. By default, it will adjust to the content presented in the iFrame"
              default: "638px"
        agreement:
          type: object
          description: "Object responsible for visibility of Przelewy24 regulations"
          properties:
            contentEnabled:
              type: object
              description: "Object that modifies the visibility of elements"
              properties:
                enabled:
                  type: boolean
                  description: "Indicate whether the rules of Przelewy24 are to be displayed"
                  example: true
                checkboxEnabled: 
                 type: boolean
                 description: "Indication of whether the displayed regulations require confirmation by the Payer"
                 example: true
            TOSLanguage:
              type: string
              deprecated: true
              description: "Defines in which language the text of the terms of service in ISO 639-1 will be displayed."
              default: "pl"        
        agreement_save_card:
          type: object
          description: "Object responsible for visibility of Merchant's regulations"
          properties:
            contentEnabled:
              type: object
              description: "Object that modifies the visibility of elements"
              properties:
                enabled:
                  type: boolean
                  description: "Indicate whether Merchant's regulations are to be displayed"
                  example: true
                checkboxEnabled: 
                 type: boolean
                 description: 'Indicate whether the displayed regulations require confirmation by the Payer  <br><b style="color: #DB2053; font-size: 11.5px;"><i>IMPORTANT!:</b></br><span style="color: #DB2053; font-size: 11.5px;"> With Click to Pay enabled, it is not possible to present Merchant''s terms and conditions without requiring the Payer to confirm them (no checkbox). Attempting to set this up will result in a form generation error. A fail event will be returned. For the moment, the Payer can save the card either to Click to Pay or with Merchant. </i></span> '
                 example: true    
        labels:
          type: object
          description: "Text modification object visible as label of fields"
          properties:
            cardholder:
              type: string
              maximum: 40 chars
              description: 'Text visible as a cardholder field label <br> <b style="color: #DB2053; font-size: 11.5px;"><i>IMPORTANT!:</b></br><span style="color: #DB2053; font-size: 11.5px;">Send more than the maximum value will cause a form generation error. In this situation, a fail event will be passed. </i></span> '
              default: "Name and surname"
              example: "Name and surname of the cardholder "
            card:
              type: string
              maximum: 40 chars
              description: 'Text visible as label of card number field <br> <b style="color: #DB2053; font-size: 11.5px;"><i>IMPORTANT!:</b></br><span style="color: #DB2053; font-size: 11.5px;">Send more than the maximum value will cause a form generation error. In this situation, a fail event will be passed. </i></span> '
              default: "Card number"
              example: "Card number"
            cvv:
              type: string
              maximum: 30 chars
              description: 'Text visible as the label of the field of CVV/CVC number of the card <br> <b style="color: #DB2053; font-size: 11.5px;"><i>IMPORTANT!:</b></br><span style="color: #DB2053; font-size: 11.5px;">Send more than the maximum value will cause a form generation error. In this situation, a fail event will be passed. </i></span> '
              default: "CVV/CVC code"
              example: "CVV/CVC"
            exp:
              type: string
              maximum: 30 chars
              description: 'Text visible as label of card expiration date field <br> <b style="color: #DB2053; font-size: 11.5px;"><i>IMPORTANT!:</b></br><span style="color: #DB2053; font-size: 11.5px;">Send more than the maximum value will cause a form generation error. In this situation, a fail event will be passed. </i></span> '
              default: "Expiry date"
              example: "MM/RR"
        placeholders:
          type: object
          description: "Object that modifies the text visible in each element"
          properties:
            card:
              type: string
              description: "Text visible in the card element"
              default: "0000 0000 0000 0000"
              example: "Enter your card number"
            cvv:
              type: string
              description: "Text visible in the cvv element"
              default: "123"
              example: "Enter your CVV/CVC"
            exp:
              type: string
              description: "Text visible in the expire date element"
              default: "MM/RR"
              example: "Enter your expire date"
            cardholder:
              type: string
              description: "Text visible in the cardholder element"
              default: "John Doe"
              example: "Enter the name and surname of the cardholder"
        buttons:
          type: object
          description: 'The object that enables the configuration of buttons in a card form. <br> <b style="color: #DB2053; font-size: 11.5px;"><i>IMPORTANT!:</b></br><span style="color: #DB2053; font-size: 11.5px;">By default, buttons are not available in iFrame. </i></span>'
          properties:
            tokenize:
              type: object
[...]
